.card-header {
    background-image: linear-gradient(to right, #2429e0, #39ffff, #2429e0);
    border-radius: 0px;
}

.back-icon {
    text-align: right;
    margin: 10px 35px 0 0;

    i {
        font-size: 30px;
        color: #2c1a94;
        cursor: pointer;
    }
}