.card-body12 {
    // width: 160px;
    height: 36px;
  }
  
  .bg-sms {
    background-color: #0a6bc0;
  }
  
  .cardHead {
  
    position: relative;
  
    display: flex;
  
    flex-direction: column;
  
    min-width: 0;
  
    word-wrap: break-word;
  
    padding: 18px;
  
    background-clip: border-box;
  
    border: 0px solid rgba(0, 0, 0, 0);
  
    border-radius: .25rem;
  
    margin-bottom: 1.0rem;
  
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
  
    transition: all .3s ease-in-out;
  
    background-color: white;
  
  }
  
  
  
  .cardHead:hover {
  
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  
    transform: translate3d(0px, -2px, 0px);
  
    cursor: pointer;
  
    pointer-events: auto;
  
  }
  
  
  
  .widgets-icons-2 {
  
    width: 38px;
  
    height: 38px;
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    background-color: #ededed;
  
    font-size: 27px;
  
    border-radius: 10px;
  
  }
  
  .rounded-circle {
  
    border-radius: 50% !important;
  
  }
  
  .ms-auto {
  
    margin-left: 0px;
  
  }
  
  
  
  .bg-gradient-info {
  
    background: #17ead9;
  
    background: -webkit-linear-gradient(45deg, #17ead9, #6078ea) !important;
  
    background: linear-gradient(45deg, #17ead9, #6078ea) !important;
  
  }
  
  
  
  .bg-gradient-violet {
  
    background: #510e66;
  
    background: -webkit-linear-gradient(45deg, #eadbf8, #85329c) !important;
  
    background: linear-gradient(45deg, #e9b2fa, #7e2279) !important;
  
  }
  
  
  
  .bg-gradient-brown {
  
    background: #740f0f;
  
    background: -webkit-linear-gradient(45deg, #a05518, #c43a3a) !important;
  
    background: linear-gradient(45deg, #f2f565, #da3535) !important;
  
  }
  
  
  
  .bg-gradient-darkblue {
  
    background: #399C91;
  
    background: -webkit-linear-gradient(45deg, #aedaf3, #399C91) !important;
  
    background: linear-gradient(45deg, #9ff8f4, #399C91) !important;
  
  }
  
  .bg-gradient-darkblue {
  
    background: #399C91;
  
    background: -webkit-linear-gradient(45deg, #aedaf3, #399C91) !important;
  
    background: linear-gradient(45deg, #9ff8f4, #399C91) !important;
  
  }
  
  .bg-gradient-purple {
  
    background: #be267a;
  
    background: -webkit-linear-gradient(45deg, #f8bceb, #be267a) !important;
  
    background: linear-gradient(45deg, #f7bdde, #be267a) !important;
  
  }
  
  .bg-gradient-darkgreen {
  
    background: #B66B1A;
  
    background: -webkit-linear-gradient(45deg, #ecd776, #B66B1A) !important;
  
    background: linear-gradient(45deg, #eff77e, #B66B1A) !important;
  
  }
  
  .bg-gradient-darkblues {
  
    background: #1E2961;
  
    background: -webkit-linear-gradient(45deg, #c0c4f8, #1E2961) !important;
  
    background: linear-gradient(45deg, #cfc8f8, #1E2961) !important;
  
  }
  
  .bg-gradient-darkoranges {
  
    background: #ec9b20;
  
    background: -webkit-linear-gradient(45deg, #faab6b, #ec9b20) !important;
  
    background: linear-gradient(45deg, #ccf8a4, #ec9b20) !important;
  
  }
  
  .bg-gradient-darkgreens {
  
    background: #3F7B33;
  
    background: -webkit-linear-gradient(45deg, #47ac6d, #3F7B33) !important;
  
    background: linear-gradient(45deg, #c9fc9b, #3F7B33) !important;
  
  }
  
  .border-orange {
  
    border-left: 5px solid #B66B1A !important;
  
  }
  
  .border-blue {
  
    border-left: 5px solid #1E2961 !important;
  
  }
  
  .border-purple {
  
    border-left: 5px solid #ec9b20 !important;
  
  }
  
  .border-darkgreen {
  
    border-left: 5px solid #3F7B33 !important;
  
  }
  
  .border-darkblue {
  
    border-left: 5px solid #399C91 !important;
  
  }
  
  .border-violet {
  
    border-left: 5px solid #764C9B !important;
  
  }
  
  .border-brown {
  
    border-left: 5px solid #C11C1C !important;
  
  }
  
  .border-darkorange {
  
    border-left: 5px solid #be267a !important;
  
  }
  
  .radius-10 {
    border-radius: 10px !important;
  }
  /////call log///
  
  .calllog {
    background-color: #fff;
    width: 313px;
    margin: 10px auto;
    border: 2px solid;
    padding: 50px 0px 12px 0;
    border-radius: 25px;
    position: relative;
  }
  
  .calllog:before {
    content: "";
    position: absolute;
    border: 2px solid;
    left: 50%;
    width: 100px;
    height: 3px;
    border-radius: 25px;
    margin-left: -50px;
    top: 31px;
  }
  
  .content {
    background-color: #096087;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 304px;
    height: 389px;
    margin: 15px auto;
    overflow: hidden;
    position: relative;
    border: 2px solid #000;
  }
  
  .content:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 100%;
    background: linear-gradient(transparent, #096087);
    z-index: 10;
    bottom: 0px;
  }
  
  .logpage {
    padding: 15px;
  
    h1 {
      font-weight: 300;
      display: inline;
    }
  
    h2 {
      font-weight: 300;
      display: inline;
      float: right;
      margin-top: 15px;
      font-size: 20px;
    }
  }
  
  .summary {
    height: 319px;
    width: 340px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #096087;
  
    article {
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
  
    .summary-list {
      margin: 0 -1px;
      position: relative;
  
      .summary-list-item:first-child::before {
        top: 10px;
      }
  
      .summary-list-item {
        overflow: hidden;
        padding-bottom: 15px;
        position: relative;
        z-index: 3;
  
        .summary-view {
          float: left;
        }
  
        .summary-format {
          .summary-format-text {
            font-size: 14px;
            font-weight: 400;
            text-align: right;
            line-height: 0.9;
            margin: 12px 0;
  
            span {
              display: block;
              font-size: 12px;
              font-weight: 300;
            }
          }
        }
  
        .summary-icon.call {
          span {
            font-size: 15px;
            padding: 2px 6px;
            margin: 0 -4px;
          }
        }
  
        .summary-icon.message {
          span {
            font-size: 14px;
            padding: 3px 6px;
          }
        }
  
        .summary-icon {
          margin: 0 10px;
  
          span {
            display: block;
            border: 5px solid #2684AD;
            border-radius: 50%;
            background-color: #42ADDA;
          }
  
        }
  
        .summary-text::before {
          content: "";
          position: absolute;
          left: 237px;
          width: 11px;
          height: 11px;
          background-color: #42ADDA;
          transform: rotate(45deg);
          top: 10px;
        }
  
        .summary-text {
          position: relative;
          background-color: #42ADDA;
          padding: 5px 10px;
          border-radius: 5px;
          margin-left: 0px;
          width: 78%;
  
          .log-type {
            font-size: 12px;
          }
  
          .test1 {
            font-weight: 300;
            font-size: 12px;
          }
  
          .test2 {
            font-weight: 400;
            font-size: 14px;
          }
  
        }
      }
    }
  }