<div class="card">
    <div class="row ms-3 mt-3 d-flex algin-items-center">
        <div class="col"> 
            <h3 class="card-title fw-bolder">Sales Return Summary</h3>
        </div>
        <div class="col me-5">
            <button title="Add Sales Return" class="btn-primary btn-lg text-white me-4 mb-2 mt-2 float-end"
            routerLink="/ims/ImsTrnSalesReturnAdd">
                <i class="fa-solid fa-plus me-2"></i>&nbsp; Add Sales Return
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
            <table id="GetSalesReturn_list" class="table table-stripped table-row-bordered border-bottom gs-7">
                <thead>
                    <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue algin-middle">
                        <th>S.No</th>
                        <th>Branch</th>
                        <th>Date</th>
                        <th>Ref No</th>
                        <th>DO Ref No</th>
                        <th>Customer</th>
                        <th style="width: 5%;">Details</th>
                        <th>Contact Details</th>
                         
                        <!-- <th>Status</th> -->
                        <th class="text-center bg-lightblue ">Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of GetSalesReturn_list; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{data.branch_prefix}}</td>
                        <td>{{data.salesreturn_date}}</td>
                        <td>{{data.salesreturn_gid}}</td>
                        <td>{{data.deliveryorder_gid}}</td>
                        <td>{{data.customer_name}}</td>
                        <td class="text-center">   <label title="Product Details" data-bs-toggle="modal" data-bs-target="#myModalcustomerdetail"
                          (click)="Getproduct(data.salesreturn_gid)">
                          <i class="fas fa-question-circle fa-5x text-primary fs-2" style="cursor: pointer;"></i>
                        </label></td>
                        <td>{{data.contact}}</td>
                        
                        <!-- <td>{{data.delivery_status}}</td> -->
                        <td class="text-nowrap text-center">
                            <button title="View" type="button" class="btn btn-icon btn-sm bg-primary me-2"
                            (click)="SalesReturnView(data.salesreturn_gid)" data-bs-toggle="modal"><span
                              class="fa-solid fa-eye text-white fs-6"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal" id="myModalcustomerdetail" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content d-flex justify-content-center">
        <div class="card-header p-1 pb-1 pt-1 rounded-top bg-primary"
           style="display: flex; align-items: center; height: 40px;">
           <h3 style="margin-top: 10px; color: white; font-weight: bold" class="mt-8">
            &nbsp;&nbsp;Product Details
          </h3>
       </div>
       <div class="modal-body">
        <table id="materialindentlist" class="table table-striped table-bordered text-blue border-bottom gs-7 align-middle ">
          <thead>
              <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                  <th  class="text-blue text-center" style="width:2%">S.No</th>
                  <th  class="text-blue text-center" style="width: 10%;">Product Group</th>
                  <th  class="text-blue text-center" style="width: 20%;">Product</th>
                  <th  class="text-blue text-center" style="width: 20%;">Description</th>
                  <th  class="text-blue text-center" style="width: 5%;">Returned Qty</th> 
              </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of getGetViewSRProduct_list;let i = index;">
            <td>{{i+1}}</td>
            <td>{{data.productgroup_name}}</td>
            <td>{{data.product_code}}/{{data.product_name}}</td>
            <td>{{data.product_desc}}</td>
            <td>{{data.qty_returned}} {{data.productuom_name}}</td>
          </tr>
        </tbody>
          </table>
        <div class="text-center my-4">
          <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>