.nav-twotabs .twotab.active, .nav-twotabs .nav-items.show  {
    color: #ffffff !important;
    background-color: #009EF7;   
  }
  .twotab:hover{
    background-color:#009EF7 ;
    color: #ffffff !important;
  
  }
  .border-pinkish {

    border-left: 5px solid #d4559b !important;
  
  }