<div class="card">
  <div class="row ms-3 mt-3 d-flex align-items-center">
    <div class="col">
      <h3 class="card-title">Product Units Summary</h3>
    </div>

    <div class="col me-5">
      <button type="button" class="btn-primary btn-sm text-white me-4 float-end" data-bs-toggle="modal"
        data-bs-target="#myModaladd">
        <i class="fas fa-plus"></i>&nbsp; Add Product Units Class
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
      <table id="Mktproductunits_list" class="table table-striped table-row-bordered gy-5 gs-7">
        <thead>
          <tr class="fw-bold fs-7 text-nowrap bg-lightblue text-blue align-middle">
            <th>S.no</th>
            <th>Unit Class Code</th>
            <th>Unit Class</th>
            <th class="text-center">Details</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of Mktproductunits_list; let i = index">

            <td>{{ i + 1 }}</td>
            <td>{{ data.productuomclass_code }}</td>
            <td>{{ data.productuomclass_name }}</td>
            <td class="text-center text-nowrap">
              <label title="Details" data-bs-toggle="modal" data-bs-target="#myModalUpdateimage9"
                (click)="Details(data.productuomclass_gid)">
                <i class="fas fa-question-circle fa-5x text-center text-primary fs-2"></i>
              </label>
            </td>
            <td class="text-center text-nowrap">
              <!-- <button title="Edit" type="button" class="btn btn-icon btn-sm bg-success me-2"
                (click)="openModaledit(data)" data-bs-toggle="modal" data-bs-target="#myModaledit">
                <span class="fa-solid fa-pencil text-white fs-6"></span>
              </button>
              <button title="Add Product Unit" type="button" class="btn btn-icon btn-sm bg-primary me-2"
                data-bs-toggle="modal" data-bs-target="#myModaladdproduct"
                (click)="productunitclass(data.productuomclass_gid)">
                <span class="fa-solid fa-plus text-white fs-6"></span>
              </button>


              <button title="Delete" type="button" (click)="openModaldelete(data.productuomclass_gid)"
                data-bs-toggle="modal" data-bs-target="#myModaldelete" class="btn btn-icon btn-sm bg-danger me-2">
                <span class="fa-solid fa-trash text-white fs-6"></span>
              </button>

              <br /> -->
              <div style="cursor: pointer;">
                <button class="btn me-2 p-1 " title="Options" (click)="toggleOptions(data.productuomclass_gid)"><span
                        class="fa-solid fa-ellipsis-vertical fs-1"
                        style="color: #4d4d4d;"></span></button>
                <div *ngIf="showOptionsDivId === data.productuomclass_gid"
                    class="pb-0 rounded bg-white cursor-pointer icon_menu" style="right: 80px;">
                    <div class="d-flex p-3 pb-3 Icon_hover" data-bs-toggle="modal"
                    data-bs-target="#myModaledit" (click)="openModaledit(data)">
                        <span><i class="fa-regular fa-pen-to-square fs-3 me-5"></i></span><span
                            class="tooltip">Edit</span>
                        <span>Edit</span>
                    </div>
                    <div class="d-flex p-3 pb-3 Icon_hover" data-bs-toggle="modal" data-bs-target="#myModaladdproduct"
                    (click)="productunitclass(data.productuomclass_gid)">
                        <span><i class=" fa fa-plus fs-3 me-5"></i></span><span
                            class="tooltip">Add Product Unit</span>
                        <span>Add Product Unit</span>
                    </div>
                    <div class="d-flex p-3 pb-3 Icon_hover"
                    (click)="openModaldelete(data.productuomclass_gid)"
                    data-bs-toggle="modal" data-bs-target="#myModaldelete" >
                        <span><i class="fa-regular fa-trash-can fs-3 me-5"></i></span>
                        <span>Delete</span><span class="tooltip">Delete</span>
                    </div>
                </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <div class="modal fade"  tabindex="-1" data-bs-backdrop='static'
    aria-labelledby="editamlcategoryLabel" aria-hidden="true" data-bs-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content  d-flex justify-content-center">
        <div class="card-header p-1 pb-1 pt-1 rounded-top bg-primary">

          <h3 style="margin-top: 10px; color: white; font-weight: bold">
            &nbsp;&nbsp; {{productunit.productuomclass_name}}
          </h3>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
              <table id="Mktproductunitgrid_list" class="table table-striped table-row-bordered gy-5 gs-7 ">
                <thead>
                  <tr class="fw-bold fs-7 text-nowrap bg-lightblue text-blue align-middle">
                    <th>Unit Code</th>
                    <th>Unit Name</th>
                    <th>Sequence Level</th>
                    <th>Conversion Rate</th>
                    <th>Base Flag</th>
                    <th>Action</th>


                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of Mktproductunitgrid_list; let i=index;" style="white-space: nowrap;">
                    <td>{{ data.productuom_code }}</td>
                    <td>{{ data.productuom_name }}</td>
                    <td>{{ data.sequence_level }}</td>
                    <td>{{ data.convertion_rate }}</td>
                    <td><span *ngIf="data.baseuom_flag ==='Y'">Yes</span><span
                        *ngIf="data.baseuom_flag ==='N'">NO</span></td>
                    <td class="text-center text-nowrap">
                      <button title="Edit" type="button" class="btn btn-icon btn-sm bg-success me-2"
                        (click)="Openproductunit(data)" data-bs-toggle="modal" data-bs-target="#myModaleditproduct">
                        <span class="fa-solid fa-pencil text-white fs-6"></span>
                      </button>
                      <button title="Delete" type="button" (click)="openeditdelete(data.productuom_gid)"
                        data-bs-toggle="modal" data-bs-target="#myproductunitdelete"
                        class="btn btn-icon btn-sm bg-danger me-2">
                        <span class="fa-solid fa-trash text-white fs-6"></span>
                      </button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-center my-4">
            <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal" style="background-color: red;">
              <i class="fas fa-arrow-left text-white"></i> &nbsp;Back
            </button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- The Modal ADD UNIT CLASS DETAILS-->
<form [formGroup]="reactiveForm" #form="ngForm">
  <div class="modal" id="myModaladd" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->

        <div class="card-header p-1 pb-2 pt-1 rounded-top bg-primary">
          <h3 style="margin-top: 10px; color: white; font-weight: bold">
            &nbsp;&nbsp;<i class="fas fa-plus fw-bolder fs-5"></i>
            &nbsp;&nbsp;Add Product Units Class
          </h3>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <!-- <div class="row">
              <span class="fw-bold">Unit Class Code<span class="ms-1 text-red">*</span></span>
              <div class="col-lg-11 col-md-12 col-sm-12 fv-row mt-2 d-flex">
  
                <input formControlName="productuomclass_code" type="text"
                  class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                  [ngStyle]="{
                    'border-color':
                      productuomclass_code.invalid && productuomclass_code.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="Enter Unit Class Code" pattern="^(?!\s*$).+" pattern="^(PUC)[0-9]{4}$"
                  name="productuomclass_code" required style="height:40px;" />
              </div>
            </div>
            <div *ngIf="
                productuomclass_code.invalid &&
                (productuomclass_code.dirty || productuomclass_code.touched)
              ">
              <div *ngIf="productuomclass_code.errors?.['required']">
                <span style="color: red">Unit Class Code is required.</span>
              </div>
              <div *ngIf="productuomclass_code.errors?.['pattern']">
                <span style="color: red">Unit Class Code Like "PUC0000".</span>
              </div>
            </div>
            <br /> -->

          <div class="row">
            <span class="fw-bold">Unit Class Name<span class="ms-1 text-red">*</span></span>
            <div class="col-lg-11 col-md-12 col-sm-12 fv-row mt-2 d-flex">

              <input formControlName="productuomclass_name" type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                [ngStyle]="{
                    'border-color':
                      productuomclass_name.invalid && productuomclass_name.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="Enter Unit Class Name" name="productuomclass_name" required style="height:40px;" />
            </div>
          </div>
          <div *ngIf="
                productuomclass_name.invalid &&
                (productuomclass_name.dirty || productuomclass_name.touched)
              ">
            <div *ngIf="productuomclass_name.errors?.['required']">
              <span style="color: red">Unit Class Name is required.</span>
            </div>
            <!-- <div *ngIf="productuomclass_name.errors?.['pattern']">
                <span style="color: red">Unit Class Name is required.</span>
              </div> -->
          </div>
          <div *ngIf="productuomclass_name.invalid && (productuomclass_name.dirty || productuomclass_name.touched)">
            <div *ngIf="productuomclass_name.errors?.['pattern']">
              <span style="color:red;">Invalid Format</span>
            </div>
          </div>
          <br />
        </div>

        <!-- Modal footer -->
        <div class="text-center my-4">
          <button (click)="onsubmit()" [disabled]="reactiveForm.invalid" [ngClass]="{
                          'primary-button': !reactiveForm.invalid,
                          'secondary-button': reactiveForm.invalid
                        }" data-bs-dismiss="modal">
            <i class="fas fa-check text-white fs-5"></i> &nbsp;Submit
          </button>
          &nbsp;&nbsp;
          <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal" (click)="onclose()">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- The Modal EDIT UNIT CLASS DETAILS-->
<form [formGroup]="reactiveFormEdit" #form="ngForm">
  <div class="modal" id="myModaledit" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->

        <div class="card-header p-1 pb-2 pt-1 rounded-top bg-primary">
          <h3 style="margin-top: 10px; color: white; font-weight: bold">
            &nbsp;&nbsp;<i class="fa-solid fa-pen-to-square fs-2"></i>
            &nbsp;&nbsp; Edit Product Units Class
          </h3>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <!-- <input class="form-control form-control-lg" formControlName="productuomclass_gid" hidden pattern="^(?!\s*$).+"
              type="text" placeholder="Enter Entity" aria-label=".form-control-lg example" autocomplete="off" required />
  
            <div class="row">
              <span class="fw-bold">Unit Class Code<span class="ms-1 text-red">*</span></span>
              <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
  
                <input formControlName="productuomclassedit_code" type="text"
                  class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                  [ngStyle]="{
                    'border-color':
                      productuomclassedit_code.invalid &&
                      productuomclassedit_code.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="Enter Unit Class Code" pattern="^(?!\s*$).+" pattern="^(PUC)[0-9]{4}$"
                  name="productuomclassedit_code" required readonly style="height:40px;" />
              </div>
            </div> -->
          <div *ngIf="
                productuomclassedit_code.invalid &&
                (productuomclassedit_code.dirty ||
                  productuomclassedit_code.touched)
              ">
            <div *ngIf="productuomclassedit_code.errors?.['required']">
              <span style="color: red">Unit Class Code is required.</span>
            </div>
            <div *ngIf="productuomclassedit_code.errors?.['pattern']">
              <span style="color: red">Unit Class Code Like "PUC0000".</span>
            </div>
          </div>
          <br />

          <div class="row">
            <span class="fw-bold">Unit Class Name<span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">

              <input formControlName="productuomclassedit_name" type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                [ngStyle]="{
                    'border-color':
                      productuomclassedit_name.invalid &&
                      productuomclassedit_name.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="Enter Unit Class Name" name="productuomclassedit_name" required
                style="height:40px;" />
            </div>
          </div>
          <div *ngIf="
                productuomclassedit_name.invalid &&
                (productuomclassedit_name.dirty ||
                  productuomclassedit_name.touched)
              ">
            <div *ngIf="productuomclassedit_name.errors?.['required']">
              <span style="color: red">Unit Class Name is required.</span>
            </div>
            <div
              *ngIf="productuomclassedit_name.invalid && (productuomclassedit_name.dirty || productuomclassedit_name.touched)">
              <div *ngIf="productuomclassedit_name.errors?.['pattern']">
                <span style="color:red;">Invalid Format</span>
              </div>
            </div>
          </div>

          <br />
        </div>

        <!-- Modal footer -->
        <div class="text-center my-4">
          <button (click)="onupdate()" [disabled]="reactiveFormEdit.invalid" [ngClass]="{
                'primary-button': !reactiveFormEdit.invalid,
                'secondary-button': reactiveFormEdit.invalid
              }" data-bs-dismiss="modal">
            <i class="fas fa-check text-white fs-5"></i> &nbsp;Update
          </button>
          &nbsp;&nbsp;
          <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- The Modal Delete -->
<div class="modal" id="myModaldelete" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="text-center my-4">
        <h2><b>Are you sure?</b></h2>
        <p style="display: block">Do You Want To Delete the Record ?</p>
        <div class="text-center my-4">
          <button class="btn-danger btn-sm text-white me-4" (click)="ondelete()" data-bs-dismiss="modal">
            <i class="fas fa-trash text-white fs-5"></i> &nbsp;Delete
          </button>
          <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close</button>&nbsp;

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product unit add -->
<form [formGroup]="reactiveFormadd" #form="ngForm">
  <div class="modal" id="myModaladdproduct" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->

        <div class="card-header p-1 pb-2 pt-1 rounded-top bg-primary">
          <h3 style="margin-top: 10px; color: white; font-weight: bold">
            &nbsp;&nbsp;<i class="fa-solid fa-plus fs-5"></i>
            &nbsp;&nbsp; Add Product Unit
          </h3>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <!-- <input class="form-control form-control-lg" formControlName="productuomclass_gid" hidden pattern="^(?!\s*$).+"
              type="text" placeholder="Enter Entity" aria-label=".form-control-lg example" autocomplete="off" required />
  
            <div class="row">
              <span class="fw-bold">Product Unit Code
                <span class="ms-1 text-red">*</span></span>
              <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                <input formControlName="productuomclassadd_code" type="text"
                  class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                  [ngStyle]="{
                    'border-color':
                      productuomclassadd_code.invalid &&
                      productuomclassadd_code.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="Enter Product Unit Code"  pattern="^(PU)[0-9]{4}$" name="productuomclassadd_code"
                  required style="height:40px;" />
              </div>
            </div>
            <div *ngIf="
                productuomclassadd_code.invalid &&
                (productuomclassadd_code.dirty ||
                  productuomclassadd_code.touched)
              ">
              <div *ngIf="productuomclassadd_code.errors?.['required']">
                <span style="color: red">Product Unit Code is required.</span>
              </div>
              <div *ngIf="productuomclassadd_code.errors?.['pattern']">
                <span style="color: red">Product Unit Code Like PU000</span>
              </div>
            </div>
            <br /> -->

          <div class="row">
            <span class="fw-bold">Product Unit Name
              <span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
              <input formControlName="productuomclassadd_name" type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                [ngStyle]="{
                    'border-color':
                      productuomclassadd_name.invalid &&
                      productuomclassadd_name.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="Enter Product Unit Name" name="productuomclassadd_name" required
                style="height:40px;" />
            </div>
          </div>
          <div *ngIf="
                productuomclassadd_name.invalid &&
                (productuomclassadd_name.dirty ||
                  productuomclassadd_name.touched)
              ">
            <div *ngIf="productuomclassadd_name.errors?.['required']">
              <span style="color: red">Product Unit Name is required.</span>
            </div>
            <div *ngIf="productuomclassadd_name.errors?.['pattern']">
              <span style="color: red">Invalid Format.</span>
            </div>
          </div>
          <br />
          <div class="row">
            <span class="fw-bold">Product Unit Class</span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
              <input type="text" class="
                  form-control form-control-lg form-control-solid custom-input
                  mb-3 mb-lg-0  borderc-secondary bg-white custom-input
                " formControlName="productuomclass_name" class="form-control" readonly style="height:40px;" />
            </div>
          </div>
          <br>

          <div class="row">
            <span class="fw-bold">Sequence Level<span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
              <input formControlName="sequence_level" type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                [ngStyle]="{
                    'border-color':
                      sequence_level.invalid && sequence_level.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="Enter Sequence Level" name="sequence_level" required style="height:40px;" />
            </div>
          </div>
          <div *ngIf="
                sequence_level.invalid &&
                (sequence_level.dirty || sequence_level.touched)
              ">
            <div *ngIf="sequence_level.errors?.['required']">
              <span style="color: red">Sequence Level is required.</span>
            </div>
            <!-- <div *ngIf="sequence_level.errors?.['pattern']">
                <span style="color: red">Invalid Format.</span>
              </div> -->
          </div>
          <br />

          <div class="row">
            <span class="fw-bold">Unit Conversion Rate<span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">

              <input formControlName="conversion_rate" type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                [ngStyle]="{
                    'border-color':
                      conversion_rate.invalid && conversion_rate.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="0.00" pattern="^(?!\s*$).+" name="conversion_rate" required style="text-align: left"
                style="height:40px;" />
            </div>
          </div>
          <div *ngIf="
                conversion_rate.invalid &&
                (conversion_rate.dirty || conversion_rate.touched)
              ">
            <div *ngIf="conversion_rate.errors?.['required']">
              <span style="color: red">Conversion Rate is required.</span>
            </div>
            <div *ngIf="conversion_rate.errors?.['pattern']">
              <span style="color: red">Space Not Accepted.</span>
            </div>
          </div>
          <br />
          <div class="row">
            <span class="fw-bold">Base Unit Flag<span class="ms-1 text-red">*</span></span>

            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm">

                <input class="form-check-input" type="radio" name="batch_flag" id="Y" formControlName="batch_flag"
                  value="Y" checked>
                <label class="form-check-label text-gray-700 text-nowrap" for="Yes">Yes</label>
              </div>
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">
                <input class="form-check-input" type="radio" formControlName="batch_flag" value="N" checked />
                <label class="form-check-label text-gray-700 text-nowrap" for="No">No</label>
              </div>
            </div>
          </div>
        </div>


        <!-- Modal footer -->
        <div class="text-center my-4">
          <button (click)="onSubmitprod()" [ngClass]="{
      'primary-button': !reactiveFormadd.invalid,
      'secondary-button': reactiveFormadd.invalid
    }" [disabled]="reactiveFormadd.invalid" data-bs-dismiss="modal">
            <i class="fas fa-check text-white fs-5"></i> &nbsp;Update
          </button>

          &nbsp;&nbsp;
          <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal" (click)="onclose1()">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Product unit edit -->
<form [formGroup]="ProductunitFormEdit" #form="ngForm">
  <div class="modal" id="myModaleditproduct" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->

        <div class="card-header p-1 pb-2 pt-1 rounded-top bg-primary">
          <h3 style="margin-top: 10px; color: white; font-weight: bold">
            &nbsp;&nbsp;<i class="fa-solid fa-pencil fs-5"></i>
            &nbsp;&nbsp; Edit Product Unit
          </h3>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

          <div class="row">
            <span class="fw-bold">Product Unit Name
              <span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
              <input formControlName="productuomedit_name" type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                [ngStyle]="{
                    'border-color':
                    productuomedit_name.invalid &&
                    productuomedit_name.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="Enter Product Unit Name" pattern="^(?!\s*$).+" name="productuomedit_name" required
                style="height:40px;" />
            </div>
          </div>
          <div *ngIf="
          productuomedit_name.invalid &&
                (productuomedit_name.dirty ||
                productuomedit_name.touched)
              ">
            <div *ngIf="productuomedit_name.errors?.['required']">
              <span style="color: red">Product Unit Name is required.</span>
            </div>
            <div *ngIf="productuomedit_name.errors?.['pattern']">
              <span style="color: red">Invalid Format.</span>
            </div>
          </div>
          <br />
          <!-- <div class="row">
            <span class="fw-bold">Product Unit Class</span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
              <input type="text" class="
                  form-control form-control-lg form-control-solid custom-input
                  mb-3 mb-lg-0  borderc-secondary bg-white custom-input
                " formControlName="productuomedit_name" class="form-control" readonly style="height:40px;" />
            </div>
          </div>
          <br> -->

          <div class="row">
            <span class="fw-bold">Sequence Level<span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
              <input formControlName="sequence_leveledit" type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                [ngStyle]="{
                    'border-color':
                    sequence_leveledit.invalid && sequence_leveledit.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="Enter Sequence Level" name="sequence_leveledit" required style="height:40px;" />
            </div>
          </div>
          <div *ngIf="
          sequence_leveledit.invalid &&
                (sequence_leveledit.dirty || sequence_leveledit.touched)
              ">
            <div *ngIf="sequence_leveledit.errors?.['required']">
              <span style="color: red">Sequence Level is required.</span>
            </div>
            <!-- <div *ngIf="sequence_level.errors?.['pattern']">
                <span style="color: red">Invalid Format.</span>
              </div> -->
          </div>
          <br />

          <div class="row">
            <span class="fw-bold">Unit Conversion Rate<span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">

              <input formControlName="conversion_rateedit" type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                [ngStyle]="{
                    'border-color':
                    conversion_rateedit.invalid && conversion_rateedit.touched
                        ? 'red'
                        : 'rgb(209, 209, 209)'
                  }" placeholder="0.00" pattern="^(?!\s*$).+" name="conversion_rateedit" required
                style="text-align: left" style="height:40px;" />
            </div>
          </div>
          <div *ngIf="
          conversion_rateedit.invalid &&
                (conversion_rateedit.dirty || conversion_rateedit.touched)
              ">
            <div *ngIf="conversion_rateedit.errors?.['required']">
              <span style="color: red">Conversion Rate is required.</span>
            </div>
            <div *ngIf="conversion_rateedit.errors?.['pattern']">
              <span style="color: red">Space Not Accepted.</span>
            </div>
          </div>
          <br />
          <div class="row">
            <span class="fw-bold">Base Unit Flag<span class="ms-1 text-red">*</span></span>

            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm">

                <input class="form-check-input" type="radio" name="batch_flagedit" id="Y"
                  formControlName="batch_flagedit" value="Y" checked>
                <label class="form-check-label text-gray-700 text-nowrap" for="Yes">Yes</label>
              </div>
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">
                <input class="form-check-input" type="radio" formControlName="batch_flagedit" value="N" checked />
                <label class="form-check-label text-gray-700 text-nowrap" for="No">No</label>
              </div>
            </div>
          </div>
        </div>


        <!-- Modal footer -->
        <div class="text-center my-4">
          <button (click)="onsubmitproductunitedit()" [ngClass]="{
      'primary-button': !ProductunitFormEdit.invalid,
      'secondary-button': ProductunitFormEdit.invalid
    }" [disabled]="ProductunitFormEdit.invalid" data-bs-dismiss="modal">
            <i class="fas fa-check text-white fs-5"></i> &nbsp;Update
          </button>

          &nbsp;&nbsp;
          <button class="btn-danger btn-sm text-white me-4" (click)="onclose1()" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- The product unit Delete -->
<div class="modal" id="myproductunitdelete" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="text-center my-4">
        <h2><b>Are you sure?</b></h2>
        <p style="display: block">Do You Want To Delete the Record ?</p>
        <div class="text-center my-4">
          <button class="btn-danger btn-sm text-white me-4" (click)="ondelete2()" data-bs-dismiss="modal">
            <i class="fas fa-trash text-white fs-5"></i> &nbsp;Delete
          </button>
          <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close</button>&nbsp;

        </div>
      </div>
    </div>
  </div>
</div>