
.bg-backs {
    background-color: #2f9445 ;
  }
  .bg-backst:hover {
    background-color: #2f9445;
    
  }
  .btn-ledger {
    background-color: #ffc107; /* Set the background color for the ledger icon (e.g., yellow) */
  }
  .btn-purple {
  background-color: #983fd3; /* Set the background color for the ledger icon (e.g., yellow) */
}
.table-row-light-green {
  background-color: #e3a2e6; /* Light green background color */
}
