.footer{

    bottom:0;

    position: fixed;

    width: calc(100% - 5rem);

    margin-left: 5rem;

    z-index: 1;

    transition: all .5s ease;

    background: #f4f7fa;

    // padding: 1rem 1.5rem 0 1.5rem;

   

   

    .footer-content{

        display: flex;

        justify-content: space-between;

        background-color: #fbfbfb;

        border-radius: 0.625rem;

        // box-shadow: 0 0 10px 0 rgb(34 12 47 / 10%);

        padding: 0rem 1.563rem;

       

        .footer-content-left{

            display: flex;

            align-items: center;

        }

 

        .footer-content-right{

            display: flex;

            justify-content:flex-end;

        }

    }

}

 

.footer-trimmed{

    width: calc(100% - 16.5625rem);

    margin-left: 16.5625rem;

}

 

.footer-md-screen{

    width: calc(100% - 5rem);

    margin-left: 5rem;

}

 

.footer-menu-item-btn{

    font-size: 18px;

    height: 32px;

    width: 52px;

    cursor: pointer;

    border: 1px solid transparent;

    border-radius: 50%;

    margin-left: 5px;

    outline: 0;

    color: #495057;

    background-color:transparent;

}

.calender{
    position: fixed;
    top: 45px;
    bottom: 13px;
    right: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px 10px 0px 0px ;
  }

.icon_size{
    font-size:14px;
    font-weight: bolder;
}