.primary-button {
    background-color: #42ac72;
    color: #fff !important;
    font-size: 1.1rem !important;
    font-weight: 630 !important;
    padding: 9px 16px 9px 13px  !important;
    border-radius: 3px ;
    border: 0;
    }
    
    .secondary-button {
    background-color: #50cd89;
    color: #fff !important;
font-size: 1.1rem !important;
font-weight: 630 !important;
padding: 9px 16px 9px 13px  !important;
border-radius: 3px ;
border: 0;
    }
    .btn-success:hover {
        background-color: #42ac72 !important;
    }
    
    .btn-success:disabled {
        background-color: #cccccc !important;
        cursor: not-allowed !important;
    }