<div class="card card-bordered">

    <div class="card-title p-5 pb-3 pt-3 rounded-top bg-primary d-flex justify-content-between align-items-center">
        <h1 class="fw-bolder text-white fs-2">My Leave</h1>
        <button style="color: black !important;" class="btn btn-icon btn-sm bg-secondary cursor-pointer " title="Back"
          routerLink="/hrm/HrmTrnMemberdhashboard"><i class="fa-solid fa-arrow-left-long fs-1 fw-bold"></i></button>
      </div>

    <div class="d-flex flex-row m-6 flex-wrap row">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row d-flex">
                <div class="card shadow-sm mt-4" style="width: 600px;">
                    <div class="card-header1">
                        <h3 class="card-title">Leave Balance</h3>
                    </div>
                
                    <div class="table-responsive">
                        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded mt-2">
                            <table id="" class="table table-striped table-row-bordered gy-5 gs-7">
                                <thead class="table_head">
                                    <tr class="text-white fw-bold fs-3 text-nowrap bg-lightblue text-blue align-middle">
                                        <th>Leave</th>
                                        <th>Eligible</th>
                                        <th>Leave Taken</th>
                                        <th>Available</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="table_body">
                                    <tr class="align-middle fs-3" *ngFor="let data of applyleavecountlist; let i=index;">
                                        <td>{{data.leavetype_name}}</td>
                                        <td>{{data.total_leave}}</td>
                                        <td>{{data.leave_taken}}</td>
                                        <td>{{data.available_leavecount}}</td>
                                        <td class="text-center text-nowrap">
                                            <a data-bs-toggle="modal" data-bs-target="#myModaladdd" (click)="myModaladd(data.lsleavetype_gid)"
                                                style="text-decoration: underline; color: rgb(35, 35, 244);">Apply Leave</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-header1">
            <h3 class="card-title">Applied Leave Summary</h3>
        </div>
    
        <div class="table-responsive">
            <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded mt-2">
                <table id="leave_details" class="table table-striped table-row-bordered gy-5 gs-7">
                    <thead class="table_head">
                        <tr class="text-white fw-bold fs-5 text-nowrap bg-lightblue text-blue align-middle">
                            <th>S.No</th>
                            <th>Applied Date</th>
                            <th>Leave Type</th>
                            <th>From</th>
                            <th>To</th>
                            <th>No.of Days</th>
                            <th>Reason</th>
                            <th>Status</th>
                            <th>Approved By</th>
                            <th style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table_body">
                        <tr class="align-middle" *ngFor="let data of leave_details; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data.leave_applydate}}</td>
                            <td>{{data.leavetype_name}}</td>
                            <td>{{data.leave_from}}</td>
                            <td>{{data.leave_to}}</td>
                            <td style="text-align: center;">{{data.noofdays_leave}}</td>
                            <td>{{data.leave_reason}}</td>
                            <td>{{data.approval_status}}</td>
                            <td>{{data.approved_by}}</td>
                            <td class="text-center text-nowrap">
                                <button title="Delete" type="button" data-bs-toggle="modal" data-bs-target="#Myleavedelete"
                                    (click)="delete(data.leave_gid)" [disabled]="data.approval_status == 'Approved'" class="btn btn-icon btn-sm bg-danger me-2">
                                    <span class="bi bi-trash-fill fs-6" style="color: #ffffff;"></span>
                                </button>
    
                                <button title="Document" type="button" data-bs-toggle="modal" (click)="ondocumentdownload(data.leavetype_gid)"
                                    data-bs-target="#myModaldocument" class="btn btn-icon btn-sm bg-info me-2">
                                    <span class="bi bi-file-earmark-fill fs-6" style="color: #ffffff;"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModaladdd" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered applyleavepopup">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title">Apply Leave</h4>
                <i class="bi bi-x-square fs-1 me-2" data-bs-dismiss="modal" (click)="close()"></i>
            </div>

            <div class="modal-body applyleavepopupbody">
                <form [formGroup]="reactiveFormadd" #form="ngForm">
                <div class="d-flex flex-row flex-wrap">
                    <div class="col-12 col-lg-6 col-md-6 col-sm-12"><span class="font-bold">Leave Period</span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <div class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                <input class="form-check-input" type="radio" value="Full" name="leave_confirmed" [(ngModel)]="radioSelected" formControlName="leave_period"   (change)="leavePeriod()" />
                                <label class="form-check-label text-gray-700 text-nowrap" for="leavedayconfirmedFull">Full</label>

                                <input class="form-check-input ms-6" type="radio" value="Half" name="leave_confirmed" [(ngModel)]="radioSelected"  formControlName="leave_period"  (change)="leavePeriod()" />
                                <label class="form-check-label text-gray-700 text-nowrap" for="leavedayconfirmedHalf">Half</label>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="d-flex flex-row flex-wrap" *ngIf="leaveperiod === 'Full'">
                        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <div class="d-flex flex-row flex-wrap mt-4">
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12"><span class="font-bold required">Leave Date (From)</span>
                                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                            <input type="date" class="form-control form-control-lg form-control-solid date-picker mb-3 mb-lg-0  bg-white " formControlName="leave_from" 
                                            (change)="leavechange()"   placeholder="DD-MM-YYYY"
                                            [ngStyle]="{ 'border-color': reactiveFormadd.get('leave_from')?.hasError('required') && reactiveFormadd.get('leave_from')?.touched || reactiveFormadd.get('leave_from')?.hasError('pattern') ? 'red' : 'rgb(209, 209, 209)' }"/>
                                        </div>

                                        <div *ngIf="reactiveFormadd.get('leave_from')?.hasError('required') && reactiveFormadd.get('leave_from')?.touched"
                                        class="text-red ms-2">Leave From is required.</div>
                                        <div *ngIf="reactiveFormadd.get('leave_from')?.hasError('pattern')" class="text-red ms-2">Space at the
                                            beginning is not allowed.</div>
                                    </div>

                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12"><span class="font-bold required">Leave Date (To)</span>
                                        <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                            <input type="date" class="form-control form-control-lg form-control-solid date-picker mb-3 mb-lg-0  bg-white " formControlName="leave_to"
                                            (change)="leavechange()"    placeholder="DD-MM-YYYY"
                                            [ngStyle]="{ 'border-color': reactiveFormadd.get('leave_to')?.hasError('required') && reactiveFormadd.get('leave_to')?.touched || reactiveFormadd.get('leave_to')?.hasError('pattern') ? 'red' : 'rgb(209, 209, 209)' }"/>
                                        </div>
                                        <div *ngIf="reactiveFormadd.get('leave_to')?.hasError('required') && reactiveFormadd.get('leave_to')?.touched"
                                        class="text-red ms-2">Leave To is required.</div>
                                        <div *ngIf="reactiveFormadd.get('leave_to')?.hasError('pattern')" class="text-red ms-2">Space at the
                                            beginning is not allowed.</div>
                                    </div>

                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12 mt-3"><span class="font-bold">Leave Days</span>
                                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                            <input type="text" class="form-control form-control-lg form-control-solid date-picker mb-3 mb-lg-0 border-secondary bg-secondary custom-input" formControlName="leave_days" readonly/>
                                        </div>
                                    </div>

                                    <!-- <div class="col-12 col-lg-6 col-md-6 col-sm-12 mt-3"><span class="font-bold">Leave Type</span>
                                        <div class="mt-2">
                                            <input type="text" class="form-control form-control-lg form-control-solid date-picker mb-3 mb-lg-0 border-secondary bg-secondary custom-input" hidden formControlName="leavetype_gid" readonly/>
                                            <input type="text" class="form-control form-control-lg form-control-solid date-picker mb-3 mb-lg-0 border-secondary bg-secondary custom-input" formControlName="leavetype_name" [(ngModel)]="parameterValue" readonly/>
                                            <input type="text" class="form-control form-control-lg form-control-solid date-picker mb-3 mb-lg-0 border-secondary bg-secondary custom-input" readonly [value]="reactiveFormadd.get('leavetype_name')?.value"/>
                                        </div>
                                    </div> -->                                    

                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12 mt-3">
                                        <span class="font-bold">Leave Type</span>
                                        <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2">
                                            <!-- <select class="form-select form-select-solid bg-white borderc-secondary form-select-lg custom-input " formControlName="leavetype_gid">
                                                <option value="">Select</option>
                                                <option *ngFor="let leavetype of leavetypelist" [value]="leavetype.leavetype_gid">
                                                    {{ leavetype.leavetype_name }}
                                                </option>
                                            </select> -->
                                            <ng-select class="custom col-lg-12 col-12 col-md-12 col-sm-12 fv-row mt-2"
                                            formControlName="leavetype_gid" 
                                            [items]="leavetypelist" required class="custom col-lg-12 col-12 col-md-12 col-sm-12 fv-row mt-2"
                                            bindLabel="leavetype_name" bindValue="leavetype_gid" placeholder="Select an option">
                                        </ng-select>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="d-flex flex-row flex-wrap mt-4">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12"><span class="font-bold required">Leave Reason</span>
                                        <div class="fv-row mt-2">
                                            <textarea type="text" rows="3" cols="50" type="text" class="form-control mt-2" formControlName="leave_reason"
                                            [ngStyle]="{ 'border-color': reactiveFormadd.get('leave_reason')?.hasError('required') && reactiveFormadd.get('leave_reason')?.touched || reactiveFormadd.get('leave_reason')?.hasError('pattern') ? 'red' : 'rgb(209, 209, 209)' }"></textarea>
                                            
                                            <div *ngIf="reactiveFormadd.get('leave_reason')?.hasError('required') && reactiveFormadd.get('leave_reason')?.touched"
                                            class="text-red ms-2">Leave Reason is required.</div>
                                            <div *ngIf="reactiveFormadd.get('leave_reason')?.hasError('pattern')" class="text-red ms-2">Space at the
                                                beginning is not allowed.</div>
                                        </div>

                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 mt-4"><span class="font-bold">File Upload</span>
                                            <div class="col-lg-11 col-12 col-md-11 col-sm-12 fv-row mt-2">
                                                <input (change)="onChange1($event)" accept="image/*" type="file" #file1 class="form-control form-control-lg form-control-solid bg-white mb-3 mb-lg-0 borderc-secondary custom-input" name="fName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>                                

                                <!-- <div class="d-flex flex-row flex-wrap mt-2">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                            <div class="table-responsive">
                                                <div class="card card-body m-3 shadow-xl p-3 mb-5 bg-white rounded">
                                                    <table id="login"
                                                        class="table table-striped table-row-bordered gy-5 gs-7 ">
                                                        <thead>
                                                            <tr class="fw-bold fs-5 text-nowrap bg-lightblue text-blue">
                                                                <th>S.No</th>
                                                                <th>Document Name</th>
                                                                <th class="text-center">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td title="S.No"></td>
                                                                <td title="Document Name"></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row flex-wrap" *ngIf="leaveperiod === 'Half'">
                        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <div class="d-flex flex-row flex-wrap mt-4">
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12"><span class="font-bold required">Leave Date (From)</span>
                                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                            <input type="date" class="form-control form-control-lg form-control-solid date-picker mb-3 mb-lg-0 bg-white " formControlName="leave_from" (change)="leavechange()"  placeholder="DD-MM-YYYY" 
                                            [ngStyle]="{ 'border-color': reactiveFormadd.get('leave_from')?.hasError('required')
                                            && reactiveFormadd.get('leave_from')?.touched ? 'red' : 'rgb(209, 209, 209)'}"/>
                                        </div>

                                        <div *ngIf="reactiveFormadd.get('leave_from')?.hasError('required') && reactiveFormadd.get('leave_from')?.touched"
                                            class="text-red ms-2">Leave From is required.</div>
                                            <div *ngIf="reactiveFormadd.get('leave_from')?.hasError('pattern')" class="text-red ms-2">Space at the
                                                beginning is not allowed.</div>
                                    </div>
                    
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12"><span class="font-bold required">Session</span>
                                        <div class="col-lg-12 col-md-12 col-sm-12 fv-row  d-flex">
                                            <div class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                                <input class="form-check-input mt-2" type="radio" name="leave_session" formControlName="leave_session" value="FN" />
                                                <label class="form-check-label text-gray-700 text-nowrap mt-5" for="leavesessionconfirmedFN">FN</label>
                    
                                                <input class="form-check-input ms-6 mt-2" type="radio" name="leave_session" formControlName="leave_session" value="AN" />
                                                <label class="form-check-label text-gray-700 text-nowrap mt-6" for="leavesessionconfirmedAN">AN</label>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12 mt-3"><span class="font-bold">Leave Days</span>
                                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                            <input type="text" class="form-control form-control-lg form-control-solid date-picker mb-3 mb-lg-0 border-secondary bg-secondary custom-input" formControlName="leave_days" readonly/>
                                        </div>
                                    </div>
                    
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12 mt-3"><span class="font-bold">Leave Type</span>
                                        <div class="mt-2">
                                            <!-- <select class="form-select form-select-solid bg-white border-secondary form-select-lg custom-input select2" formControlName="leavetype_gid">
                                                <option value="">Select</option>
                                                <option *ngFor="let leavetype of leavetypelist" [value]="leavetype.leavetype_gid">
                                                    {{leavetype.leavetype_name}}
                                                </option>
                                            </select> -->
                                            <ng-select class="custom col-lg-12 col-12 col-md-12 col-sm-12 fv-row mt-2"
                                            formControlName="leavetype_gid" 
                                            [items]="leavetypelist" required class="custom col-lg-12 col-12 col-md-12 col-sm-12 fv-row mt-2"
                                            bindLabel="leavetype_name" bindValue="leavetype_gid" placeholder="Select an option">
                                        </ng-select>
                                        </div>
                                    </div>     
                                    

                                </div>
                    
                                <div class="d-flex flex-row flex-wrap mt-4">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12"><span class="font-bold required">Leave Reason</span>
                                        <div class="fv-row mt-2">
                                            <textarea type="text" rows="3" cols="50" type="text" class="form-control mt-2" formControlName="leave_reason"
                                            [ngStyle]="{ 'border-color': reactiveFormadd.get('leave_reason')?.hasError('required') && reactiveFormadd.get('leave_reason')?.touched || reactiveFormadd.get('leave_reason')?.hasError('pattern') ? 'red' : 'rgb(209, 209, 209)' }"></textarea>

                                            <div *ngIf="reactiveFormadd.get('leave_reason')?.hasError('required') && reactiveFormadd.get('leave_reason')?.touched"
                                            class="text-red ms-2">Leave Reason is required.</div>
                                            <div *ngIf="reactiveFormadd.get('leave_reason')?.hasError('pattern')" class="text-red ms-2">Space at the
                                                beginning is not allowed.</div>
                                        </div>
                    
                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 mt-4"><span class="font-bold">File Upload</span>
                                            <div class="col-lg-11 col-12 col-md-11 col-sm-12 fv-row mt-2">
                                                <input (change)="onChange1($event)" accept="image/*" type="file" #file1 class="form-control form-control-lg form-control-solid bg-white mb-3 mb-lg-0 borderc-secondary custom-input" name="fName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <!-- <div class="d-flex flex-row flex-wrap mt-2">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                            <div class="table-responsive">
                                                <div class="card card-body m-3 shadow-xl p-3 mb-5 bg-white rounded">
                                                    <table id="login" class="table table-striped table-row-bordered gy-5 gs-7 ">
                                                        <thead>
                                                            <tr class="fw-bold fs-5 text-nowrap bg-lightblue text-blue">
                                                                <th>S.No</th>
                                                                <th>Document Name</th>
                                                                <th class="text-center">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td title="S.No"></td>
                                                                <td title="Document Name"></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center contain">
                        <button (click)="onapplyleave()" class="me-4" [disabled]="reactiveFormadd.invalid" [ngClass]="{'primary-button': !reactiveFormadd.invalid, 'secondary-button': reactiveFormadd.invalid}" data-bs-dismiss="modal">
                            <i class="fas fa-check fs-8 me-2"></i>Submit
                        </button>
                        <button type="button" class="btn-danger" data-bs-dismiss="modal"  (click)="close()">
                            <i class="fas fa-x fs-8 me-2"></i>Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal Delete -->
<div id="Myleavedelete" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h4 class="w-100  fw-bolder fs-1 mt-5">Are you sure?</h4>
                <p class="fw-bold fs-5 mt-4">Do You Want To Delete The Record ?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn-danger" data-bs-dismiss="modal" (click)="ondelete()">Delete</button>
            </div>
        </div>
    </div>
</div>




<!-- <div class="submit-button ms-7">
        <button type="button" class="btn-success" data-bs-toggle="modal" data-bs-target="#myModaladdd"
            (click)="myModaladd(data.leave_gid)">
            <i class="fa fa-hand-point-right"></i>
            <span class="btn-text ms-3">Apply Leave</span>
        </button>
    </div>

    <div class="d-flex flex-row m-6 flex-wrap row">
        <div class="col-12 col-lg-9 col-md-9 col-sm-12">
            <div class="d-flex flex-row flex-wrap row">
                <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row d-flex">
                        <div class="row box-widget rounded-start rounded-end leave_1">
                            <div class="card-body">
                                <div class="card-heading">
                                    <h2 class="mb-3">Sick Leave</h2>
                                </div>
                                <div class="card-heading1 ms-6 mt-6 mb-3">
                                    <p class="count">Leave Taken: <span class="leavecount ms-2">{{count_Sickleavetaken}}</span></p>
                                    <p class="count">Available: <span class="avlcount ms-9">{{count_Sickavailable}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row d-flex">
                        <div class="row box-widget rounded-start rounded-end leave_2">
                            <div class="card-body">
                                <div class="card-heading">
                                    <h2 class="mb-3">Casual Leave</h2>
                                </div>
                                <div class="card-heading1 ms-6 mt-6 mb-3">
                                    <p class="count">Leave Taken: <span class="leavecount ms-2">{{count_Casualleavetaken}}</span></p>
                                    <p class="count">Available: <span class="avlcount ms-9">{{count_casualavailable}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->