<div>
    <div class="card shadow-lg rounded-top">
        <div class="card-title p-5 pb-6 pt-6 rounded-top bg-primary" >
            <h3 class="fw-bolder text-white"><i class="fa fa-user fw-bolder fs-3"></i> &nbsp;&nbsp;&nbsp; User Profile</h3>
        </div> 
   
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="card shadow-sm p-3 ">
                        <div class="col-lg-12 col-md-6 col-sm-12 text-center symbol symbol-150px symbol-circle">
                            <img src="assets\media\patterns\user-image.jpg" width="100%" height="180">
                        </div>
                        <p  style="color: #009EF7; font-size: 15px;"><br><span class="font-bold ms-5">{{employee_details.user_firstname}} {{employee_details.user_lastname}} / {{employee_details.user_code}}</span></p>
                       
                            <div class="fw-bold  ms-5">{{employee_details.designation_name}}</div>
                            <br>
                            <div class="fw-bold  ms-5">Employee Joining Date</div>
                            <div class="text-gray-600  ms-5">{{employee_details.joining_date}}</div>
                                <br><div class="fw-bold ms-5">Reporting To</div>
                                <div class="text-gray-600 ms-5">{{employee_details.employee_reportingto_name}}</div>
                        <br/>
                    </div>
    
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12">
                    <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-20x mb-8 fs-6">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#kt_tab_pane_5" style="color: #009EF7">Employee Details</a>
                        </li>
                        <li class="nav-item ms-9">
                            <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_4" style="color: #009EF7">Contact Details </a>
                        </li>                       
                        <li class="nav-item ms-9">
                            <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_6" style="color: #009EF7">Address Details</a>
                        </li>
                        <!-- <li class="nav-item ms-9">
                            <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_7"style="color: #009EF7">HR Documents</a>
                        </li> -->
                    </ul>
        <!-- <div class="card shadow-sm p-3"> -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active ms-5" id="kt_tab_pane_5" role="tabpanel">
                            <div class="row">
                                <div class="col-6 ">
                                    
                                        <div class="fw-bold">Entity</div>
                                        <div class="text-gray-600  mt-1">{{employee_details.company_name}}</div>
                                        
                                        <br><div class="fw-bold">Branch</div>
                                        <div class="text-gray-600  mt-1">{{employee_details.branch_name}}</div>                                       
                                       
                                        </div>
                                        <div class="col-6">
                                      
                                        <div class="fw-bold">Gender</div>
                                        <div class="text-gray-600 mt-1">{{employee_details.gender}}</div>

                                        <br><div class="fw-bold">Department</div>
                                        <div class="text-gray-600 mt-1 ">{{employee_details.department_name}}</div>
                                        
                                        <!-- <br><div class="fw-bold">Marital Status</div>
                                        <div class="text-gray-600 mt-1">{{employee_details.marital_status}}</div>
                                     
                                        <br><div class="fw-bold">Blood Group</div>
                                        <div class="text-gray-600 mt-1 ">{{employee_details.bloodgroup_name}}</div> -->
                                        </div>

                                        <div class="col-lg-12" >
                                            <div class="fw-bold">Email Signature <i class="fa-solid fa-file-signature"></i> </div>

                                            <div  style="overflow: auto;height: 220px;" class="card border border-2">
                                            
                                            <div [innerHTML]="employee_details.default_template"></div>
                                            </div>
                                            
                                        </div>

                                    

                            </div>
                            
                            
                           
                            
                        </div>
                        <div class="row tab-pane fade ms-5" id="kt_tab_pane_4" role="tabpanel">
                            
                            <div class="fw-bold"> Email Address</div>
                            <div class="text-gray-600  mt-1">{{employee_details.employee_emailid}}</div>
                          
                            <br><div class="fw-bold">Official Mobile </div>
                            <div class="text-gray-600  mt-1">{{employee_details.employee_mobileno}}</div>
                            
                            <!-- <br><div class="fw-bold">Personal Email Address</div>
                            <div class="text-gray-600  mt-1">{{employee_details.personal_emailid}}</div> -->
                           
                            <!-- <br><div class="fw-bold">Personal Phone Number</div>
                            <div class="text-gray-600 mt-1">{{employee_details.personal_phone_no}}</div> -->
                         
                        </div>
                        
                        <div class="tab-pane fade ms-5" id="kt_tab_pane_6" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 lh-lg">
                                    <p style="color: black; font-size: 15px;"><span class="font-bold ">Permanent Address</span></p>
                            
                                   <div class="text-gray-600  mt-1"> {{employee_details.per_address1}} </div>
                                   <div class="text-gray-600  mt-1"> {{employee_details.per_address2}} </div>
                                   <div class="text-gray-600  mt-1"> {{employee_details.per_city}}  {{employee_details.per_postal_code}}</div>
                                   <div class="text-gray-600  mt-1"> {{employee_details.per_country_name}}</div>
                                   <div class="text-gray-600  mt-1">{{employee_details.per_state}}</div>
                        </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 lh-lg ">
                                <p style="color:black; font-size: 15px;"><span class="font-bold">Temporary Address</span></p>
                            
                                <div class="text-gray-600  mt-1"> {{employee_details.temp_address1}} </div>
                                <div class="text-gray-600  mt-1"> {{employee_details.temp_address2}} </div>
                                <div class="text-gray-600  mt-1"> {{employee_details.temp_city}}  {{employee_details.per_postal_code}} </div>
                                <div class="text-gray-600  mt-1"> {{employee_details.temp_country_name}}</div>
                                <div class="text-gray-600  mt-1">{{employee_details.temp_state}} </div>
                             </div>
                    </div>
                
                </div>
                <div class="row tab-pane fade ms-5" id="kt_tab_pane_7" role="tabpanel">
                    <div class="table-responsive">
            <table id="document_list" class="table table-striped table-row-bordered gy-5 gs-7 ">
                <thead>
                    <tr class="fw-bold fs-5 text-nowrap bg-lightblue text-blue">
                        <th>S.No</th>
                        <th> Document Type</th>
                        <th>Document Name</th>
                        <th>Created By </th>
                        <th>Created Date</th>
                        <th class="text-center">Action <button title="Download"  style="color: #009EF7; background: transparent; border:none"><em class="fa fa-download" style="color: #009EF7;"></em></button></th>
                        
                    </tr>
                </thead>
                </table>
                <tbody> 
                    <tr *ngFor="let data of document_list ; let i=index;">
                        <td >{{i+1}}</td>
                        <td>{{data.hrdocument_name }}</td>
                        <td>{{data.hrdoc_name }}</td>
                        <td>{{data.created_by}}</td>
                        <td>{{data.created_date}}</td>
                        <td class="text-center text-nowrap">
                        
            
    </tr></tbody></div>
        </div>
     
    
      
    
    
           </div></div></div></div></div></div>
                     <!-- <div class="text-center my-4"><button class="btn-primary btn-sm text-white me-4 "(click)="backbutton()">
                        <i class="fas fa-arrow-left"></i> &nbsp;Back</button></div> -->
                     