  .card1 {    
    width: 240px;
    border-radius: 15px;
    height: 70px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .card2 {    
    width: 420px;
    border-radius: 15px;
    height: 70px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    gap: 10px;
    justify-items: center; /* Horizontal alignment: center, start, end, etc. */
  }
  .card6 {    
 
    border-radius: 15px;
    height: 60px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  } 
  .cardHead {
  
    position: relative;
  
    display: flex;
  
    flex-direction: column;
  
    min-width: 0;
  
    word-wrap: break-word;
  
    padding: 18px;
  
    background-clip: border-box;
  
    border: 0px solid rgba(0, 0, 0, 0);
  
    border-radius: .25rem;
  
    margin-bottom: 1.0rem;
  
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
  
    transition: all .3s ease-in-out;
  
    background-color: white;
  
  }
  .rounded-circle {
  
    border-radius: 50%!important;
  
  }
    
  .ms-auto {
  
    margin-left: 0px;
  
  }
  .radius-10 {
    border-radius: 10px !important;
  }
    .card-body12 {
    // width: 160px;
    height: 30px;  
  }
  .widgets-icons-2 {
  
    width: 30px;
  
    height: 30px;
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    background-color: #ededed;
  
    font-size: 27px;
  
    border-radius: 10px;
  
  }
  
  .border-skyblue {
  
    border-left: 5px solid  #0d6efd !important;
  
  }
  .bg-gradient-skyblue {
  
    background: #0d6efd;
  
    background: -webkit-linear-gradient(45deg, #686a66, #0d6efd)!important;
  
    background: linear-gradient(45deg, #686a66, #0d6efd)!important;
  
  }
  .bg-gradient-darkbluess {
  
    background: #04193a;
  
    background: -webkit-linear-gradient(45deg, #c7d2fd, #04193a)!important;
  
    background: linear-gradient(45deg, #c7d2fd, #04193a)!important;
  
  }
  .bg-gradient-reddarkbluess {
  
    background: #eb0d36;
  
    background: -webkit-linear-gradient(45deg, #b326df, #ed2c2c)!important;
  
    background: linear-gradient(45deg, #b326df, #ed2c2c)!important;
  
  }
  .border-redskyblue {
    
    border-left: 5px solid  #eb0d36 !important;
  
  }
  .bg-gradient-greendarkbluess {
  
    background: #25a905;
  
    background: -webkit-linear-gradient(45deg, #d5fdb1, #25a905)!important;
  
    background: linear-gradient(45deg, #d5fdb1, #25a905)!important;
  
  }
  .border-lightgreenborder {
    
    border-left: 5px solid  #25a905 !important;
  
  }
  .bg-gradient-skydarkbluess {
  
    background: #646266;
  
    background: -webkit-linear-gradient(45deg, #86e7f3, #646266)!important;
  
    background: linear-gradient(45deg, #86e7f3, #646266)!important;
  
  }
  .border-skygreenborder {
    
    border-left: 5px solid  #646266 !important;
  
  }
  .bg-gradient-darkbrown {
  
    background: #561e09;
  
    background: -webkit-linear-gradient(45deg, #d9dbd7, #561e09)!important;
  
    background: linear-gradient(45deg, #d9dbd7, #561e09)!important;
  
  }
  .border-darkbrown {
    
    border-left: 5px solid  #561e09 !important;
  
  }
  .bg-gradient-info {
  
    background: #17ead9;
  
    background: -webkit-linear-gradient(45deg, #17ead9, #6078ea)!important;
  
    background: linear-gradient(45deg, #17ead9, #6078ea)!important;
  
  }
  
   
  
  .bg-gradient-violet {
  
    background: #510e66;
  
    background: -webkit-linear-gradient(45deg, #eadbf8, #85329c)!important;
  
    background: linear-gradient(45deg, #e9b2fa, #7e2279)!important;
  
  }
  
   
  
  .bg-gradient-brown {
  
    background: #740f0f;
  
    background: -webkit-linear-gradient(45deg, #a05518, #c43a3a)!important;
  
    background: linear-gradient(45deg, #f2f565, #da3535)!important;
  
  }
  
   
  
  .bg-gradient-darkblue {
  
    background: #399C91;
  
    background: -webkit-linear-gradient(45deg, #aedaf3, #399C91)!important;
  
    background: linear-gradient(45deg, #9ff8f4, #399C91)!important;
  
  }
  
  .bg-gradient-darkblue {
  
    background: #399C91;
  
    background: -webkit-linear-gradient(45deg, #aedaf3, #399C91)!important;
  
    background: linear-gradient(45deg, #9ff8f4, #399C91)!important;
  
  }
  .bg-gradient-purple {
  
    background: #be267a;
  
    background: -webkit-linear-gradient(45deg, #f8bceb, #be267a)!important;
  
    background: linear-gradient(45deg, #f7bdde, #be267a)!important;
  
  }
  .bg-gradient-darkgreen {
  
    background: #B66B1A;
  
    background: -webkit-linear-gradient(45deg, #ecd776, #B66B1A)!important;
  
    background: linear-gradient(45deg, #eff77e, #B66B1A)!important;
  
  }
  .bg-gradient-darkblues {
  
    background: #1E2961;
  
    background: -webkit-linear-gradient(45deg, #c0c4f8, #1E2961)!important;
  
    background: linear-gradient(45deg, #cfc8f8, #1E2961)!important;
  
  }
  .bg-gradient-darkoranges {
  
    background: #ec9b20;
  
    background: -webkit-linear-gradient(45deg, #faab6b, #ec9b20)!important;
  
    background: linear-gradient(45deg, #ccf8a4, #ec9b20)!important;
  
  }
  .bg-gradient-darkgreens {
  
    background: #3F7B33;
  
    background: -webkit-linear-gradient(45deg, #47ac6d, #3F7B33)!important;
  
    background: linear-gradient(45deg, #c9fc9b, #3F7B33)!important;
  
  }
  
  .border-orange {
  
    border-left: 5px solid  #B66B1A !important;
  
  }
  .border-blue {
  
    border-left: 5px solid  #1E2961 !important;
  
  }
  .border-purple {
  
    border-left: 5px solid  #ec9b20 !important;
  
  }
  
  .border-darkgreen {
  
    border-left: 5px solid  #3F7B33 !important;
  
  }
  .border-darkblue {
  
    border-left: 5px solid  #399C91 !important;
  
  }
  .border-violet {
  
    border-left: 5px solid  #764C9B !important;
  
  }
  .border-brown {
  
    border-left: 5px solid  #C11C1C !important;
  
  }
  .border-darkorange {
  
    border-left: 5px solid  #be267a !important;
  
  }