.bg-gradient-darkblue {
  
    background: #399C91;
  
    background: -webkit-linear-gradient(45deg, #aedaf3, #399C91)!important;
  
    background: linear-gradient(45deg, #9ff8f4, #399C91)!important;
  
  }