<div class="card mt-4">
    <div class="row ms-3 mt-3 d-flex align-items-center">
        <div class="col">
            <h3 class="card-title fw-bold"><b>Pending Issue Summary</b></h3>
        </div>
    </div>

    <div class="table-responsive">
        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
            <table id="pendingmaterial_list" class="table table-striped table-row-bordered gy-5 gs-7">
                <thead class="table_head">
                    <tr class=" text-white fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                        <th style="width: 5%;">S.No</th>
                        <th style="width: 6%;">Branch</th>
                        <th style="width: 10%;">MI Date</th>
                        <th style="width: 10%;">MI Ref No</th>
                        <th style="width: 10%;">Department</th>
                        <th style="width: 5%;" class="text-center">Details</th>
                        <th style="width: 10%;">Requested By</th>
                        <th style="width: 12%;">Requested Date</th>
                        <th style="width: 12%;">Expected Date</th>
                        <th style="width: 13%;">Material Status</th>
                        <th class="text-center me-6" style="width: 8%;">Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of pendingmaterial_list; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{data.branch_prefix}}</td>
                        <td>{{data.materialrequisition_date}}</td>
                        <td>{{data.materialrequisition_gid}}</td>
                        <td>{{data.department_name}}</td>
                        <td class="text-center">   <label title="Product Details" data-bs-toggle="modal" data-bs-target="#myModalcustomerdetail"
                            (click)="Getproduct(data.materialrequisition_gid)">
                            <i class="fas fa-question-circle fa-5x text-primary fs-2" style="cursor: pointer;"></i>
                          </label></td>
                        <td>{{data.user_firstname}}</td>
                        <td>{{data.created_date}}</td>
                        <td>{{data.expected_date}}</td>
                        <td>{{data.material_status}}</td>
                        <td class="text-center" style="text-align: center; vertical-align: middle;">
                            <button title="Raise PI" type="button" class="btn-lg  btn-primary ms-7"  (click)="Onclickgrn(data.materialrequisition_gid)" style="height: 20px; display: flex; align-items: center; justify-content: center; ">Select</button>    
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal" id="myModalcustomerdetail" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content d-flex justify-content-center">
        <div class="card-header p-1 pb-1 pt-1 rounded-top bg-primary"
           style="display: flex; align-items: center; height: 40px;">
           <h3 style="margin-top: 10px; color: white; font-weight: bold" class="mt-8">
            &nbsp;&nbsp;Product Details
          </h3>
       </div>
       <div class="modal-body">
        <table id="materialindentlist" class="table table-striped table-bordered text-blue border-bottom gs-7 align-middle ">
          <thead>
              <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                  <th  class="text-blue text-center" style="width: 15%">Product Group</th>
                  <th  class="text-blue text-center" style="width: 20%;">Product</th>
                  <th  class="text-blue text-center" style="width: 5%;">Request Qty</th> 
                  <th  class="text-blue text-center" style="width: 5%;">Issued Qty</th> 
              </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of productsummary_list;let i = index;">
            <td>{{data.productgroup_name}}</td>
            <!-- <td>{{data.product_code}}</td> -->
            <td>{{data.product_code}}/{{data.product_name}}</td>
            <td>{{data.qty_requested}} {{data.productuom_name}}</td>
            <td>{{data.qty_issued}} {{data.productuom_name}}</td>
          </tr>
        </tbody>
          </table>
        <div class="text-center my-4">
          <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
