.card-header {
    background-image: linear-gradient(to right, #40a081 , #6388ad,#40a081);
    border-radius: 0px;
}

.tab_1 {
    height: 120px;

    .body-left {
        background-color: #5f02bc;
        height: 120px;
        width: 200px;
        margin-left: -10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        
        i {
            font-size: 30px;
            margin-top: 43px;
            color: #ffffff;
        }
    }

    .panel-body{
        width: 280px;
        height: 120px;
        margin-left: -26px;
        border: #5f02bc 5px solid;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        
        .count {
            text-align: center;
            margin-top: 25px;
            font-size: 18px;
            font-weight: bold;
        }

        .content {
            text-align: center;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.tab_2 {
    height: 120px;

    .body-left {
        background-color: #787878;
        height: 120px;
        width: 200px;
        margin-left: -10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        
        i {
            font-size: 30px;
            margin-top: 43px;
            color: #ffffff;
        }
    }

    .panel-body{
        width: 280px;
        height: 120px;
        margin-left: -26px;
        border: #787878 5px solid;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        
        .count {
            text-align: center;
            margin-top: 25px;
            font-size: 18px;
            font-weight: bold;
        }

        .content {
            text-align: center;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.tab_3 {
    height: 120px;

    .body-left {
        background-color: #cc7722;
        height: 120px;
        width: 200px;
        margin-left: -10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        
        i {
            font-size: 30px;
            margin-top: 43px;
            color: #ffffff;
        }
    }

    .panel-body{
        width: 280px;
        height: 120px;
        margin-left: -26px;
        border: #cc7722 5px solid;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        
        .count {
            text-align: center;
            margin-top: 25px;
            font-size: 18px;
            font-weight: bold;
        }

        .content {
            text-align: center;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.tab_4 {
    height: 120px;

    .body-left {
        background-color: #fd4b4e;
        height: 120px;
        width: 200px;
        margin-left: -10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        
        i {
            font-size: 30px;
            margin-top: 43px;
            color: #ffffff;
        }
    }

    .panel-body{
        width: 280px;
        height: 120px;
        margin-left: -26px;
        border: #fd4b4e 5px solid;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        
        .count {
            text-align: center;
            margin-top: 25px;
            font-size: 18px;
            font-weight: bold;
        }

        .content {
            text-align: center;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.tab_5 {
    height: 120px;

    .body-left {
        background-color: #f79a05;
        height: 120px;
        width: 200px;
        margin-left: -10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        
        i {
            font-size: 30px;
            margin-top: 43px;
            color: #ffffff;
        }
    }

    .panel-body{
        width: 280px;
        height: 120px;
        margin-left: -26px;
        border: #f79a05 5px solid;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        
        .count {
            text-align: center;
            margin-top: 25px;
            font-size: 18px;
            font-weight: bold;
        }

        .content {
            text-align: center;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.tab_6 {
    height: 120px;

    .body-left {
        background-color: #22a793;
        height: 120px;
        width: 200px;
        margin-left: -10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        
        i {
            font-size: 30px;
            margin-top: 43px;
            color: #ffffff;
        }
    }

    .panel-body{
        width: 280px;
        height: 120px;
        margin-left: -26px;
        border: #22a793 5px solid;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        
        .count {
            text-align: center;
            margin-top: 25px;
            font-size: 18px;
            font-weight: bold;
        }

        .content {
            text-align: center;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.tab_7 {
    height: 120px;

    .body-left {
        background-color: #f936e5;
        height: 120px;
        width: 200px;
        margin-left: -10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        
        i {
            font-size: 30px;
            margin-top: 43px;
            color: #ffffff;
        }
    }

    .panel-body{
        width: 280px;
        height: 120px;
        margin-left: -26px;
        border: #f936e5 5px solid;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        
        .count {
            text-align: center;
            margin-top: 25px;
            font-size: 18px;
            font-weight: bold;
        }

        .content {
            text-align: center;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.tab_8 {
    height: 120px;

    .body-left {
        background-color: #4389c2;
        height: 120px;
        width: 200px;
        margin-left: -10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        
        i {
            font-size: 30px;
            margin-top: 43px;
            color: #ffffff;
        }
    }

    .panel-body{
        width: 280px;
        height: 120px;
        margin-left: -26px;
        border: #4389c2 5px solid;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        
        .count {
            text-align: center;
            margin-top: 25px;
            font-size: 18px;
            font-weight: bold;
        }

        .content {
            text-align: center;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}