.bg-stssuccess{
    background-color: #268029 !important;
  }
  .bg-inactive{
    background-color: #c53030 !important;
  }
  .bg-success {
    background-color: #268029;
    color: white;
}

.bg-danger {
    background-color: #c53030;
    color: white;
}
.status-badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}