div.record-picker {
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #ddd;
	border-radius:8px;
	position: relative;
	cursor: pointer;
}

/* http://www.ourtuts.com/how-to-customize-browser-scrollbars-using-css3/ */
div.record-picker::-webkit-scrollbar {
	width: 12px;
}

div.record-picker::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
.cardHeadLeads {
      
  position: relative;

  display: flex;

  flex-direction: column;

  min-width: 0;

  word-wrap: break-word;

  padding: 18px;

  background-clip: border-box;

  border: 0px solid rgba(0, 0, 0, 0);

  border-radius: .25rem;

  margin-bottom: 1.0rem;

  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);

  transition: all .3s ease-in-out;

  background-color: white;

}

div.record-picker {
	scrollbar-base-color: #337ab7;
	scrollbar-3dlight-color: #337ab7;
	scrollbar-highlight-color: #337ab7;
	scrollbar-track-color: #eee;
	scrollbar-arrow-color: gray;
	scrollbar-shadow-color: gray;
	scrollbar-dark-shadow-color: gray;
}

div.record-picker::-webkit-scrollbar-track {
	background:#eee;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

div.record-picker::-webkit-scrollbar-thumb {
	background: #337ab7;
	border: thin solid gray;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

div.record-picker::-webkit-scrollbar-thumb:hover {
	background: #286090;
}

.record-picker ul {
	margin: 0;
	padding: 0 0 1px 0;
}

.record-picker li {
	border-top: thin solid #ddd;
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 2px 2px 2px 10px;
	margin-bottom: -1px;
	font-size: 0.85em;
	cursor: pointer;
	white-space: nowrap;
	min-height:16px;
}

.record-picker li:hover {
	background-color: #f5f5f5;
}

.record-picker li.selected {
	background-color: #d9edf7;
}

.record-picker li.selected:hover {
	background-color: #c4e3f3;
}

.record-picker li.disabled {
	opacity: 0.5;
	cursor: default;
	background-color: inherit;
}

.record-picker li:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top: none;
}

.record-picker li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom: none;
}

.record-picker label {
	cursor: pointer;
	font-weight: inherit;
	font-size: 14px;
	padding: 4px;
	margin-bottom: -1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.record-picker ul.over {
	background-color:lightgray;
}

.dual-list  {
	display: -webkit-box;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
}

.dual-list .listbox {
	width: 50%;
	margin: 0px;
}

.dual-list .button-bar {
	margin-top: 8px;
}

/* &nbsp;&nbsp;&nbsp;&#9654; */
.point-right::after {
	content: "\00A0\00A0\00A0\25B6";
}

/* &#9664;&nbsp;&nbsp;&nbsp; */
.point-left::before {
	content: "\25C0\00A0\00A0\00A0";
}

.dual-list .button-bar button {
	width: 47%;
}

button.btn-block {
	display: block;
	width: 100%;
	margin-bottom: 8px;
}

.filter {
	margin-bottom: -2.2em;
}

.filter::after {
	content:"o";
	width:40px;
	color:transparent;
	font-size:2em;
	background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 64l192 192v192l128-32V256L512 64H0z"/></svg>');
	background-repeat:no-repeat;
	background-position:center center;
	opacity:.2;
	top: -36px;
	left: calc(100% - 21px);
	position:relative;
}

.table-container {
    margin-left: -1055px; /* Adjust the margin value as needed */
}


//Tiles style properties//

.primary-button {
  background-color: #42ac72;
  color: #fff !important;
  font-size: 1.1rem !important;
  font-weight: 630 !important;
  padding: 9px 16px 9px 13px  !important;
  border-radius: 3px ;
  border: 0;
  }
  
  .secondary-button {
  background-color: #50cd89;
  color: #fff !important;
font-size: 1.1rem !important;
font-weight: 630 !important;
padding: 9px 16px 9px 13px  !important;
border-radius: 3px ;
border: 0;
  }

  .radius-10 {
    border-radius: 10px !important;
  }

  .card-body12 {
      // width: 160px;
      height: 34px;  
    }
    .cardHead {
    
      position: relative;
    
      display: flex;
    
      flex-direction: column;
    
      min-width: 0;
    
      word-wrap: break-word;
    
      padding: 18px;
    
      background-clip: border-box;
    
      border: 0px solid rgba(0, 0, 0, 0);
    
      border-radius: .25rem;
    
      margin-bottom: 1.0rem;
    
      box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    
      transition: all .3s ease-in-out;
    
      background-color: white;
    
    }
    
     
    
    .cardHead:hover{
    
      box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    
      transform: translate3d(0px, -2px, 0px);
    
      cursor:pointer;
    
      pointer-events: auto;
    
    }
    
     
    
    .widgets-icons-2 {
    
      width: 38px;
    
      height: 38px;
    
      display: flex;
    
      align-items: center;
    
      justify-content: center;
    
      background-color: #ededed;
    
      font-size: 27px;
    
      border-radius: 10px;
    
    }
    
    .rounded-circle {
    
      border-radius: 50%!important;
    
    }
    
    .ms-auto {
    
      margin-left: 0px;
    
    }
    
     
    
    .bg-gradient-info {
    
      background: #17ead9;
    
      background: -webkit-linear-gradient(45deg, #17ead9, #6078ea)!important;
    
      background: linear-gradient(45deg, #17ead9, #6078ea)!important;
    
    }
    
     
    
    .bg-gradient-violet {
    
      background: #510e66;
    
      background: -webkit-linear-gradient(45deg, #eadbf8, #85329c)!important;
    
      background: linear-gradient(45deg, #e9b2fa, #7e2279)!important;
    
    }
    
     
    
    .bg-gradient-brown {
    
      background: #740f0f;
    
      background: -webkit-linear-gradient(45deg, #a05518, #c43a3a)!important;
    
      background: linear-gradient(45deg, #f2f565, #da3535)!important;
    
    }
    
     
    
    .bg-gradient-darkblue {
    
      background: #399C91;
    
      background: -webkit-linear-gradient(45deg, #aedaf3, #399C91)!important;
    
      background: linear-gradient(45deg, #9ff8f4, #399C91)!important;
    
    }
    
    .bg-gradient-darkblue {
    
      background: #399C91;
    
      background: -webkit-linear-gradient(45deg, #aedaf3, #399C91)!important;
    
      background: linear-gradient(45deg, #9ff8f4, #399C91)!important;
    
    }
    .bg-gradient-purple {
    
      background: #be267a;
    
      background: -webkit-linear-gradient(45deg, #f8bceb, #be267a)!important;
    
      background: linear-gradient(45deg, #f7bdde, #be267a)!important;
    
    }
    .bg-gradient-darkgreen {
    
      background: #B66B1A;
    
      background: -webkit-linear-gradient(45deg, #ecd776, #B66B1A)!important;
    
      background: linear-gradient(45deg, #eff77e, #B66B1A)!important;
    
    }
    .bg-gradient-darkblues {
    
      background: #1E2961;
    
      background: -webkit-linear-gradient(45deg, #c0c4f8, #1E2961)!important;
    
      background: linear-gradient(45deg, #cfc8f8, #1E2961)!important;
    
    }
    .bg-gradient-darkoranges {
    
      background: #ec9b20;
    
      background: -webkit-linear-gradient(45deg, #faab6b, #ec9b20)!important;
    
      background: linear-gradient(45deg, #ccf8a4, #ec9b20)!important;
    
    }
    .bg-gradient-darkgreens {
    
      background: #3F7B33;
    
      background: -webkit-linear-gradient(45deg, #47ac6d, #3F7B33)!important;
    
      background: linear-gradient(45deg, #c9fc9b, #3F7B33)!important;
    
    }
    
    .border-orange {
    
      border-left: 5px solid  #B66B1A !important;
    
    }
    .border-blue {
    
      border-left: 5px solid  #1E2961 !important;
    
    }
    .border-purple {
    
      border-left: 5px solid  #ec9b20 !important;
    
    }
    
    .border-darkgreen {
    
      border-left: 5px solid  #3F7B33 !important;
    
    }
    .border-darkblue {
    
      border-left: 5px solid  #399C91 !important;
    
    }
    .border-violet {
    
      border-left: 5px solid  #764C9B !important;
    
    }
    .border-brown {
    
      border-left: 5px solid  #ef3939 !important;
    
    }
    .border-darkorange {
    
      border-left: 5px solid  #be267a !important;
    
    }
    .card-body12 { 
      border-radius: 15px;
    }
      
    