.center-align {
    text-align: center;
}

.narrow-column {
    width: 10px;
}
.narrow-column1 {
    width: 100px;
}
.narrow-column2 {
    width: 100px;
}
.narrow-column3 {
    width: 200px;
}
.narrow-column4 {
    width: 200px;
}
.narrow-column5 {
    width: 200px;
}
.narrow-column6 {
    width: 200px;
}
.narrow-column7 {
    width: 100px;
}
.narrow-column8 {
    width: 200px;
}
.narrow-column9 {
    width: 200px;
}
.narrow-column10 {
    width: 200px;
}