.bg-gradient-darkblue {
  
    background: #0597F2;
  
    background: -webkit-linear-gradient(45deg, #0597F2, #0597F2) !important;
  
    background: linear-gradient(45deg, #0597F2, #0597F2) !important;
  
  }