<form [formGroup]="reactiveFormadd" #form="ngForm">
    <div class="card m-3">
        <div class="card-header bg-lightblue card-height55">
            <div class="card-title m-0 ">
                <h5 class="fw-bolder text-blue">EDIT SALARY GRADE TEMPLATE TO EMPLOYEE</h5>
            </div>
        </div>
  
        <div class="d-flex flex-row m-6 flex-wrap" style="width: 80%;">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
              <span class="font-bold">Salary Grade Template Name<span style="color:red">*</span></span>
              <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                <input type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
                    placeholder="Enter Grade Template name" formControlName="template_name" class="form-control" required readonly/>
                <div *ngIf="reactiveFormadd.get('template_name')?.hasError('required')" class="text-danger">
                    Template Name is required.
                </div>
            </div>
            </div>
          
            <div class="col-12 col-lg-4 col-md-4 col-sm-12" style="margin-left: 50px;">
              <span class="font-bold">Basic Salary <span style="color:red">*</span></span>
              <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">

                <input type="text" formControlName="basic_salary" [ngStyle]=
                "{ 'border-color': reactiveFormadd.get('basic_salary')?.hasError('required')
                 && reactiveFormadd.get('basic_salary')?.touched ? 'red' : 'rgb(209, 209, 209)' }"
                 class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 
            bg-white custom-input  mb-3 mb-lg-0" placeholder="Enter Basic Salary" required 
            (keypress)="onKeyPress($event)" (ngModelChange)="onBasicSalaryChange()"
            
            />
                <div *ngIf="reactiveFormadd.get('basic_salary')?.hasError('required') &&
                 reactiveFormadd.get('basic_salary')?.touched " 
                 class="text-red">Basic salary required.</div>

              </div>
            </div>
          </div>
          
    </div>
  
    <div class="card shadow-sm mt-4">
        <div class="card-header">
            <h3 class="card-title">Additional Component</h3>
        </div>
        <div class="table-responsive">
            <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
                <table id="" class="table border-bottom gs-7">
                    <thead>
  
                        <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">                
                            <th rowspan="2">S.No</th>
                            <th rowspan="2">Component Group</th>
                            <th rowspan="2">Component Name</th>
                            <th colspan="2" style="text-align: center;">Contribution</th>
                        </tr>
                        <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                            <th style="text-align: center;">Employee</th>
                            <th style="text-align: center;">Employer</th>
                        </tr>
                       
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of addition_list; let i=index;" class="align-middle">
                   
                            <td>{{i+1}}</td>
                            <td>{{data.componentgroup_name}}</td>
                            <td>
                              <select (focus)="getoptions(data.componentgroup_name, i)" (ngModelChange)="calculateaddition1($event, i)"  style="width: 200px;" 
                              formControlName="salarycomponent_name" 
                              
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input">
                                    <ng-container *ngIf="!data.salarycomponent_name">
                                        <option [value]="data.salarycomponent_name" disabled>
                                            --Select Component--
                                        </option>
                                    </ng-container>
                                    <option *ngFor="let option of componentOptions[i]" [value]="option.salarycomponent_gid">
                                        {{ option.salarycomponent_name }}
                                    </option>
                             </select>
                          
                            </td>
  
                            <td style="text-align: center;">
                                <input type="text" [(ngModel)]="data.employee_contribution" 
                                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
                                formControlName="employee_contribution_{{i}}"  placeholder="0.00"  
                                    style="width: 100px; display: inline-block; text-align: right;" 
                                    (ngModelChange)="onBasicSalaryChange()"  (keypress)="onKeyPress($event)" /> 
                            </td>
  
                            <td style="margin-left: -100; text-align: center;">
                                <input type="text" [(ngModel)]="data.employer_contribution"
                                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
                                formControlName="employer_contribution_{{i}}"
                                    placeholder="0.00"
                                    style="width: 100px; display: inline-block; text-align: right;" 
                                    (ngModelChange)="onBasicSalaryChange()" (keypress)="onKeyPress($event)" />
                            </td>
  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: flex-end; margin-top: 10px;margin-bottom: 10px;">
      <div>
          <span><span class="font-bold">Gross Salary</span></span>
          <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
              formControlName="gross_salary" placeholder="0.00"
              style="width: 100px; display: inline-block; text-align: right; margin-left: 10px;" readonly>
          <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
              formControlName="grand_salary" placeholder="0.00"
              style="width: 100px; display: inline-block; text-align: right; margin-left: 10px;margin-right: 80px;" readonly>
      </div>
  </div>
  
  
    <div class="card shadow-sm mt-4">
        <div class="card-header">
            <h3 class="card-title">Deduction Component</h3>
        </div>
        <div class="table-responsive">
            <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
                <table id="" class="table border-bottom gs-7">
                    <thead>
                        <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                            <th rowspan="2">S.No</th>
                            <th rowspan="2">Component Group</th>
                            <th rowspan="2">Component Name</th>
                            <th colspan="2" style="text-align: center;">Contribution</th>
                        </tr>
                        <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                            <th style="text-align: center;">Employee</th>
                            <th style="text-align: center;">Employer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of deduction_list; let i=index;" class="align-middle">
                            <td>{{i+1}}</td>
                            <td>{{data.componentgroup_name}}</td>
                            <td>
                                <select (focus)="getdeduction(data.componentgroup_name,i)" (ngModelChange)="calculatededuction($event, i)" style="width: 200px;"
                                    formControlName="salarycomponent_name"
                                     
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input">
                                    <ng-container *ngIf="!data.salarycomponent_name">
                                        <option [value]="data.salarycomponent_name" disabled>
                                            --Select Component--
                                        </option>
                                    </ng-container>
                                    <option *ngFor="let option of componentOptions1[i]" [value]="option.salarycomponent_gid">
                                        {{ option.salarycomponent_name }}
                                    </option>
                                </select>
                            </td>
  
                            <td style="text-align: center;">
                                <input type="text" [(ngModel)]="data.demployee_contribution"
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
                                    formControlName="demployee_contribution_{{i}}" placeholder="0.00"
                                    style="width: 100px; display: inline-block; text-align: right;"
                                     (ngModelChange)="onBasicSalaryChange()" (keypress)="onKeyPress($event)" />
                            </td>
  
                            <td style="margin-left: -100; text-align: center;">
                                <input type="text"  [(ngModel)]="data.demployer_contribution"
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
                                    formControlName="demployer_contribution_{{i}}" placeholder="0.00"
                                    style="width: 100px; display: inline-block; text-align: right;"
                                     (ngModelChange)="onBasicSalaryChange()" (keypress)="onKeyPress($event)"/>
                            </td>
  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
  
    <div style="display: flex; justify-content: flex-end; margin-top: 10px;margin-bottom: 10px;">
      <div>
          <span><span class="font-bold">Net Salary</span></span>
          <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
              formControlName="net_salary" placeholder="0.00"
              style="width: 100px; display: inline-block; text-align: right; margin-left: 10px;" readonly>
      </div>
      
      <div>
          <span style=" margin-left: 20px;"><span class="font-bold">CTC</span></span>
          <input type="text"
          class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
          formControlName="ctc" placeholder="0.00"
          style="width: 100px; display: inline-block; text-align: right; margin-left: 10px;" readonly>
      </div>
  </div>
  
  
  
  <div class="text-center my-4">
      <button class="btn-success text-white" (click)="submit()" >
        <i class="fas fa-check text-white fs-5"></i> &nbsp; submit
      </button>
      <button style="margin-left: 10px;"  class="btn-primary btn-sm text-white me-4" routerLink="/payroll/PayMstEmployeetemplatesummary" >
        <i class="fas fa-arrow-left"></i> &nbsp; Back
      </button>
    </div>
    
  </form>
  
  