@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

$nt-b-color: #337ab7;
$nt-b-style: dashed;

.detail-content {
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  li {
    border: 2px $nt-b-style lighten($nt-b-color, 0%);
    border-width: 0 0 0px 1px;
    display: flex;
    .detail {
      margin: 0;
      padding: 0 8px 4px 0;
      margin-bottom: 10px;
      flex-grow: 1;
      flex-basis: 100%;
      fieldset {
        border: 1px solid lighten($nt-b-color, 20%);
        background-color: white !important;
        
        legend {
          font-size: 90%;
          margin-left: 5px;
          width: auto;
          margin-bottom: 0;
          border: none;
        }
        > div {
          margin-left: 5px;
          margin-right: 12px;
          table.table-condensed {
            tbody > tr > td {
              padding: 2px;
            }
          }
        }
      }

      &:first-child {
        border-top: 1px $nt-b-style lighten($nt-b-color, 0%);
        flex-basis: 1%;
        background: #fff;
        margin-top: 19px;
      }
    }

    &:first-child {
      padding-top: 5px;
    }

    &:last-child {
      margin-bottom: 20px;
      > .detail {
        margin-bottom: 0;
        &:first-child {
          margin-left: -1px;
        }
      }
    }

    .button-link {
      display: inline-block;
      padding: 8px 16px;
      text-decoration: none;
      color: black; /* Default black font color */
      border-radius: 4px;
      transition: background-color 0.3s;
      cursor: default; /* Default cursor */
    }
    
    .button-link:hover {
      color: #3788d8; /* Light blue color on hover */
      cursor: pointer; /* Hand icon (pointer) on hover */
      font-weight: bold;
    }
    
  }
}
}