<!-- <div class="card">
    <div class="row ms-3 mt-3 d-flex align-items-center">
        <div class="col">
            <h3 class="card-title">Lead Bank - Corporate</h3>
        </div>
        <div class="col me-5">
            <button title="Export Excel" type="button" class="btn btn-icon btn-sm bg-export me-2 float-end"
                style="width: 6%;" (click)="exportExcel()"><i class="fa-regular fa-file-excel fs-2"></i></button>
            <button title="Import Excel" type="button" class="btn btn-icon btn-sm bg-excel me-2 float-end"
                style="width: 6%;" data-bs-toggle="modal" data-bs-target="#myModalexcelimport"><i
                    class="fa-regular fa-file-excel fs-2"></i></button>
            <button title="Add Lead" class="btn-primary btn-sm text-white me-4 float-end" (click)="onadd()">
                <i class="fas fa-plus"></i>
                Add Lead</button>
        </div>
    </div> -->
    
    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-3 col-md-3 col-sm-3" routerLink="/crm/CrmTrnCorporateLeadBank">
            <div class="cardHead radius-10 border-start border-0 border-3 border-brown" style="background-color: #f5d4cf;">
                <div class="card-body12">
                    <div class="d-flex align-items-center">
                        <div>
                           
                                <h5 class="mb-0 text-secondary">{{firstCustomertype}} </h5>
                            <div *ngFor="let LeadBank_Corporate of LeadBankCountList">
                                <h4 class="badge badge-outline badge-danger fs-4 mt-2">{{LeadBank_Corporate.corporate_count}}</h4>
                            </div>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-brown text-white ms-auto">
                            <i class="fa-solid fa-users-between-lines"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3" routerLink="/crm/CrmTrnLeadbanksummary">
            <div class="cardHead radius-10 border-start border-0 border-3 border-darkgreen">
                <div class="card-body12">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0 text-secondary">{{firstCustomertype2}} </h5>
                            <div *ngFor="let LeadBank_Distributor of LeadBankCountList">
                                <h4 class="badge badge-outline badge-success fs-4 mt-2">{{LeadBank_Distributor.distributor_count}}</h4>
                            </div>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-darkgreens text-white ms-auto">
                            <i class="fa-solid fa-street-view"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        <div class="col-lg-3 col-md-3 col-sm-3" routerLink="/crm/CrmTrnRetailerLeadBank">
            <div class="cardHead radius-10 border-start border-0 border-3 border-violet">
                <div class="card-body12">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0 text-secondary">{{firstCustomertype3}} </h5>
                            <div *ngFor="let LeadBank_Retailer of LeadBankCountList">
                                <h4 class="badge1 badge-outline1 badge-danger fs-4 mt-2">{{LeadBank_Retailer.retailer_counts}}</h4>
                            </div>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-violet text-white ms-auto">
                            <i class="fa-solid fa-users-rectangle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"
        style=" cursor: not-allowed;">
            <div class="cardHeadLeads radius-10 border-start border-0 border-3 border-darkorange"
            style="background-color: #F5F5F5 ;">
                <div class="card-body12">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0 text-secondary">Total Leads</h5>
                            <div *ngFor="let RegisterLeadCount_total of LeadBankCountList">
                                <h4 class="badge2 badge-outline2 badge-danger fs-4 mt-2">{{RegisterLeadCount_total.total_count}}</h4>
                            </div>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-purple text-white ms-auto">
                            <i class="fa-solid fa-users"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row ms-3 mt-3 d-flex align-items-center">
            <div class="col">
                <h3 class="card-title">Lead Bank - {{firstCustomertype}}</h3>
            </div>
            <div class="col me-5">
                <button title="Export Excel" type="button" class="btn btn-icon btn-sm bg-export me-2 float-end"
                    style="width: 6%;" (click)="exportExcel()"><i class="fa-regular fa-file-excel fs-2"></i></button>
                <button title="Import Excel" type="button" class="btn btn-icon btn-sm bg-excel me-2 float-end"
                    style="width: 6%;" data-bs-toggle="modal" data-bs-target="#myModalexcelimport"><i
                        class="fa-regular fa-file-excel fs-2"></i></button>
                <button title="Add {{firstCustomertype}} Lead" class="btn-primary btn-sm text-white me-4 float-end" (click)="onadd()">
                    <i class="fas fa-plus"></i>
                    Add {{firstCustomertype}} Lead</button>
            </div>
        </div>
  
        <div class="table-responsive">
            <div class="card card-body m-3 shadow-xl p-3 mb-5 bg-white rounded">
                <table id="leadbank_list1" class="table table-striped table-row-bordered border-bottom gs-7">
                    <thead>
                        <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                            <th>S.No</th>
                            <th>Generated Date</th>
                            <th>Company </th>
                            <th>Contact </th>
                            <th>Region</th>
                            <!-- <th>Customer Type</th> -->
                            <th>Source</th>
                            <th>Generated By</th>
                            <th class="text-center">Remarks</th>
                            <th>Status</th>
                            <th>Assigned To</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of leadbank_list1; let i=index;" class="align-middle">
                            <td>{{i+1}}</td>
                            <td style="white-space: nowrap;">{{data.created_date}}</td>
                            <td>{{data.leadbank_name}}</td>
                            <td>{{data.contact_details}}</td>
                            <td style="white-space: nowrap;">{{data.region_name}}</td>
                            <!-- <td>{{data.customer_type}}</td> -->
                            <td style="white-space: nowrap;">{{data.source_name}}</td>
                            <td style="white-space: nowrap;">{{data.created_by}}</td>
                            <!-- <td class="text-center text-nowrap">
                                <button title="View Details" type="button"
                                    (click)="popmodal(data.remarks,data.leadbank_name)" data-bs-toggle="modal"
                                    data-bs-target="#myModalUpdateimage9" class="btn btn-icon btn-sm bg-secondary">
                                    <i class="fa-solid fa-question  fs-4" style="color:grey; font-size: 20px;"></i>
                                </button>
                            </td> -->
                            <td class="text-center text-nowrap">
                                <label title="Remarks" data-bs-toggle="modal" data-bs-target="#myModalUpdateimage9"
                                    (click)="popmodal(data.remarks,data.leadbank_name)">
                                    <i class="fas fa-question-circle fa-5x text-primary fs-2"></i>
                                </label>
                            </td>
                            <td style="white-space: nowrap;">{{data.lead_status}}</td>
                            <td>{{data.assign_to}}</td>
                            <td class="text-center text-nowrap">
                                <button title="View" type="button" class="btn btn-icon btn-sm bg-view bg-primary me-2"
                                    (click)="onview(data.leadbank_gid)"><span
                                        class="fa-solid fa-eye text-white  fs-6"></span></button>
                                <button title="Edit" type="button" class="btn btn-icon btn-sm bg-edit me-2"
                                    (click)="onedit(data.leadbank_gid)"><span
                                        class="fa-solid fa-pencil text-white  fs-6"></span></button>
                                <button title="Delete" type="button" (click)="openModaldelete(data.leadbank_gid)"
                                    data-bs-toggle="modal" data-bs-target="#myModaldelete"
                                    class="btn btn-icon btn-sm bg-danger me-2"><span
                                        class="fa-solid fa-trash text-white  fs-6"></span></button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  
    <!--Delete popup-->
    <div class="modal" id="myModaldelete" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="text-center my-4">
                    <h2><b>Are you sure?</b></h2>
                    <br>
                    <p style="display: block;">Do You Want To Delete the Record ?</p><br>
                    <br>
                    <div class="text-center my-4">
                        <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
                            <i class="fas fa-close text-white"></i> &nbsp;Close
                        </button>&nbsp;
                        <button class="btn-danger btn-sm text-white me-4" (click)="ondelete()" data-bs-dismiss="modal">
                            <i class="fas fa-trash text-white fs-5 "></i> &nbsp;Delete
                        </button>
                        <!-- (click)="ondelete()"  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- The Modal Import -->
    <!-- <form [formGroup]="reactiveForm" #form="ngForm"> -->
        <div class="modal" id="myModalexcelimport" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->

                    <!-- <div class="card-header p-1 pb-2 pt-1 rounded-top bg-primary">
                         -->
                <div class="modal-header bg-primary mb-10">
                        <h2 class="modal-title text-white ">&nbsp;&nbsp;<i
                                class="fas fa-file fw-bolder fs-3"></i> &nbsp;&nbsp;LEAD BANK EXCEL FILE IMPORT</h2>

                    </div>

                    <!-- Modal body -->
                    <!-- <div class="modal-body"> -->
                        <div class="row p-2">  
                            <div class="col-3"><button title="Download Template" type="submit" class="btn-primary ms-2"
                            (click)="downloadfileformat()">
                            <i class="fa-solid fa-download fs-5"></i>&nbsp;&nbsp;Template</button>
                            </div>
                        <br><br>
                        <!-- <div class="col-12 col-lg-4 col-md-6 col-sm-12"> -->
                     <div class="col-6">

                            <!-- <span class="font-bold"><b>Select an Excel File to Import</b><span
                                    class="ms-1 text-red">*</span></span> -->
                            <!-- <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2"> -->
                                <!-- <input style="width: 100%; height: 100%;" (change)="onChange1($event)" accept=".xlsx, .xls"
                                    type="file" #fileInput class="
                              form-control form-control-lg form-control-solid bg-white
                              mb-3 mb-lg-0  borderc-secondary custom-input
                            " name="fName" > -->
                            <input type="file"  #fileInput class="form-control" accept=".xlsx, .xls" (change)="onChange1($event)" id="fileInput" [(ngModel)]="fileInputs">

                            </div>
                            <div class="col-3"> 
                                <button class="btn-primary col-4 " (click)="importexcel($event)" data-bs-dismiss="modal"><i class="fa-solid fa-file-import "></i></button>&nbsp;
                                <button  type="reset" id="pseudoCancel" class="btn-danger col-4 "  (click)="canceluploadexcel()"><i class="bi bi-x-circle"></i></button>
                           </div>
                        </div>
                        <br>
                        <!-- Modal footer -->
                        <div class="text-center my-4">
                            <!-- <button title="Upload" type="submit" class="btn-success btn-sm text-white me-2" (click)="importexcel()">
                                <i class="fa fa-check fs-5"></i>&nbsp; Upload</button> -->

                                <button type="reset" type="button" class="btn-danger col-2" data-bs-dismiss="modal" (click)="oncloseimportexcel()">
                                    <i class="fa fa-close fs-5 text-center"></i>&nbsp;
                                    Close
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Remarks popup-->
        <div class="modal fade" id="myModalUpdateimage9" tabindex="-1" data-bs-backdrop='static'
            aria-labelledby="editamlcategoryLabel" aria-hidden="true" data-bs-keyboard="false">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content  d-flex justify-content-center">
                    <div class="card-header p-1 pb-1 pt-1 rounded-top bg-primary"
                        style="display: flex; align-items: center; height: 40px;">

                        <h3 Style="color: white; font-weight: bold; text-align: left; width: 100%;margin-left: 10px;">
                            {{leadbank_name}}
                        </h3>
                    </div>
                    <div class="modal-body">

                        <div class="col-12 col-lg-3 col-md-6 col-lg-12">

                            <span class="fw-bold">Remarks </span>

                            <p class="mt-2 wrap-text" style="max-width: 100%; overflow: auto; max-height: 200px;">
                                {{remarks}}</p>
                        </div>
                        <div class="text-center my-4">
                            <button class="btn-danger btn-sm text-white me-2" data-bs-dismiss="modal"
                                style="background-color: red;">
                                <i class="fas fa-close text-white"></i> &nbsp;Close
                            </button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </form> -->