<div class="container p-2 inter_fonts">
  <!-- style="background-color: rgb(234 237 240);" -->
<div class="border_custom_line p-2" style="box-shadow: rgba(77, 103, 131, 0.86) 0px 2px 3px -1px, rgba(0, 166, 255, 0.06) 0px 2px 2px -1px;border-radius: 10px;">
  <div class="row mt-2 mb-2">
      <div class="col-lg-6 d-flex align-items-center">
          <div class="ms-3 align-middle">
            <div class="d-flex align-items-center">
              <h1 class="inter_fonts"><span>Business Insights </span>
              </h1>

              <span class="p-1 fs-6 rounded mb-2 ms-2 fw-bold cursor-pointer" routerLink="/outlet/OtlTrnWhatsAppOrderSummary" style="background-color: #c6d7e7;box-shadow: rgba(77, 103, 131, 0.86) 0px 2px 3px -1px, rgba(0, 166, 255, 0.06) 0px 2px 2px -1px;">Go To Orders &nbsp;<i class="fa-solid fa-arrow-up-right-from-square" ></i></span> 
           
            </div>
            <p class="fw-semibold text-secondary fs-4"><i class="fa-regular fa-calendar fs-4"></i> {{response?.min_date }} - {{response?.max_date}}</p>

          </div>

      </div>


      <div class="col-lg-3">
          <div class="border_custom_Inline text-center rounded m-1 m-lg-0" style="box-shadow: rgba(42, 42, 42, 0.1) 0px 2px 3px -1px, rgba(0, 0, 0, 0.06) 0px 2px 2px -1px;border-radius: 10px;">
              <h1 class="fw-semibold mb-0 custom_font_size mt-2" *ngIf="response?.kot_totalprice === ''">₹0.00
              </h1>
              <h1 class="fw-semibold mb-0 custom_font_size mt-2" *ngIf="response?.kot_totalprice !== ''">₹{{response?.kot_totalprice }}</h1>
              <p class="fw-medium text-secondary inter_fonts fs-4">Total Revenue</p>
          </div>

      </div>
      <div class="col-lg-3">
          <div class="border_custom_Inline text-center rounded m-1 m-lg-0 me-lg-3" style="box-shadow: rgba(42, 42, 42, 0.1) 0px 2px 3px -1px, rgba(0, 0, 0, 0.06) 0px 2px 2px -1px;border-radius: 10px;">
              <h1 class="fw-semibold mb-0 custom_font_size mt-2" *ngIf="branches?.active_Products > 0">{{response?.total_ordercount |
                  number:'1.0-0'}}</h1>
                  <h1 class="fw-semibold mb-0 custom_font_size mt-2" *ngIf="branches?.active_Products <= 0"> -- </h1>
              <p class="fw-medium text-secondary inter_fonts fs-4">Total Order</p>
          </div>

      </div>
  </div>
</div>
  <div class="p-3 mt-5 border_custom_line " *ngIf="branches?.length !== 1 "
  style="box-shadow: rgba(77, 103, 131, 0.86) 0px 2px 3px -1px, rgba(0, 166, 255, 0.06) 0px 2px 2px -1px;border-radius: 10px;">
  <h1 class="inter_fonts">Products</h1>
  

      <div class="row mt-3">
          <div class="col-lg-6">
              
              <h6 class="fw-medium mt-5 inter_fonts"><span class="fw-bold">Branch</span> - <span class="fw-bold rounded p-2 fs-6" style="background-color: #c6d7e7;box-shadow: rgba(77, 103, 131, 0.86) 0px 2px 3px -1px, rgba(0, 166, 255, 0.06) 0px 2px 2px -1px;">{{
                  branches?.branch_name }}</span></h6>

          </div>
          <div class="col-lg-6">
              <i class="fa-solid fa-ellipsis-vertical float-end fs-1 me-4 m-3 cursor-pointer"
                  (click)="optionopen()"></i>
              <div class="pb-0 rounded bg-white cursor-pointer icon_menu" *ngIf="option"
                  style="margin-top: 27px;max-height: 151px;">
                  <div class="d-flex p-3 pb-3 hover_effect fw-semibold text-black"
                      (click)="WaAssignProduct(branches.branch_gid)">
                      <span><i class="fas fa-cart-plus fs-3 me-4"></i></span>
                      <span>Assign Products</span>
                  </div>
                  <div class="d-flex p-3 pb-3 hover_effect fw-semibold text-black"
                      (click)="Waupdateprice(branches.branch_gid)">
                      <span><i class="fa-solid fa-pen-to-square fs-3 me-4"></i></span>
                      <span>Set Price</span>
                  </div>
                  <div class="d-flex p-3 pb-3 hover_effect fw-semibold text-black"
                      (click)="WaProduct(branches.branch_gid)">
                      <span><i class="fa-brands fa-whatsapp fs-3 me-4 fw-bold"></i></span>
                      <span>WhatsApp Products</span>
                  </div>
                  <div class="d-flex p-3 pb-3 hover_effect fw-semibold text-black" *ngIf="enable_kot =='Y'"
                      data-bs-toggle="modal" data-bs-target="#mymodelnumberupdate" (click)="pushvalue(branches)">
                      <span><i class="fa-solid fa-phone fs-3 me-4"></i></span>
                      <span>Phone</span>
                  </div>
              </div>
          </div>
      </div>
     <br>
      <div class="row pt-3">
          <div class="col-lg-3 ">
              <div class="rounded border_custom_Inline p-1 text-center m-1 m-lg-0">
                  <h1 class="fw-medium mb-0 mt-2 custom_font_size" *ngIf="branches?.active_Products <= 0"> -- </h1>
                  <h1 class="fw-medium mb-0 mt-2 custom_font_size" *ngIf="branches?.active_Products > 0">{{ branches?.active_Products | number:'1.0-0'
                      }}</h1>
                  <p class="fw-semibold text-secondary">Total Products</p>
              </div>

          </div>
          <div class="col-lg-3">
              <div class="rounded border_custom_Inline p-1 text-center m-1 m-lg-0">
                  <h1 class="fw-medium mb-0 mt-2 custom_font_size" *ngIf="branches?.in_stock <= 0"> -- </h1>
                  <h1 class="fw-medium mb-0 mt-2 custom_font_size" *ngIf="branches?.in_stock > 0">{{ branches?.in_stock | number:'1.0-0' }}</h1>
                  <p class="fw-semibold text-secondary">In Stock</p>

              </div>

          </div>
          <div class="col-lg-3">
              <div class="rounded border_custom_Inline p-1 text-center m-1 m-lg-0">
                  <h1 class="fw-medium mb-0 mt-2 custom_font_size" *ngIf="branches?.out_of_stock <= 0"> -- </h1>
                  <h1 class="fw-medium mb-0 mt-2 custom_font_size" *ngIf="branches?.out_of_stock > 0">{{ branches?.out_of_stock | number:'1.0-0' }}
                  </h1>
                  <p class="fw-semibold text-secondary">Out Of Stock</p>

              </div>
          </div>
          <div class="col-lg-3 ">
              <div class="rounded border_custom_Inline p-1 text-center m-1 m-lg-0">
                  <h1 class="fw-medium mb-0 mt-2 custom_font_size" *ngIf="branches?.product_added <= 0"> -- </h1>
                  <h1 class="fw-medium mb-0 mt-2 custom_font_size" *ngIf="branches?.product_added > 0">{{ branches?.product_added | number:'1.0-0' }}
                  </h1>
                  <p class="fw-semibold text-secondary">In Meta</p>

              </div>
          </div>
      </div>

      <br>
      <!-- <div class="row mt-4 d-flex justify-content-center">
          <div class="col-lg-2">
              <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2 d-flex justify-content-between align-items-center"
                  routerLink="/smr/SmrMstTaxsummary">
                  <i class="fa-solid fa-coins fs-3 p-2 rounded"
                      style="background-color: #bacfe4;"></i>
                  <h3 class="fw-semibold inter_fonts mb-0">
                      Tax Summary
                  </h3>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2 d-flex justify-content-between align-items-center"
                  routerLink="/smr/SmrMstProductunitsSummary">
                  <i class="fa-solid fa-chart-pie fs-3 p-2 rounded" style="background-color: #bacfe4;"></i>
                  <h3 class="fw-semibold inter_fonts mb-0">
                      Tax Segments
                  </h3>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2 d-flex justify-content-between align-items-center"
                  routerLink="/smr/SmrMstProductunitsSummary">
                  <i class="fa-solid fa-up-right-and-down-left-from-center fs-3 p-2 rounded" style="background-color: #bacfe4;"></i>
                  <h3 class="fw-semibold inter_fonts mb-0">
                      Product
                  </h3>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2 d-flex justify-content-between align-items-center"
                  routerLink="/smr/SmrMstProductGroup">
                  <i class="fa-solid fa-layer-group fs-3 p-2 rounded" style="background-color: #bacfe4;"></i>
                  <h3 class="fw-semibold inter_fonts mb-0">
                      Product Group
                  </h3>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2 d-flex justify-content-between align-items-center"
                  routerLink="/smr/SmrMstProductunitsSummary">
                  <i class="fa-solid fa-up-right-and-down-left-from-center fs-3 p-2 rounded" style="background-color: #bacfe4;"></i>
                  <h3 class="fw-semibold inter_fonts mb-0">
                      Product Unit
                  </h3>
              </div>
          </div>
          
          
         
      </div> -->
          <table class="table table-responsive-md">
              <tbody>
                  <tr>
                      <td class="text-center" style="width: 15px;">
                          <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2  align-items-center"
                          routerLink="/smr/SmrMstTaxsummary">
                          <i class="fa-solid fa-coins fs-3 p-2 mt-2 rounded"
                              style="background-color: #bacfe4;box-shadow: rgba(77, 103, 131, 0.86) 0px 2px 3px -1px, rgba(0, 166, 255, 0.06) 0px 2px 2px -1px;"></i>
                          <h3 class="fw-semibold inter_fonts mb-0 mt-5">
                              Tax Summary
                          </h3>
                      </div>
                      </td>
                      <td class="text-center" style="width: 15px;">
                          <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2 align-items-center"
                          routerLink="/smr/SmrMstTaxsegment">
                          <i class="fa-solid fa-chart-pie fs-3 p-2 mt-2 rounded" style="background-color: #bacfe4;box-shadow: rgba(77, 103, 131, 0.86) 0px 2px 3px -1px, rgba(0, 166, 255, 0.06) 0px 2px 2px -1px;"></i>
                          <h3 class="fw-semibold inter_fonts mb-0 mt-5">
                              Tax Segments
                          </h3>
                      </div>
                      </td>
                     
                      <td class="text-center" style="width: 15px;">
                          <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2 align-items-center"
                          routerLink="/smr/SmrMstProductGroup">
                          <i class="fa-solid fa-layer-group fs-3 p-2 mt-2 rounded" style="background-color: #bacfe4;box-shadow: rgba(77, 103, 131, 0.86) 0px 2px 3px -1px, rgba(0, 166, 255, 0.06) 0px 2px 2px -1px;"></i>
                          <h3 class="fw-semibold inter_fonts mb-0 mt-5">
                              Product Group
                          </h3>
                      </div>
                      </td>
                      <td class="text-center" style="width: 15px;">
                          <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2 align-items-center"
                          routerLink="/smr/SmrMstProductunitsSummary">
                          <i class="fa-solid fa-up-right-and-down-left-from-center fs-3 p-2 mt-2 rounded" style="background-color: #bacfe4;box-shadow: rgba(77, 103, 131, 0.86) 0px 2px 3px -1px, rgba(0, 166, 255, 0.06) 0px 2px 2px -1px;"></i>
                          <h3 class="fw-semibold inter_fonts mb-0 mt-5">
                              Product Unit
                          </h3>
                      </div> 
                      </td>
                      <td class="text-center" style="width: 15px;">
                          <div class="border_custom_Inline rounded hover_effect_redirect m-1 m-lg-0 p-2 align-items-center"
                  routerLink="/smr/SmrMstProductSummary">
                  <i class="fa-solid fa-box-open fs-3 p-2 mt-2 rounded" style="background-color: #bacfe4;box-shadow: rgba(77, 103, 131, 0.86) 0px 2px 3px -1px, rgba(0, 166, 255, 0.06) 0px 2px 2px -1px;"></i>
                  <h3 class="fw-semibold inter_fonts mb-0 mt-5">
                      Product
                  </h3>
              </div>
                      </td>
                  </tr>
              </tbody>
          </table>
    
  </div>
  <!--Branches more than 1-->
  <!-- <div class="p-3 mt-5 border_custom_line " *ngIf="this.branches.length !== 2 && this.branches.length === 1"
      style="box-shadow: rgba(42, 42, 42, 0.1) 0px 2px 3px -1px, rgba(0, 0, 0, 0.06) 0px 2px 2px -1px;border-radius: 10px;">
      <h2 class="inter_fonts">Products</h2>

      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <h4 class="fw-medium m-3 inter_fonts">{{ branches[0].name }}</h4>
                  <div class="border_custom_line m-2 pb-3 rounded">
                      <div class="row ">
                          <div class="col-lg-3">
                              <div class="rounded p-1 text-center">
                                  <h1 class="fw-medium mb-0 mt-2 custom_font_size">{{ branches[0].products |
                                      number:'1.0-0' }}</h1>
                                  <p class="mb-0 fw-semibold text-secondary">Total Products</p>

                              </div>
                          </div>
                          <div class="col-lg-3">
                              <div class="rounded p-1 text-center">
                                  <h1 class="fw-medium mb-0 mt-2 custom_font_size">{{ branches[0].inStock |
                                      number:'1.0-0' }}</h1>
                                  <p class="mb-0 fw-semibold text-secondary">In Stock</p>

                              </div>
                          </div>
                          <div class="col-lg-3">
                              <div class="rounded p-1 text-center">
                                  <h1 class="fw-medium mb-0 mt-2 custom_font_size">{{ branches[0].outStock |
                                      number:'1.0-0' }}</h1>
                                  <p class="mb-0 fw-semibold text-secondary">Out of stock</p>

                              </div>
                          </div>
                          <div class="col-lg-3">
                              <div class="rounded p-1 text-center">
                                  <h1 class="fw-medium mb-0 mt-2 custom_font_size">{{ branches[0].inMeta |
                                      number:'1.0-0' }}</h1>
                                  <p class="mb-0 fw-semibold text-secondary">In Meta</p>

                              </div>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="col-lg-6">
                  <h4 class="fw-medium m-3 inter_fonts">{{ branches[1].name }}</h4>
                  <div class="border_custom_line m-2 pb-3 rounded">
                      <div class="row ">
                          <div class="col-lg-3">
                              <div class="rounded p-1 text-center">
                                  <h1 class="fw-medium mb-0 mt-2 custom_font_size">{{ branches[1].products |
                                      number:'1.0-0' }}</h1>
                                  <p class="mb-0 fw-semibold text-secondary">Total Products</p>

                              </div>
                          </div>
                          <div class="col-lg-3">
                              <div class="rounded p-1 text-center">
                                  <h1 class="fw-medium mb-0 mt-2 custom_font_size">{{ branches[1].inStock |
                                      number:'1.0-0' }}</h1>
                                  <p class="mb-0 fw-semibold text-secondary">In Stock</p>

                              </div>
                          </div>
                          <div class="col-lg-3">
                              <div class="rounded p-1 text-center">
                                  <h1 class="fw-medium mb-0 mt-2 custom_font_size">{{ branches[1].outStock |
                                      number:'1.0-0' }}</h1>
                                  <p class="mb-0 fw-semibold text-secondary">Out of stock</p>

                              </div>
                          </div>
                          <div class="col-lg-3">
                              <div class="rounded p-1 text-center">
                                  <h1 class="fw-medium mb-0 mt-2 custom_font_size">{{ branches[1].inMeta |
                                      number:'1.0-0' }}</h1>
                                  <p class="mb-0 fw-semibold text-secondary">In Meta</p>

                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>

  </div>

  <div class="p-3 mt-5 border_custom_line " *ngIf="this.branches.length === 2 && this.branches.length === 1"
      style="box-shadow: rgba(42, 42, 42, 0.1) 0px 2px 3px -1px, rgba(0, 0, 0, 0.06) 0px 2px 2px -1px;border-radius: 10px;">
      <h2 class="inter_fonts">Products</h2>

      <div class="container">
          <table class="table table-responsive-md">
              <tbody>
                  <tr>
                      <td class="text-center">
                          <div class="rounded border_custom_line p-2">
                              <p class="mb-0 fs-5">{{ branches.name }}</p>
                              <hr>
                              <div class="d-flex justify-content-between fs-4 mb-2">
                                  <div class="fw-semibold">Total Products</div>
                                  <div>{{ branches.active_Products }}</div>
                              </div>
                              <div class="d-flex justify-content-between fs-4 mb-2">
                                  <div class="fw-semibold">In Stock</div>
                                  <div>{{ branches.in_stock }}</div>
                              </div>
                              <div class="d-flex justify-content-between fs-4 mb-2">
                                  <div class="fw-semibold">Out of stock</div>
                                  <div>{{ branches.out_of_stock }}</div>
                              </div>
                              <div class="d-flex justify-content-between fs-4 mb-2">
                                  <div class="fw-semibold">In Meta</div>
                                  <div>{{ branches.product_added }}</div>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>


  </div> -->
  <!--Branches more than 1-->
</div>

<div class="modal fade" id="mymodelnumberupdate" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

          <div class="card-header pb-3 pt-6  rounded-top bg-primary">
              <div>
                  <h3 class="fw-bolder text-white"><i class="fa-solid fa-phone fs-3 ms-2 "></i>&nbsp;Update Mobile
                      Number</h3>
              </div>
          </div>

          <div class="modal-body">
              <form [formGroup]="formmobileconfig" #form="ngForm">
                  <div class="row">
                      <input class="form-control form-control-lg" formControlName="branch_gid" hidden type="text"
                          aria-label=".form-control-lg example" autocomplete="off" required style="height:40px;">
                      <div class="col-6">
                          <div class="row">
                              <span class="font-bold required">Manager Number</span>
                              <div class="col-lg-12 col-md-12 col-sm-12 fv-row mb-2 mt-2 d-flex">
                                  <input type="text" formControlName="manager_number"
                                      placeholder="Enter With Country Code"
                                      class="form-control form-control-lg form-control-solid custom-input mb-3 bg-white borderc-secondary custom-input"
                                      name="manager_number" style="height:40px;" />
                              </div>
                              <div
                                  *ngIf="formmobileconfig.get('manager_number')?.hasError('required') && formmobileconfig.get('manager_number')?.touched">
                                  <span class=" text-red">Mobile number is required</span>
                              </div>
                              <div *ngIf="formmobileconfig.get('manager_number')?.hasError('pattern')">
                                  <span class="text-red">Invalid number format</span>
                              </div>


                          </div>
                      </div>
                      <div class="col-6">
                          <div class="row">
                              <span class="font-bold required">Send Message</span>
                              <div class="d-flex justify-content-start mt-4 ms-2">
                                  <div
                                      class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                      <input class="form-check-input" type="radio" name="msgsend_manger"
                                          formControlName="msgsend_manger" value="Y" />
                                      <label class="form-check-label text-gray-700 text-nowrap"
                                          for="msgsend_manger">Yes</label>
                                  </div>
                                  <div
                                      class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-10">
                                      <input class="form-check-input" type="radio" name="msgsend_manger"
                                          formControlName="msgsend_manger" value="N" />
                                      <label class="form-check-label text-gray-700 text-nowrap"
                                          for="msgsend_manger">No</label>
                                  </div>
                              </div>
                              <div
                                  *ngIf="formmobileconfig.get('msgsend_manger')?.hasError('required') && formmobileconfig.get('msgsend_manger')?.touched">
                                  <span class=" text-red">Required Field</span>
                              </div>
                          </div>
                      </div>
                      <br>
                      <div class="col-6">
                          <div class="row">
                              <span class="font-bold">Owner Number</span>
                              <div class="col-lg-12 col-md-12 col-sm-12 fv-row mb-2 mt-2 d-flex">
                                  <input type="text" formControlName="owner_number"
                                      placeholder="Enter With Country Code"
                                      class="form-control form-control-lg form-control-solid custom-input mb-3 bg-white borderc-secondary custom-input"
                                      name="owner_number" style="height:40px;" />
                              </div>
                              <div *ngIf="formmobileconfig.get('owner_number')?.hasError('pattern')">
                                  <span class="text-red">Invalid number format</span>
                              </div>


                          </div>
                      </div>
                      <div class="col-6">
                          <div class="row">
                              <span class="font-bold">Send Message</span>
                              <div class="d-flex justify-content-start mt-4 ms-2">
                                  <div
                                      class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                      <input class="form-check-input" type="radio" name="msgsend_owner"
                                          formControlName="msgsend_owner" value="Y" />
                                      <label class="form-check-label text-gray-700 text-nowrap"
                                          for="msgsend_owner">Yes</label>
                                  </div>
                                  <div
                                      class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-10">
                                      <input class="form-check-input" type="radio" name="msgsend_owner"
                                          formControlName="msgsend_owner" value="N" />
                                      <label class="form-check-label text-gray-700 text-nowrap"
                                          for="msgsend_owner">No</label>
                                  </div>
                              </div>
                              <div
                                  *ngIf="formmobileconfig.get('msgsend_manger')?.hasError('required') && formmobileconfig.get('msgsend_manger')?.touched">
                                  <span class=" text-red">Required Field</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="text-center my-4">
                      <button class="me-4 btn-success" (click)="onupdatemobileconfig()"
                          [disabled]="formmobileconfig.invalid"
                          [ngClass]="{'primary-button': !formmobileconfig.invalid, 'secondary-button': formmobileconfig.invalid}"
                          data-bs-dismiss="modal">
                          <i class="fas fa-check text-white fs-5"></i>
                          <span class="ms-3">Update</span>
                      </button>
                      <button class="btn-danger btn-sm text-white me-4" (click)="onclose()" data-bs-dismiss="modal">
                          <i class="fas fa-close text-white"></i> &nbsp;Close
                      </button>
                  </div>
              </form>
          </div>


          <div class="text-center my-4">

          </div>
      </div>
  </div>
</div>