<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card me-lg-3 me-0">
        <div class="card-header bg-lightblue card-height55">
            <div class="card-title m-0">
                <h5 class="fw-bolder text-blue">Employee To Approval</h5>
            </div>
        </div>
        <br>       
        <div class="card-body col-12 col-lg-12 col-md-12 col-sm-12 fv-row">
        <div class="row">   
            <div class="col-lg-3 col-md-3 col-sm-6">
                <label for="exampleFormControlInput1" class="fw-bold">Sub Module</label>
                <br />
                <p class="mt-2">{{module_name}}</p>
            </div>    
            <div class="col-lg-3 col-md-3 col-sm-6">
                <label for="exampleFormControlInput1" class="fw-bold">Approval Type</label>
                <br />
                <p class="mt-2">{{approval_type}}</p>
            </div>             
            <div class="col-lg-3 col-md-3 col-sm-6">
              <span class="fw-bold">Employee <span style="color:red;">*</span></span>
              <ng-select [items]="employeelist" class=" mt-2" [multiple]="true" [selectableGroup]="true"
                [closeOnSelect]="false" bindLabel="employee_name" bindValue="employee_gid" placeholder="Select an option"
                [(ngModel)]="cboselectedEmployee" style="width:100%">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;
                  <span >{{item.employee_name}}</span>
                </ng-template>
              </ng-select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <br />
              <button title="Assign" type="button" (click)="submit()"
                class="btn btn-icon btn-sm bg-primary  mt-2"><span
                  class="fa-solid fa-plus text-white  fs-6"></span></button>
            </div>  
        
          </div>
            
               
      </div>
    </div>

    <!-- <table #summaryTable>
      <div *ngFor="let level of approval_hierarchy_levellist">
          {{level}} 
      </div>

      <div>
          <div [innerHTML]="approval_hierarchy_levellist">
              
          </div>
      </div>
  </table> -->
  <div class="card me-lg-3">
    <div class="row ms-3 d-flex align-items-center">
        <div class="col">
            <h3 class="card-title"></h3>
        </div>

        <div class="col me-5">
            <button title="Clear" class="btn-primary btn-sm text-white me-4 mb-2 mt-2 float-end"  >Clear</button>
        </div>
    </div>

   
  <table #summaryTable>
    
      <div *ngFor="let level of hierarchy_level"  [ngClass]="{'highlighted': isLevelSelected(level)}">
            {{ level }} 
        </div>
     

        <div>
          <div [innerHTML]="hierarchy_level" style="margin-left:-135px;">
          </div>
        </div>
    </table>

    <!-- <table #summaryTable>
      <thead>
          <tr>
              <th>Level</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let level of hierarchy_level; let i = index" [class.highlighted]="isSelected(i)">
              <td>{{ level }}</td>
          </tr>
      </tbody>
  </table> -->
    
    <div class="text-center my-4">  
        <button type="back"(click)="back()" class="btn-primary btn-sm text-white me-4" >
          <i class="bi bi-arrow-left-square fs-5 me-1"></i>
          <span class="ms-3">Back</span>
        </button>
      </div>
</div>

</div>

