<div class="card mt-4">
  <div class="row ms-3 mt-3 d-flex align-items-center">
    <div class="col">
      <h3 class="card-title fw-bold">Product Group</h3>
    </div>
    <div class="col me-5">
      <button type="button" class="btn-primary btn-sm text-white me-4 float-end" data-bs-toggle="modal" data-bs-target="#myProductadd"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Product Group
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
      <table id="productgroup_list" class="table table-striped table-row-bordered gy-5 gs-7 ">
        <thead>
          <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
            <th style="width: 8px;">S.No</th>
            <th style="width: 200px;">Product Group Code </th>
            <th>Product Group </th>
            <!-- <th>Created By</th>
            <th>Created Date</th> -->
            <th class="text-center bg-lightblue ">Action</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productgroup_list; let i=index;" class="align-middle">
            <td>{{i+1}}</td>
            <td style="width: 200px;">{{data.productgroup_code}}</td>
            <td>{{data.productgroup_name}}</td>
            <!-- <td>{{data.created_by}}</td>
            <td>{{data.created_date}}</td> -->
            <!-- <td class="text-center text-nowrap" style="width: 7%;">
             
              <div (click)="toggleOptions(data.productgroup_gid)" style="cursor: pointer;">
                <button class="btn me-2 p-1">
                    <span class="fa-solid fa-ellipsis-vertical fs-1" style="color: #4d4d4d;"></span>
                </button>
                <div *ngIf="showOptionsDivId === data.productgroup_gid" class="pb-0 rounded bg-white cursor-pointer icon_menu">
                    <div class="d-flex p-3 pb-3 Icon_hover" (click)="openModaledit(data)" data-bs-toggle="modal" data-bs-target="#myModaledit" >
                        <span><i class="fa-solid fa-pencil fs-3 me-4"></i></span>
                        <span>Edit</span>
                    </div>
                    <div class="d-flex p-3 pb-3 Icon_hover" (click)="openModaldelete(data.productgroup_gid)" data-bs-toggle="modal" data-bs-target="#myModaldelete">
                        <span><i class="fa-solid fa-trash fs-3 me-4"></i></span>
                        <span>Delete</span>
                    </div>
                </div>
            </div>
            </td> -->
            <td class="text-center  text-nowrap" >
                            
              <button title="Edit" type="button" class="btn btn-icon btn-sm me-2"
                  style="background-color:#009688;" (click)="openModaledit(data)" data-bs-toggle="modal"
                  data-bs-target="#myModaledit">
                  <span class="fa-solid fa-pencil text-white  fs-6"></span>
              </button>
              <button title="Delete" type="button" (click)="openModaldelete(data.productgroup_gid)"
                  data-bs-toggle="modal" data-bs-target="#myModaldelete"
                  class="btn btn-icon btn-sm bg-danger me-2 "><span
                      class="fa-solid fa-trash text-white  fs-6"></span></button> 
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- The Modal ADD -->
<form [formGroup]="productForm" #form="ngForm">
  <div class="modal" id="myProductadd" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="card-header pb-3 pt-6 rounded-top bg-primary">
          <div>
            <h3 class="fw-bolder text-white">&nbsp; <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Product Group</h3>
          </div>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <!-- <span class="font-bold"><b>Product Group Code</b></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2">
              <input formControlName="productgroup_code" type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input" 
              readonly [ngStyle]="{'border-color': productgroupcontrol_code.invalid && productgroupcontrol_code.touched ? 'red': 'rgb(209, 209, 209)'}" placeholder=" Product Group Code is Auto Generate"   name="productgroup_code"  style="height:40px;"/>
            </div>
          </div> -->
          
          <span class="fw-bold">Product Group Code</span>
          <div class="col-lg-12  col-md-12 col-sm-12 fv-row mt-2">
            <!-- <input type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-secondary border-secondary custom-input" placeholder="Product Group Code is Auto Generated" readonly> -->
            <div style="color: darkgrey;">Auto Generated</div>
            <!-- <input formControlName="productgroup_code" type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input" [ngStyle]="{'border-color': productgroupcontrol_code.invalid && productgroupcontrol_code.touched ? 'red': 'rgb(209, 209, 209)'}" placeholder="Enter Product Group Code" pattern="^(?!\s*$).+" pattern="^(PGC)[0-9]{4}$" pattern="^(PGC)[0-9]{4}$" minlength="7" maxlength="7" name="productgroup_code" required  style="height:40px;"/> -->
          </div>
        </div>


          <!-- <div *ngIf="productgroupcontrol_code.invalid && (productgroupcontrol_code.dirty || productgroupcontrol_code.touched)">
            <div *ngIf="productgroupcontrol_code.errors?.['required']">
              <span style="color:red;">Product Group Code is required.</span>
            </div>
            <div *ngIf="productgroupcontrol_code.invalid && (productgroupcontrol_code.dirty || productgroupcontrol_code.touched)">
              <div *ngIf="productgroupcontrol_code.errors?.['required']">
                <span style="color:red;">Product Group Code Like "PGC0000".</span>
              </div>
            </div>
          </div> -->
          <br>
          <div class="row">
            <span class="font-bold required" [ngClass]="{'error_input_field': productgroupcontrol_name.invalid && productgroupcontrol_name.touched}" ><b>Product Group</b></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2">
              <input formControlName="productgroup_name" type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
               [ngStyle]="{'border-color': productgroupcontrol_name.invalid && productgroupcontrol_name.touched ? 'red' : 'rgb(209, 209, 209)' }" 
               placeholder="Enter Product Group"  name="productgroup_name" required style="height:40px;" />
            </div>          
          </div>
          <!-- <div *ngIf="productgroupcontrol_name.invalid && (productgroupcontrol_name.dirty || productgroupcontrol_name.touched)">
            <div *ngIf="productgroupcontrol_name.errors?.['required']">
              <span style="color:red;">Product Group is required.</span>
            </div>
            <div *ngIf="productgroupcontrol_name.errors?.['pattern']">
              <span style="color:red;">Special Characters Not Accepted.</span>
            </div>
          </div> -->
        </div>
        <!-- Modal footer -->
        <div class="text-center my-4" >
          <button type="submit" class="btn-success btn-sm text-white me-2"
          (click)="onsubmit()" [disabled]="productForm.invalid" 
          [ngClass]="{'primary-button': !productForm.invalid,'secondary-button': productForm.invalid}" 
          data-bs-dismiss="modal">
            <i class="fas fa-check text-white fs-5 "></i> &nbsp;Submit
          </button> &nbsp;&nbsp;
          <button class="btn-danger btn-sm text-white me-4" (click)="onclose()" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- The Modal Edit -->
<form [formGroup]="productFormEdit" #form="ngForm">
  <div class="modal" id="myModaledit" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="card-header pb-3 pt-3 rounded-top bg-primary">
          <div>
            <h3 class="fw-bolder text-white">
              &nbsp;&nbsp;<i class="fa-solid fa-pen-to-square fs-3"></i>&nbsp;&nbsp;&nbsp;Edit Product Group
            </h3>
          </div>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <input 
            class="form-control form-control-lg" 
            formControlName="productgroup_gid" 
            hidden 
            type="text" 
            autocomplete="off" 
            required 
            style="height:40px;">
          
          <div class="row">
            <span class="font-bold"><b>Product Group Code</b></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mb-2 mt-2 d-flex">
              <input 
                readonly 
                formControlName="productgroupedit_code" 
                type="text" 
                class="form-control form-control-lg form-control-solid custom-input mb-3 bg-white custom-input" 
                placeholder="Enter Product Group Code" 
                required 
                style="height:40px;" />
            </div>
            <div *ngIf="productFormEdit.get('productgroupedit_code').invalid && (productFormEdit.get('productgroupedit_code').dirty || productFormEdit.get('productgroupedit_code').touched)">
              <div *ngIf="productFormEdit.get('productgroupedit_code').errors?.['required']">
                <span style="color:red;">Product Code is required.</span>
              </div>
              <div *ngIf="productFormEdit.get('productgroupedit_code').errors?.['pattern']">
                <span style="color:red;">Product Group Code must be in the format "PGC000".</span>
              </div>
            </div>
          </div>
          
          <div class="row">
            <span class="font-bold"><b>Product Group</b><span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mb-2 mt-2 d-flex">
              <input 
                formControlName="productgroupedit_name" 
                type="text" 
                class="form-control form-control-lg form-control-solid custom-input mb-3 bg-white custom-input" 
                placeholder="Enter Product Group Code" 
                required 
                [ngStyle]="{'border-color': productgroupedit_name.invalid && productgroupedit_name.touched ? 'red' : 'rgb(209, 209, 209)'}" 
                />
            </div>
          </div>
        </div>
       
        <!-- Modal footer -->
        <div class="text-center my-4">
          <button 
            (click)="onupdate()" 
            class="btn-success text-white me-4" 
            [disabled]="productFormEdit.invalid" 
            [ngClass]="{'primary-button': !productFormEdit.invalid, 'secondary-button': productFormEdit.invalid}" 
            data-bs-dismiss="modal">
            <i class="fas fa-check text-white fs-5"></i> &nbsp;Update
          </button>

          <button 
            class="btn-danger btn-sm text-white me-4" 
            (click)="onclose()" 
            data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
    </div>
  </div>
</form>



      <div class="modal-content">


        

<div class="modal" id="myModaldelete" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" style="width: 600px; max-width: 90%; height: 600px; max-height: 90%;"> <!-- Custom width and height -->
 
    <div class="modal-content del_modal-content">
      <div class="text-center my-4">
        <h2><b>Are you sure?</b></h2>
        <p style="display: block;">Do You Want To Delete the Record ?</p>
        <div class="text-center my-4">
          <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal" (click)="ondelete()">
            <i class="bi bi-trash-fill text-white fs-5 me-2"></i>Delete
          </button>
          <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
            <i class="fas fa-close text-white me-2"></i>Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

