<div class="card rounded-top">
    <div class="card-title p-5 pb-6 pt-6 rounded-top bg-primary">
        <h3 class="fw-bolder text-white">
            <i class="fas fa-eye fw-bolder fs-3"></i>
            View Invoice
        </h3>
    </div>

    <div class="card m-3 border">
        <div class="card-header bg-lightblue card-height55">
            <div class="card-title m-0">
                <h4 class="fw-bolder text-blue">Buyer Details</h4>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-6 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Customer Name</span>
            <p class="mt-3">{{m.customer_name}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Customer Branch</span>
            <p class="mt-3">{{m.customer_branch}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"> <span class="fw-bold">Contact Person</span>
            <p class="mt-3">{{m.customer_contactperson}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Contact Number</span>
            <p class="mt-3">{{m.customer_contactnumber}}</p>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-6 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Email Address</span>
            <p class="mt-3">{{m.customer_email}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Customer Address</span>
            <p class="mt-3">{{m.customer_address}}</p>
        </div>
    </div>

    <div class="card m-3 border">
        <div class="card-header bg-lightblue card-height55">
            <div class="card-title m-0">
                <h4 class="fw-bolder text-blue">Supplier Details</h4>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Branch</span>
            <p class="mt-3">{{m.branch_name}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">GST No</span>
            <p class="mt-3">{{m.gst_no}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Currency</span>
            <p class="mt-3">{{m.currency_code}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Exchange Rate</span>
            <p class="mt-3">{{m.exchange_rate}}</p>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Remarks</span>
            <p class="mt-3">{{m.invoice_remarks}}</p>
        </div>
    </div>

    <div class="card m-3 border">
        <div class="card-header bg-lightblue card-height55">
            <div class="card-title m-0">
                <h4 class="fw-bolder text-blue">Payment Details</h4>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Invoice Ref.No.</span>
            <p class="mt-3">{{m.invoice_refno}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Invoice Date</span>
            <p class="mt-3">{{m.invoice_date}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Payment Term</span>
            <p class="mt-3">{{m.payment_term}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Due Date</span>
            <p class="mt-3">{{m.payment_date}}</p>
        </div>                
    </div>

    <div class="card m-3 border">
        <div class="card-header bg-lightblue card-height55">
            <div class="card-title m-0">
                <h4 class="fw-bolder text-blue">Product Details</h4>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Product Name</span>
            <p class="mt-3">{{m.product_name}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Product Group</span>
            <p class="mt-3">{{m.productgroup_name}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Product Code</span>
            <p class="mt-3">{{m.product_code}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">HSN Code</span>
            <p class="mt-3">{{m.hsn_code}}</p>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">HSN Description</span>
            <p class="mt-3">{{m.hsn_description}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Unit</span>
            <p class="mt-3">{{m.productuom_name}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">MRP</span>
            <p class="mt-3">{{m.vendor_price}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Unit Price</span>
            <p class="mt-3">{{m.product_price}}</p>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Quantity</span>
            <p class="mt-3">{{m.qty_invoice}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Discount(%)</span>
            <p class="mt-3">{{m.discount_percentage}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Tax 1</span>
            <p class="mt-3">{{m.tax_name}} : {{m.tax_amount}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Tax 2</span>
            <p class="mt-3">{{m.tax_name2}} : {{m.tax_amount2}}</p>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Tax 3</span>
            <p class="mt-3">{{m.tax_name3}} : {{m.tax_amount3}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Total Amount</span>
            <p class="mt-3">{{m.price}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Payment</span>
            <p class="mt-3"></p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Delivery Period</span>
            <p class="mt-3"></p>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Product Total</span>
            <p class="mt-3">{{m.price}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Add On Charges</span>
            <p class="mt-3">{{m.additionalcharges_amount}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Additional Discount</span>
            <p class="mt-3">{{m.discount_amount}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Freight Charges</span>
            <p class="mt-3">{{m.freight_charges}}</p>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Packing/Forwarding Charges</span>
            <p class="mt-3">{{m.packing_charges}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Insurance Charges</span>
            <p class="mt-3">{{m.insurance_charges}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Round Off</span>
            <p class="mt-3">{{m.roundoff}}</p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Grand Total</span>
            <p class="mt-3">{{m.price}}</p>
        </div>
    </div>

    <div class="card m-3 border">
        <div class="card-header bg-lightblue card-height55">
            <div class="card-title m-0">
                <h4 class="fw-bolder text-blue">Terms and Conditions</h4>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row m-6 mt-6 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12"><span class="fw-bold">Terms and Conditions</span>
            <p class="mt-3">{{m.termsandconditions}}</p>
        </div>
    </div>

    <div class="text-center my-4">
        <button class="btn-primary btn-sm text-white me-4 mt-3" routerLink="/einvoice/Invoice">
            <i class="fas fa-arrow-left"></i> &nbsp;Back
        </button>
    </div>
</div>










<!-- <div class="m-12">
    <div class="m-12">
        <div class="card shadow-lg rounded-top">
            <div class="card-title p-5 pb-6 pt-6 rounded-top bg-primary">
                <h3 class="fw-bolder text-white">
                    <i class="fas fa-eye fw-bolder fs-3"></i>
                    View Invoice
                </h3>
            </div>

            <div class="card-title mt-4 p-3 pt-4 bg-secondary">
                <h6 class="fw-bolder">
                    Buyer Details
                </h6>
            </div>

            <div class="d-flex flex-row m-3 mt-6 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
                <div class="col-12 col-lg-2 col-md-2 col-sm-12 "><span class="fw-bold">Customer Name</span>
                    <p class="mt-3">{{m.customer_name}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Customer Branch</span>
                    <p class="mt-3">{{m.customer_branch}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"> <span class="fw-bold">Contact Person</span>
                    <p class="mt-3">{{m.customer_contactperson}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Contact Number</span>
                    <p class="mt-3">{{m.customer_contactnumber}}</p>
                </div>                
            </div>

            <div class="d-flex flex-row m-3 mt-6 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Email Address</span>
                    <p class="mt-3">{{m.customer_email}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Customer Address</span>
                    <p class="mt-3">{{m.customer_address}}</p>
                </div>
            </div>

            <div class="card-title mt-4 p-3 pt-4 bg-secondary">
                <h6 class="fw-bolder">
                    Supplier Details
                </h6>
            </div>

            <div class="d-flex flex-row m-3 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Branch</span>
                    <p class="mt-3">{{m.branch_name}}</p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 "><span class="fw-bold">GST No</span>
                    <p class="mt-3">{{m.gst_no}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Currency</span>
                    <p class="mt-3">{{m.currency_code}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Exchange Rate</span>
                    <p class="mt-3">{{m.exchange_rate}}</p>
                </div>           
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Remarks</span>
                    <p class="mt-3">{{m.invoice_remarks}}</p>
                </div>
            </div>

            <div class="card-title mt-4 p-3 pt-4 bg-secondary">
                <h6 class="fw-bolder">
                    Payment Details
                </h6>
            </div>

            <div class="d-flex flex-row m-3 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Invoice Ref.No.</span>
                    <p class="mt-3">{{m.invoice_refno}}</p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 "><span class="fw-bold">Invoice Date</span>
                    <p class="mt-3">{{m.invoice_date}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Payment Term</span>
                    <p class="mt-3">{{m.payment_term}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Due Date</span>
                    <p class="mt-3">{{m.payment_date}}</p>
                </div>                
            </div>

            <div class="card-title mt-4 p-3 pt-4 bg-secondary">
                <h6 class="fw-bolder">
                    Product Details
                </h6>
            </div>

            <div class="d-flex flex-row m-3 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Product Name</span>
                    <p class="mt-3">{{m.product_name}}</p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 "><span class="fw-bold">Product Group</span>
                    <p class="mt-3">{{m.productgroup_name}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Product Code</span>
                    <p class="mt-3">{{m.product_code}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">HSN Code</span>
                    <p class="mt-3">{{m.hsn_code}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">HSN Description</span>
                    <p class="mt-3">{{m.hsn_description}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Unit</span>
                    <p class="mt-3">{{m.productuom_name}}</p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 "><span class="fw-bold">MRP</span>
                    <p class="mt-3">{{m.vendor_price}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Unit Price</span>
                    <p class="mt-3">{{m.product_price}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Quantity</span>
                    <p class="mt-3">{{m.qty_invoice}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Discount(%)</span>
                    <p class="mt-3">{{m.discount_percentage}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Tax 1</span>
                    <p class="mt-3">{{m.tax_name}} : {{m.tax_amount}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Tax 2</span>
                    <p class="mt-3">{{m.tax_name2}} : {{m.tax_amount2}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Tax 3</span>
                    <p class="mt-3">{{m.tax_name3}} : {{m.tax_amount3}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Total Amount</span>
                    <p class="mt-3">{{m.price}}</p>
                </div>
            </div>

            <div class="d-flex flex-row m-3 mt-2 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Payment</span>
                    <p class="mt-3"></p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 "><span class="fw-bold">Delivery Period</span>
                    <p class="mt-3"></p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Product Total</span>
                    <p class="mt-3">{{m.price}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Add On Charges</span>
                    <p class="mt-3">{{m.additionalcharges_amount}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Additional Discount</span>
                    <p class="mt-3">{{m.discount_amount}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Freight Charges</span>
                    <p class="mt-3">{{m.freight_charges}}</p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 "><span class="fw-bold">Packing/Forwarding Charges</span>
                    <p class="mt-3">{{m.packing_charges}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Insurance Charges</span>
                    <p class="mt-3">{{m.insurance_charges}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Round Off</span>
                    <p class="mt-3">{{m.roundoff}}</p>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="fw-bold">Grand Total</span>
                    <p class="mt-3">{{m.price}}</p>
                </div>
            </div>

            <div class="card-title mt-4 p-3 pt-4 bg-secondary">
                <h6 class="fw-bolder">
                    Terms and Conditions
                </h6>
            </div>

            <div class="d-flex flex-row m-3 mt-6 flex-wrap border-bottom" *ngFor = "let m of viewinvoicelist;">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12"><span class="fw-bold">Terms and Conditions</span>
                    <p class="mt-3">{{m.termsandconditions}}</p>
                </div>
            </div>

            <div class="text-center my-4">
                <button class="btn-primary btn-sm text-white me-4 mt-3" routerLink="/einvoice/Invoice">
                    <i class="fas fa-arrow-left"></i> &nbsp;Back
                </button>
            </div>
        </div>
    </div>
</div> -->