<div class="card">
    <div class="row ms-3 mt-3 d-flex align-items-center">
        <div class="col">
            <h3 class="card-title">Assessment Year</h3>
        </div>
    </div>

    <div class="text-center" *ngFor="let m of assessmentsummarylist">
        <h3>{{m.duration}}</h3>
    </div>

    <div class="table-responsive">
        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded mt-2">
            <table id="generateform" class="table table-striped table-row-bordered border-bottom gs-7 align-middle">
                <thead>
                    <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                        <th>S.No</th>
                        <th>Branch</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-middle" *ngFor="let data of generateformsummarylist; let i=index;">
                        <td class="S.No">{{i+1}}</td>
                        <td title="Branch">{{data.branch_name}}</td>
                        <td title="Employee Code">{{data.user_code}}</td>
                        <td class="Employee Name">{{data.employee_name}}</td>
                        <td title="Department">{{data.department_name}}</td>
                        <td title="Designation">{{data.designation_name}}</td>
                        <td title="Action" class="text-center text-nowrap">
                            <button title="Fill Form" type="button" class="btn btn-icon btn-sm bg-primary me-2" (click)="fillform(data.assessment_gid,data.employee_gid)">
                                <span class="fa-solid fa-file-waveform fs-6 text-white" ></span>
                            </button>
                            <button title="Form 16" type="button" class="btn btn-icon btn-sm bg-etdark me-2"(click)="PrintPDF(data.assessment_gid,data.employee_gid)">
                                <span class="fa-solid fa-file-pdf fs-6 text-white"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center my-4">  
        <button type="back" class="btn-primary btn-sm text-white me-4" (click)="back()">
            <i class="fas fa-arrow-left fs-5 me-2"></i>
            <span class="ms-3">Back</span>
        </button>
    </div>
</div>