<div class="card">
  <div class="row ms-3 mt-3 d-flex align-items-center">
    <div class="col">
      <h3 class="card-title">Holiday Grade Summary</h3>
    </div>

    <div class="col me-5">
      <button title="Add Holiday Grade" class="btn-primary btn-sm text-white me-4 mb-2 mt-2 float-end"
        data-bs-toggle="modal" data-bs-target="#myModaladd" (click)="Holidayassign()">
        <span class="fa-solid fa-plus text-white fs-6 fw-bold"></span>&nbsp;Add Holiday Grade</button>

      <button title="Add Holiday" class="btn-primary btn-sm text-white me-4 mb-2 mt-2 float-end" data-bs-toggle="modal"
        data-bs-target="#myModaladd" (click)="HolidayGrade()">
        <span class="fa-solid fa-plus text-white fs-6 fw-bold"></span>&nbsp;Add Holiday</button>
    </div>
  </div>

  <div class="table-responsive">
    <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
      <table id="Holidaygrade_list1" class="table table-striped table-row-bordered border-bottom gs-7">
        <thead>
          <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
            <th>S.No</th>
            <th>Holiday Grade</th>
            <th>Holiday Grade Name</th>
            <th class="text-center bg-lightblue">Action</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of Holidaygrade_list1; let i=index;" class="align-middle">
            <td>{{i+1}}</td>
            <td>{{data.holidaygrade_code}}</td>
            <td>{{data.holidaygrade_name}}</td>
            <td class="text-center text-nowrap">
              <button title="Assign Employee" type="button" class="btn btn-icon btn-sm bg-primary me-2 mb-2" (click)="Assign(data.holidaygrade_gid)" 
              style="background: radial-gradient(circle, #47acbe 0%, #4aa5b9 100%);" data-bs-toggle="modal" data-bs-target="#myModalunassignemployee">
                <span class="fa-solid fas fa-users fs-6"></span>
              </button>
              <button title="Unassign Employee" type="button" class="btn btn-icon btn-sm bg-warning me-2 mb-2" (click)="Unassign(data.holidaygrade_gid)" data-bs-toggle="modal" data-bs-target="#myModalunassignemployee">
                <span class="fa-solid fa-users-slash fs-6"></span>
              </button>
              <button title="View" type="button" (click)="view(data.holidaygrade_gid)" class="btn btn-icon btn-sm bg-primary me-2 mb-2">
                <span class="fa fa-eye fs-6 text-white fs-6"></span>
              </button>
              <button title="Edit" type="button" (click)="edit(data.holidaygrade_gid)" class="btn btn-icon btn-sm bg-etdark me-2 mb-2">
                <i class="fa-solid fa-pencil text-white fs-6"></i>
              </button>
             
              <!-- <div (mouseleave)="showOptionsDivId = null" (mouseover)="showOptionsDivId = data.holidaygrade_gid"
                style="cursor: pointer;">
                <button class="btn me-2 p-1 "><span class="fa-solid fa-ellipsis-vertical fs-1"
                    style="color: #4d4d4d;"></span></button>
                <div *ngIf="showOptionsDivId === data.holidaygrade_gid"
                  class="pb-0 rounded bg-white cursor-pointer icon_menu">
                  <div class="d-flex p-3 pb-3 Icon_hover" (click)="Assign(data.holidaygrade_gid)" data-bs-toggle="modal"
                    data-bs-target="#myModalunassignemployee">
                    <span><i class="fa fa-user-plus fs-3 me-5"></i></span>
                    <span>Assign Employee</span>
                  </div>
                  <div class="d-flex p-3 pb-3 Icon_hover"
                    (click)="Unassign(data.holidaygrade_gid)" data-bs-toggle="modal"
                    data-bs-target="#myModalunassignemployee">
                    <span><i class="fa fa-user-minus fs-3 me-5"></i></span>
                    <span>Unssign Employee</span>
                  </div>
                  <div class="d-flex p-3 pb-3 Icon_hover" (click)="edit(data.holidaygrade_gid)">
                    <span><i class="fa-regular fa-pen-to-square fs-3 me-5"></i></span>
                    <span>Edit</span>
                  </div>
                  <div class="d-flex p-3 pb-3 Icon_hover" (click)="view(data.holidaygrade_gid)">
                    <span><i class="fa-regular fa-eye fs-3 me-5"></i></span>
                    <span>View</span>
                  </div>

                </div>
              </div> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- The Modal Delete -->
<!-- <div class="modal" id="myModaldelete" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog del_modal-dialog">
      <div class="modal-content del_modal-content">
        <div class="text-center my-4">
          <h2><b>Are you sure?</b></h2>
          <p style="display: block;">Do You Want To Delete the Record ?</p>
          <div class="text-center my-4">
            <button class="btn-danger btn-sm text-white me-4" (click)="ondelete()"  data-bs-dismiss="modal">
              <i class="bi bi-trash-fill text-white fs-5 me-2"></i>Delete
            </button>
            <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
              <i class="fas fa-close text-white me-2"></i>Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->