.custom-button {
    background-color: grey;
    color: white;
    /* Icon color */
  }
  
  .bg-grey {
    background-color: rgb(195, 244, 244);
  }
  
  .bg-profile {
    background-color: rgb(197, 233, 248);
  }
  
  .bg-profiles {
    background-color: rgb(231, 191, 175);
  }
  
  
  
  #kt_chat_contacts_body {
    max-height: 290px;
    overflow-y: auto;
  }
  
  #kt_chat_contacts_body::-webkit-scrollbar {
    width: 8px;
    /* You can adjust the width to your preference */
  }
  
  #kt_chat_contacts_body::-webkit-scrollbar-thumb {
    background: #888;
    /* You can set the color of the scrollbar thumb */
    border-radius: 10px;
    /* You can adjust the border radius to your preference */
    height: 5px;
  }
  
  #kt_chat_messenger_body {
    max-height: 253px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
  }
  
  #kt_chat_messenger_body::-webkit-scrollbar {
    width: 8px;
    /* You can adjust the width to your preference */
  
  }
  
  #kt_chat_messenger_body::-webkit-scrollbar-thumb {
    background: #888;
    /* You can set the color of the scrollbar thumb */
    border-radius: 10px;
    /* You can adjust the border radius to your preference */
  }
  
  #kt_chat_messenger_body::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* You can set the background color of the scrollbar track */
  }
  
  .bg-skyblue {
    background-color: #4384F5;
  }
  
  .btn-send {
    background-color: #4384F5;
  }
  
  .btn-sends {
    background-color: #4384F5;
  }
  
  .bg-lightgreen {
    background-color: #4384F5;
  }
  
  .bg-pink {
    background-color: rgb(255, 241, 181);
  }
  
  .bg-message {
    background-image: url("../../../../assets/media/images/chatbk.jpg");
  
  }
  
  //Template popup scrollable code //
  .modal-body {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: darkgray lightgray;
    /* For Firefox */
  }
  
  .modal-body::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }
  
  .modal-body::-webkit-scrollbar-thumb {
    background-color: darkgray;
    /* For Chrome, Safari, and Opera */
  }
  
  .modal-body::-webkit-scrollbar-track {
    background-color: lightgray;
    /* For Chrome, Safari, and Opera */
  }
  
  
  //badge
  .larger-badge {
    font-size: 15px;
  }
  
  
  
  .sampel {
    position: absolute;
    background-color: #f3f6f9;
    border-radius: 6px;
    width: 160px;
    left: 2;
    margin-top: -120px;
    margin-right: 39px;
    border: 2px solid #000000;
  }
  
  .notification_list {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden
  }
  
  .btn-wts-icon {
    border-radius: 7px !important;
    color: #ffffff !important;
    font-size: 1.1rem !important;
    font-weight: 630 !important;
    height: 36px !important;
    // padding-bottom: 15px !important;
    // padding-top: 11px !important;
    transition: 0.3s !important;
    cursor: pointer;
    border: none;
  
  }
  
  .fs-default-icon {
    font-size: 2.55rem !important;
  }
  
  .text-green {
    color: #50cd89
  }
  
  .nassar:hover {
    background-color: #b3b3b3;
  }
  
  
  .head-menu-item-btn {
    font-size: 18px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: 5px;
    outline: 0;
    color: #495057;
    background-color: transparent;
    transition: 0.3s;
  }
  
  .head-menu-item-btn:hover {
  
    font-weight: 600;
    background-color: #d6d6d6;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-box{
    height:332px;
    width: 752px;
    overflow-y: scroll;
  }
  body {
    text-align: center;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line {
    flex-grow: 1;
    border-top: 1px solid #000; /* Adjust color and style as needed */
    margin: 0 10px; /* Adjust spacing as needed */
  }
  
  .content {
    white-space: nowrap;
    padding: 0 10px; /* Adjust spacing as needed */
  }
  
  
  :host ::ng-deep .custom-width {   width: 465px; /* Adjust the width to your preference */}