<div class="card mt-4">
    <div class="row ms-3 mt-3 d-flex align-items-center">
      <div class="col">
        <h3 class="card-title fw-bold">Bin Summary</h3>
      </div>
    </div>
    <div class="table-responsive">
      <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
        <table id="imbin_list" class="table table-striped table-row-bordered gy-5 gs-7 ">
          <thead>
            <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
              <th style="width: 8px;">S.No</th>
              <!-- <th style="width: 200px;">Branch Code</th> -->
              <th style="width: 250px;">Branch</th>
              <th style="width: 200px;">Location Code </th>
              <th>Location Name</th>
              <th class="text-center" style="width: 7%;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of imsbin_list; let i=index;" class="align-middle">
              <td>{{i+1}}</td>
              <!-- <td style="width: 250px;">{{data.branch_code}}</td> -->
              <td style="width: 250px;">{{data.branch_code}}/{{data.branch_prefix}}</td>
              <td style="width: 200px;">{{data.location_code}}</td>
              <td>{{data.location_name}}</td>
              <td class="text-center text-nowrap" style="width: 7%;">
                 <!-- <div (click)="toggleOptions(data.location_gid)"
                  style="cursor: pointer;">
                  <button class="btn me-2 p-1">
                    <span class="fa-solid fa-ellipsis-vertical fs-1" style="color: #4d4d4d;"></span>
                  </button>
                  <div *ngIf="showOptionsDivId === data.location_gid"
                    class="pb-0 rounded bg-white cursor-pointer icon_menu">
                    <div class="d-flex p-3 pb-3 Icon_hover" (click)="Managebin(data)"  data-bs-target="#mylocationadd" data-bs-toggle="modal">
                      <span><i class="fa-regular fas fa-stream fs-3 me-5"></i></span>
                      <span>Manage Bin</span>
                    </div>
                  </div>
                </div>  -->

                <button title="Manage Bin" type="button" (click)="Managebin(data)"
                 data-bs-toggle="modal" data-bs-target="#mylocationadd"
                 class="btn btn-icon me-2" style="background-color:#30b7f1;"><span
                 class="fa-solid fas fa-stream text-white  fs-6"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<form [formGroup]="binformadd" #form="ngForm">
   <div class="modal" id="mylocationadd" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="card-header p-1 pb-2 pt-1 rounded-top bg-primary">
          <h3 style="margin-top: 10px; color: white; font-weight: bold">
            &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-stream fs-5"></i>
            &nbsp; Manage Bin
          </h3>
        </div>
        <div class="modal-body ms-1">
          <div *ngFor="let m of imsbinadd_list" class="m-1">
            <div class="d-flex flex-row m-3 flex-wrap border-bottom" >
                <div class="col-12 col-lg-5 col-md-6 col-sm-12 "><span class="fw-bold">Branch</span>
                 <p class="mt-2">{{m.branch_name}}</p>
                </div>
                <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="fw-bold">Location</span>
                 <p class="mt-2">{{m.location_name}}</p>
                </div>
                <div class="col-12 col-lg-3 col-md-6 col-sm-12 mb-2" style="padding-right: 5px;"><span class="fw-bold required" [ngClass]="{'error_input_field': bin_number.invalid && bin_number.touched || bin_number.errors?.['pattern'] }">Bin Number</span>
                  <input formControlName="bin_number" type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                  [ngStyle]="{'border-color': bin_number.invalid && bin_number.touched? 'red': 'rgb(209, 209, 209)'}" placeholder="Bin Number"
                  name="bin_number" required style="height:40px;" /> 
                  <div *ngIf="binformadd.get('bin_number')?.hasError('pattern')" class="text-red ms-2">
                    Invaild Format.</div>
                 </div>
                 <div class="col-12 col-lg-1 col-md-6 col-sm-12 mt-5">
                  <button type="button" class="btn btn-icon btn-sm bg-success me-1" data-bs-dismiss="modal" 
                  (click)="onsubmit()" >
                  <i class="fa-solid fa-plus"></i>
              </button>
                 </div>
                 <input formControlName="location_gid" hidden type="text" 
                 class="form-control form-control-lg form-control-solid bg-white custom-input mb-3 mb-lg-0 borderc-secondary"
                 name="location_gid" />
            </div>
          </div>
<div class="table-responsive">
  <div class="card card-body m-0 p-3 mb-5 bg-white rounded table-responsive">
    <table  id="assignedbin_list"  class="table table-striped table-bordered text-blue border-bottom gs-7 align-middle" >
      <thead class="table_head">
        <tr class="fw-bold fs-6 text-nowrap bg-lightblue text-blue align-middle">
          <th class="text-blue" style="text-align: left;" style="width: 35%;">S.No</th>
          <th class="text-blue text-center" style="width: 45%;">Bin Number</th>
          <th class="text-blue text-center" style="width: 5px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of assignedbin_list; let i = index">
          <td style="text-align: left;">{{ i + 1 }}</td>
          <td>{{ data.bin_number }}</td>
          <td style="display: flex; align-items: center; justify-content: center;">
            <button type="button" (click)="openModaldelete(data.bin_gid)"
            data-bs-toggle="modal" data-bs-target="#myModaldeleteQA"
            class="btn btn-icon btn-sm bg-danger me-1">
            <i class="fa-solid fa-trash"></i>
        </button>
          </td>    
        </tr>
      </tbody>
    </table>
  </div>
</div>
        </div>
        <div class="text-center my-4">
          &nbsp;&nbsp;
          <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal" (click)="onclose()">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
      </div>
    </div>
  </form>

  <div class="modal" id="myModaldeleteQA" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog ">
        <div class="modal-content del_modal-content">
            <div class="text-center my-4">
                <h2><b>Are you sure?</b></h2>
                <p style="display: block;">Do You Want To Delete the Record ?</p>
                <div class="text-center my-4">
                    <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal"
                        (click)="ondelete()">
                        <i class="bi bi-trash-fill text-white fs-5 me-2"></i>Delete
                    </button>
                    <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
                        <i class="fas fa-close text-white me-2"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


 
