.icon_menu {
    position: absolute;
    width: auto;
    right: 70px;
    box-shadow: 4px 4px 7px rgba(174, 174, 192, .8);
    color: #636363;
    max-height: 123px;
    overflow-y: auto;
    scrollbar-color: rgb(223, 247, 255) #ffffff;
    z-index: 2;
  }