<div class="card card-bordered" style="background-color: white;">
    <div class="card-header d-flex align-items-center"
        style="background: rgb(81,183,204);
        background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);color:black;font-size: 14px;height:60px;padding-top: 12px;padding-left: 8px;">
        <div *ngFor="let data of leadbasicdetailslist">
            <h1 class="card-title fw-bold fs-3"><b><i class="fa-solid fa-eye" style="font-size: 14px;"></i>&nbsp;
                    {{data.customer_name}}</b></h1>
        </div>
        <div class="ms-auto me-6">
            <h5 style="color:#9e28db;">{{toDate}} &nbsp; {{currentDayName}}</h5>
            <h1> {{ rxTime | date: 'hh:mm:ss a' }} </h1>
        </div>&nbsp;&nbsp;
        <div class=" float-end me-4 ">
            <button title="Back" type="button"
                class="btn btn-sm btn-icon btn-outline-primary position-absolute top-0 end-0 bg-white mt-4 p-2 me-4"
                (click)="onback()">
                <i class="fa-solid fa-arrow-left text-blue mb-1"></i>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-4">
            <div class="row">
                <!-- <div class="col-lg-12 col-md-4 col-sm-4">
                    <div class="cardHeadLeads card radius-10 border-start border-0 border-3  border-blue1 ms-2">
                        <div class="card-body12">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="ms-auto">
                                        <h5 style="color:#9e28db;">{{toDate}} &nbsp; {{currentDayName}}</h5>
                                        <h1> {{ rxTime | date: 'hh:mm:ss a' }} </h1>
                                    </div>
                                </div>
                                <div class="widgets-icons-2 rounded-circle bg-gradient-darkbluess text-white ms-auto"><i
                                        class="bi bi-calendar3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row mt-2 pb-3">
                <div class="col-lg-6 col-md-4 col-sm-4">
                    <div class="cardHeadLeads card  radius-10 border-start border-0 border-3 border-violet ms-2">
                        <div class="card-body12">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h5 class="mb-0 text-secondary">Quotation Raised / Amount</h5>
                                    <div *ngFor="let totalquotationcount_list of leadcountdetails_list">
                                        <h4 class="badge-orange  badge-outline-orange fs-4 mt-2">
                                            {{totalquotationcount_list.quotataioncount}}&nbsp;&nbsp;/&nbsp;&nbsp;
                                            {{totalquotationcount_list.quoteamount}}
                                        </h4>
                                    </div>
                                </div>
                                <div class="widgets-icons-2 rounded-circle bg-gradient-violet text-white ms-auto"><i
                                        class="fa-solid fa-paper-plane"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-4 col-sm-4">
                    <div class="cardHeadLeads card  radius-10 border-start border-0 border-3 border-brown ms-2">
                        <div class="card-body12">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h5 class="mb-0 text-secondary">Order Raised / Amount</h5>
                                    <div *ngFor="let totalsalescount_list of leadcountdetails_list">
                                        <h4 class="my-1 text-info">
                                            {{totalsalescount_list.salesordercount}}&nbsp;&nbsp;/&nbsp;&nbsp;
                                            {{totalsalescount_list.salesorderamount}} </h4>
                                    </div>
                                </div>
                                <div class="widgets-icons-2 rounded-circle bg-gradient-brown text-white ms-auto"><i
                                        class="fa-solid fa-cubes"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-md-4 col-sm-4">
                    <div class="cardHeadLeads card  radius-10 border-start border-0 border-3 border-darkgreen ms-2">
                        <div class="card-body12">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h5 class="mb-0 text-secondary">Invoice Raised / Amount</h5>
                                    <div *ngFor="let totalsalescount_list of leadcountdetails_list">
                                        <h4 class="my-1 text-info">
                                            {{totalsalescount_list.invoicecount}}&nbsp;&nbsp;/&nbsp;&nbsp;
                                            {{totalsalescount_list.invoiceamount}} </h4>
                                    </div>
                                </div>
                                <div class="widgets-icons-2 rounded-circle bg-gradient-darkgreen text-white ms-auto">
                                    <i class="fa-solid fa-file-text"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-4 ">
                    <div class="cardHeadLeads card  radius-10 border-start border-0 border-3 border-darkbrown ms-2">
                        <div class="card-body12">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h5 class="mb-0 text-secondary">Proposal</h5>
                                    <div *ngFor="let totalsalescount_list of leadcountdetails_list">
                                        <h4 class="my-1 text-info">
                                            {{totalsalescount_list.proposalcount}} </h4>
                                    </div>
                                </div>
                                <div class="widgets-icons-2 rounded-circle bg-gradient-darkbrown text-white ms-auto">
                                    <i class="bi bi-arrow-up-right-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4">
            <div class="card  p-3 user-profile-card radius-10  border-start border-0 border-3 border-blue1 me-3">
                <div class="col-lg-12 col-md-6 col-sm-12 text-center symbol symbol-60px symbol-circle">
                    <img src="assets\media\patterns\user-image.jpg" width="100%" height="100%"
                        style="margin-bottom: 5px;">
                </div>
                <div *ngFor="let data of leadbasicdetailslist">
                    <div class="text-black-600 ms-3 mb-3 d-flex align-items-center justify-content-center"
                        style="font-size:12px;">
                        <br> <b style="color: #009EF7"> {{data.customercontact_name}}</b>
                    </div>
                    <div class="text-black-600 ms-3 mb-2 d-flex align-items-center justify-content-center"
                        style="font-size:12px;">
                        <br> <span style="color: #009EF7">{{data.emailid}}</span>
                    </div>
                    <div class="text-black-600 ms-3 mb-2 d-flex align-items-center justify-content-center"
                        style="font-size:12px;">
                        <br> <b> {{data.customer_type}}</b>
                    </div>
                    <div class="text-black-600 ms-3 mb-2 d-flex align-items-center justify-content-center"
                        style="font-size:12px;"><b> Active Since</b> -
                        <br> <b> {{data.created_date}}</b>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row ms-1 me-1">
        <div class="col-lg-6 col-md-4 col-sm-4 ">
            <div class="card-header "
                style="background: rgb(81,183,204);
            background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);color:black;font-size: 14px;align-items: center;margin: 2px;">
                <b>Enquiry Details</b>
                <ng-container>
                    <button type="button" class="btn btn-sm text-white me-8" style="background-color: #097495;"
                        (click)="raiseenquiry()" title="Raise Enquiry">
                        <span style="font-size: 11px;"><i class="fas fa-plus"></i> &nbsp;<b>Raise Enquiry</b></span>
                    </button>
                </ng-container>
                <button class="btn dropdown-toggle fs-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen   "></button>
            </div>
            <div id="collapseTen" class="accordion-collapse collapse show " data-bs-parent="#accordionExample10">
                <div class="accordion-body ">
                    <div class="row">
                        <div >
                            <div class="card card-body m-3  p-3 mb-5 bg-white rounded "   style=" max-height: 270px; overflow: hidden">
                                <div class="me-n5 pe-5 h-300px h-lg-auto">
                                    <div *ngFor="let data of Enquirylist;">
                                        <div>
                                            <div class="row">
                                                <input type="hidden" [value]="data.customer_gid">
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <label><b>Enquiry Date</b></label>
                                                    <br />
                                                    <div>
                                                        <p>{{data.enquiry_date}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <label><b>Enquiry Ref.No</b></label>
                                                    <br />
                                                    <div>
                                                        <p>{{data.enquiry_referencenumber}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <label><b>Assigned To</b></label>
                                                    <br />
                                                    <div>
                                                        <p>{{data.assign_to}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <label><b>Enquiry Status</b></label>
                                                    <br />
                                                    <div>
                                                        <p>{{data.enquiry_status}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-3 col-sm-3 ">
                                                    <label><b>Amount</b></label>
                                                    <br />
                                                    <div>
                                                        <p class="text-red">{{data.potorder_value}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4">
            <div class="card-header "
                style="background: rgb(81,183,204);
    background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);color:black;font-size: 14px;align-items: center;margin: 2px;">
                <b>Quotation Details</b> &nbsp;&nbsp;&nbsp;
                <ng-container>
                    <button type="button" class="btn btn-sm text-white me-8" style="background-color: #097495;"
                        (click)="raisequotation()" title="Raise Quotation">
                        <span style="font-size: 11px;"><i class="fas fa-plus"></i> &nbsp;<b>Raise Quotation</b></span>
                    </button>

                </ng-container>
                <button class="btn dropdown-toggle fs-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive   "></button>
            </div>
            <div id="collapseFive" data-bs-parent="#accordionExample5">
                <div class="accordion-body">
                    <div class="row">
                        <div class="table-responsive">
                            <div class="card card-body m-3  p-3 mb-5 bg-white rounded " id="kt_chat_contacts_body"
                                style=" max-height: 270px; overflow-y: auto;overflow-x: hidden;">
                                <div class="me-n5 pe-5 h-300px h-lg-auto" data-kt-element="messages"
                                    data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                                    data-kt-scroll-max-height="auto"
                                    data-kt-scroll-dependencies="#kt_header, #kt_app_header, #kt_app_toolbar, #kt_toolbar, #kt_footer, #kt_app_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer"
                                    data-kt-scroll-wrappers="#kt_content, #kt_app_content, #kt_chat_messenger_body"
                                    data-kt-scroll-offset="5px">
                                    <div *ngFor="let data of leadquotationdetails_list;">
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <label><b>Quotation Date</b></label>
                                                    <br />
                                                    <div>
                                                        <p>{{data.quotation_date}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <label><b>Quotation Ref.No</b></label>
                                                    <br />
                                                    <div>
                                                        <p>{{data.quotation_referenceno1}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <label><b>Assigned To</b></label>
                                                    <br />
                                                    <div>
                                                        <p>{{data.assign_to}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <label><b>Quotation Type</b></label>
                                                    <br />
                                                    <div>
                                                        <p>{{data.quotation_type}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-3 col-sm-3">
                                                    <label><b>Amount</b></label>
                                                    <br />
                                                    <div>
                                                        <p class="text-red">{{data.Grandtotal}}</p>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ms-1 me-1">
            <div class="col-lg-6 col-md-4 col-sm-4">
                <div class="card-header "
                    style="background: rgb(81,183,204);
        background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);color:black;font-size: 14px;align-items: center;margin: 2px;">
                    <b>Order Details</b>
                    <ng-container *ngIf="leadbank_gid !== '' ">

                        <button type="button" class="btn btn-sm text-white me-4" style="background-color: #097495;"
                            (click)="raissalesorder()" title="Raise Sales Order">
                            <span style="font-size: 11px;"><i class="fas fa-plus"></i> &nbsp;<b>Raise Order</b></span>
                        </button>

                    </ng-container>
                    <button class="btn dropdown-toggle fs-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseFive   "></button>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="row">
                            <div class="table-responsive">
                                <div class="card card-body m-3  p-3 mb-5 bg-white rounded " id="kt_chat_contacts_body"
                                    style=" max-height: 270px; overflow-y: auto;overflow-x: hidden;">
                                    <div class="me-n5 pe-5 h-300px h-lg-auto" data-kt-element="messages"
                                        data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                                        data-kt-scroll-max-height="auto"
                                        data-kt-scroll-dependencies="#kt_header, #kt_app_header, #kt_app_toolbar, #kt_toolbar, #kt_footer, #kt_app_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer"
                                        data-kt-scroll-wrappers="#kt_content, #kt_app_content, #kt_chat_messenger_body"
                                        data-kt-scroll-offset="5px">
                                        <div *ngFor="let data of leadorderdetails_list;">
                                            <div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                                        <label><b>Raised On</b></label>
                                                        <br />
                                                        <div>
                                                            <p>{{data.salesorder_date}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                                        <label><b>Order Ref.No</b></label>
                                                        <br />
                                                        <div>
                                                            <p>{{data.so_referenceno1}}</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                                        <label><b>Assigned To</b></label>
                                                        <br />
                                                        <div>
                                                            <p>{{data.user_firstname}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                                            <label><b>Order Status</b></label>
                                                            <br />
                                                            <div>
                                                                <p>{{data.salesorder_status}}</p>
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-4 col-md-3 col-sm-3">
                                                            <label><b>Amount</b></label>
                                                            <br />
                                                            <div>
                                                                <p class="text-red">{{data.Grandtotal}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-4 col-sm-4">
                <div class="card-header "
                    style="background: rgb(81,183,204);
    background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);color:black;font-size: 14px;align-items: center;margin: 2px;">
                    <b>Invoice</b>&nbsp;&nbsp;&nbsp;
                    <ng-container *ngIf="leadbank_gid !== '' ">

                        <button type="button" class="btn btn-sm text-white me-4" style="background-color: #097495;"
                            (click)="raiseinvoice()" title="Raise Invoice">
                            <span style="font-size: 11px;"><i class="fas fa-plus"></i> &nbsp;<b>Raise Invoice</b></span>
                        </button>

                    </ng-container>
                    <button class="btn dropdown-toggle fs-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo   "></button>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="table-responsive">
                                <div class="card card-body m-3  p-3 mb-5 bg-white rounded " id="kt_chat_contacts_body"
                                    style=" max-height: 365px; overflow-y: auto;overflow-x: hidden;">
                                    <div class="me-n5 pe-5 h-300px h-lg-auto" data-kt-element="messages"
                                        data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                                        data-kt-scroll-max-height="auto"
                                        data-kt-scroll-dependencies="#kt_header, #kt_app_header, #kt_app_toolbar, #kt_toolbar, #kt_footer, #kt_app_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer"
                                        data-kt-scroll-wrappers="#kt_content, #kt_app_content, #kt_chat_messenger_body"
                                        data-kt-scroll-offset="5px">
                                        <div *ngFor="let data of leadinvoicedetails_list;">
                                            <div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                                        <label><b>Invoice. No</b></label>
                                                        <br />
                                                        <div>
                                                            <p>{{data.so_referenceno1}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                                        <label><b>Invoice Date</b></label>
                                                        <br />
                                                        <div>
                                                            <p>{{data.directorder_date}}</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                                        <label><b>Invoice Status</b></label>
                                                        <br />
                                                        <div>
                                                            <p>{{data.invoice_type}}</p>
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label><b>Invoice Amount</b></label>
                                                        <br />
                                                        <div>
                                                            <p class="text-red">{{data.Grandtotal}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter dropdown -->
    <form [formGroup]="reactiveForm" #form="ngForm">
        <div class="modal" id="mydropdown" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog" style="max-width: 250px; max-height: 600px; margin-top: 100px;">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="card-header p-1 pb-2 pt-1 rounded-top bg-white"
                        style="border-bottom: 1px solid rgb(173, 173, 173);">
                        <h2 style="margin-top:10px;color:rgb(3, 2, 2);font-weight: bold;">
                            &nbsp;&nbsp;Filter Options
                        </h2>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <span class="font-bold"><b>Status</b></span>
                            <ng-select style="width: 100%;" formControlName="moving_stage"
                                class="custom col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2"
                                placeholder="Select option">
                                <ng-option value="1">New</ng-option>
                                <ng-option value="3">Prospect</ng-option>
                                <ng-option value="4">Potential</ng-option>
                                <ng-option value="5">Drop</ng-option>
                                <ng-option value="6">Customer</ng-option>
                            </ng-select>
                        </div>
                        <br />
                        <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex ">
                            <div class="col-lg-6 col-md-6 col-sm-6 fv-row mt-2">
                                <span class="font-bold"><b>View Type</b></span>
                                <div class="d-flex justify-content-start mt-4 ms-2">
                                    <div class="
                              form-check
                              form-check-custom
                              form-check-primary
                              form-check-solid
                              form-check-sm
                            ">
                                        <input class="form-check-input" type="radio" name="contact" checked="checked"
                                            formControlName="contact" value="all_contact" />
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="kt_builder_header_content_menu">All Contacts</label>
                                    </div>
                                    <div class="
                              form-check
                              form-check-custom
                              form-check-primary
                              form-check-solid
                              form-check-sm
                              ms-10
                            ">
                                        <input class="form-check-input" type="radio" name="contact"
                                            formControlName="contact" value="my_contact" />
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="kt_builder_header_content_page-title">My Contact</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br /><br />
                        <div class="text-center my-4">
                            <button [ngClass]="{
                'primary-button': !reactiveForm.invalid,
                'secondary-button': reactiveForm.invalid
              }" data-bs-dismiss="modal" class="btn-send">
                                <i class="fas fa-check text-white fs-5 "></i> &nbsp;Apply
                            </button> &nbsp;&nbsp;
                            <button class="btn-danger btn-sm text-white me-4" (click)="onclose()"
                                data-bs-dismiss="modal">
                                Cancel
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--Add to customer popup-->
    <div class="modal" id="myModaladdtocustomer" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="text-center my-4">
                    <h2><b>Are you sure?</b></h2>
                    <br>
                    <p style="display: block; font-size:small;">Check to make sure that you have filled out all the
                        required
                        fields
                        correctly.</p><br>
                    <br>
                    <div class="text-center my-4">
                        <button class="btn-success btn-sm text-white me-4" (click)="onaddtocustomer()"
                            data-bs-dismiss="modal">
                            <i class="fas fa-check text-white fs-5"></i>&nbsp;Yes
                        </button>
                        <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
                            <i class="fas fa-close text-white"></i> &nbsp;Close
                        </button>&nbsp;

                    </div>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="contactForm" #form="ngForm">
        <input type="hidden" formControlName="customer_gid">
        <div class="modal" id="myModalalreadycustomer" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">



                    <div class="modal-body">
                        <h4 style="display: block; text-align: center;"> Are you sure to Drop this Customer?</h4>
                        <div class="text-center my-4 mt-12">
                            <button (click)="onsubmit()" class="btn-danger text-white me-4" data-bs-dismiss="modal">
                                <i class="fa-solid fa-circle-down  text-white fs-5 "></i> &nbsp;Drop
                            </button> &nbsp;&nbsp;
                            <button class="btn-primary btn-sm text-white me-4" (click)="onclose()"
                                data-bs-dismiss="modal">
                                <i class="fas fa-close text-white"></i> &nbsp;Close
                            </button>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </form>
    <div class="modal-body">
        <div class="text-center my-4">
            <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal" style="background-color: red;"
                (click)="onback()">
                <i class="fas fa-arrow-left text-white"></i> &nbsp;Back
            </button>&nbsp;
        </div>
    </div>
</div>