<div class="card">
    <div class="row ms-3 mt-3 d-flex align-items-center">
        <div class="col">
            <div class="d-flex ">
                <h3 class="card-title">Sales Team Manager</h3>
            </div>
        </div>

        <!-- <div class="col me-5">
                <h5 type="text" class="bg-white text-blue me-4 float-end" data-bs-toggle="modal"
                    data-bs-target="#myModaladd">
                     &nbsp;&nbsp;&nbsp;Team Insights
                     <style>
                        .col h5 {
                            cursor: pointer;
                        }
                    </style>
                    </h5>
                </div> -->
    </div>

    <div class="row">
        <div class="col-12 col-lg-2 col-md-2 col-sm-2 ms-20" (click)="summary()">
            <div class="cardHead radius-10 border-start border-0 border-3 border-violet">
                <div class="card-body12">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0 text-secondary">All</h5>
                            <div *ngFor="let managercount_List of countlist">
                                <h4 class="badge-violet  badge-outline-violet fs-4 mt-2">
                                    {{managercount_List.employeecount}}</h4>
                            </div>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-violet text-white ms-auto"><i
                                class="bi bi-calendar3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 ms-8" (click)="prospect()">
            <div class="cardHead radius-10 border-start border-0 border-3 border-pinkish">
                <div class="card-body12">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0 text-secondary">Prospects</h5>
                            <div *ngFor="let managercount_List of countlist">
                                <h4 class="badge1 badge-outline1 fs-4 mt-2">{{managercount_List.prospect}}</h4>
                            </div>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-purple text-white ms-auto"><i
                                class="bi bi-person"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 ms-8" (click)="potentials()">
            <div class="cardHead radius-10 border-start border-0 border-3 border-orange">
                <div class="card-body12">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0 text-secondary">Potentials</h5>
                            <div *ngFor="let managercount_List of countlist">
                                <h4 class="badge-brown  badge-outline-brown fs-4 mt-2">{{managercount_List.potential}}
                                </h4>
                            </div>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-darkgreen text-white ms-auto"><i
                                class="bi bi-clipboard-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 ms-8" (click)="completed()">
            <div class="cardHead radius-10 border-start border-0 border-3 border-darkgreen">
                <div class="card-body12">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0 text-secondary">Completed</h5>
                            <div *ngFor="let managercount_List of countlist">
                                <h4 class="badge-green badge-outline-green fs-4 mt-2">{{managercount_List.completed}}
                                </h4>
                            </div>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-darkgreens text-white ms-auto"><i
                                class="bi bi-check-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 ms-8" (click)="drop()">
            <div class="cardHead radius-10 border-start border-0 border-3 border-purple">
                <div class="card-body12">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0 text-secondary">Drop</h5>
                            <div *ngFor="let managercount_List of countlist">
                                <h4 class="badge-orange badge-outline-orange fs-4 mt-2">
                                    {{managercount_List.drop_status}}</h4>
                            </div>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-darkoranges text-white ms-auto"><i
                                class="fa-solid fa-circle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-5 me-1 d-flex flex-wrap mb-0 mt-0 ">
        <div class="col-12 col-lg-12 row">
            <div class="col-12 col-lg-6 pe-0">
                <div class="card-header card-height55"
                    style="background: rgb(42, 54, 56);
        background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);color:black;font-size: 14px;align-items: center;margin: 2px;">
                    <b>Team Report</b>
                    <div class="card-body align-items-center position-relative">
                        <div class="d-flex flex-center me-5 pt-2">
                            <div id="kt_card_widget_17_chart"> </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="flag2">
                    <div #chartRef class="d-flex flex-column mixed-widget-2-chart card-rounded-bottom">
                        <apx-chart [series]="saleschart.series" [chart]="saleschart.chart" [xaxis]="saleschart.xaxis"
                            [yaxis]="saleschart.yaxis" [dataLabels]="saleschart.dataLabels" [stroke]="saleschart.stroke"
                            [legend]="saleschart.legend" [fill]="saleschart.fill" [states]="saleschart.states"
                            [tooltip]="saleschart.tooltip" [colors]="saleschart.colors" [markers]="saleschart.markers"
                            [plotOptions]="saleschart.plotOptions">
                        </apx-chart>
                    </div>
                </ng-container>
                <ng-container *ngIf="!flag2">
                    <div class="d-flex justify-content-center">
                        <span>
                            <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                        </span>
                    </div>
                </ng-container>

            </div>
            <div class="col-12 col-lg-6 pe-0  table-responsive">
                <div class="card-header card-height55"
                    style="background: rgb(42, 54, 56);
        background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);color:black;font-size: 14px;align-items: center;margin: 2px;">
                    <b>Team Performance</b>
                </div>
                <div class="m-3 me-0 card  p-3 rounded table-responsive"
                    style="height:420px;border: 1px solid rgb(238, 236, 236);">
                    <br>
                    <table class="table table-striped table-row-bordered  table-responsive ">
                        <thead>
                            <tr class="fw-bolder fs-5  bg-lightblue text-blue text-end ">
                                <!-- <th>S.No</th> -->
                                <th class="text-center">Month</th>
                                <th class="text-center">Customer</th>
                                <th class="text-center">Enquiry</th>
                                <!-- <th>Quotation</th> -->
                                <th>Quotation</th>
                                <th>Quotation Amount</th>
                                <th>Order</th>
                                <th>Order Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of chartscountsummary_list; let i=index;" class="text-end">
                                <!-- <td>{{i+1}}</td> -->
                                <td class="text-center">{{data.Months}}</td>
                                <td class="text-center">{{data.customer_count}}</td>
                                <td class="text-center">{{data.enquiry_count}}</td>
                                <td>{{data.quote_count}} </td>
                                <td>{{ data.quoteorder_amount}}</td>
                                <td>{{data.order_count}}</td>
                                <td>{{data.salesorder_amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card-header card-height55"
                style="background: rgb(42, 54, 56);
    background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);color:black;font-size: 14px;align-items: center;margin: 2px; ">
                <b>Sales Team Insights</b>
                <button class="btn dropdown-toggle fs-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseeight" aria-expanded="true" aria-controls="collapseeight"></button>
            </div>
            <div id="collapseeight" class="accordion-collapse collapse show" data-bs-parent="#accordionExample8">
                <div class="accordion-body m-8">
                    <table id="countlist1" class="table table-striped table-row-bordered gy-5 gs-7 table-responsive ">
                        <thead>
                            <tr class="fw-bold fs-7 text-nowrap bg-lightbluegray text-black">
                                <th class="col-1">S.No</th>
                                <th>Team</th>
                                <th routerLink="/smr/SmrTrnSalesManagerSummary"
                                    style="text-decoration: underline; cursor: pointer;">Total</th>
                                <th routerLink="/smr/SmrTrnSalesTeamProspects"
                                    style="text-decoration: underline; cursor: pointer;">Prospect</th>
                                <th routerLink="/smr/SmrTrnSalesTeamPotentials"
                                    style="text-decoration: underline; cursor: pointer;">Potential</th>
                                <th routerLink="/smr/SmrTrnSalesTeamComplete"
                                    style="text-decoration: underline; cursor: pointer;">Completed</th>
                                <th routerLink="/smr/SmrTrnSalesTeamDrop"
                                    style="text-decoration: underline; cursor: pointer;">Drop</th>
                                <!-- <th>Longest Customer</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of countlist1; let i=index;" class="align-middle">
                                <td class="col-">{{i+1}}</td>
                                <td>{{data.campaign_title}}</td>
                                <td>{{data.employeecount}}</td>
                                <td>{{data.prospect}}</td>
                                <td>{{data.potential}}</td>
                                <td>{{data.customer}}</td>
                                <td>{{data.drop_status}}</td>
                                <!-- <td>{{data.Longest_Leads}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <div class="card card-body m-8  p-5 mb-8 ">
            <table id="totallist" class="table table-striped table-row-bordered gy-5 gs-7 ">
                <thead>
                    <tr class="fw-bold fs-5 text-nowrap bg-lightblue text-blue">
                        <th>S.No</th>
                        <th>Branch</th>
                        <th>Sales Team</th>
                        <th>Customer</th>
                        <th>Contact Details</th>
                        <th>Region / Source</th>
                        <th>Lead Notes</th>
                        <th>Lead Stage</th>
                        <th>Assigned To</th>
                        <th>Created By</th>
                        <th class="text-center bg-lightblue ">Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of totallist; let i=index;" class="align-middle">
                        <input type="hidden" [value]="data.customer_gid">
                        <input type="hidden" [value]="data.customercontact_gid">
                        <td>{{i+1}}</td>
                        <td>{{data.branch_name}}</td>
                        <td>{{data.campaign_title}}</td>
                        <td>{{data.leadbank_name}}</td>
                        <td>{{data.contact_details}}</td>
                        <td>{{data.region_name}}</td>
                        <td>{{data.internal_notes}}</td>
                        <td>{{data.leadstage_name}}</td>
                        <th>{{data.assigned_to}}</th>
                        <td>{{data.created_by}}</td>
                        <td class="text-center text-nowrap">
                            <!-- <button title="360 View" type="button"(click)="Onopen(data.customergid,data.lead2campaign_gid,data.customercontact_gid)"
                                  class="btn btn-icon btn-sm  me-2 bg-gradient-darkblue">
                                  <i class="fa-solid fa-arrows-spin fa-spin" style="font-size:14px;font-weight:bolder;"
                                      ></i></button>   -->


                            <span (click)="toggleOptions(data.customergid)" style="cursor: pointer;">
                                <button class="btn me-2 p-1 "><span class="fa-solid fa-ellipsis-vertical fs-1"
                                        style="color: #4d4d4d;"></span></button>
                                <div *ngIf="showOptionsDivId === data.customergid"
                                    class="pb-0 rounded bg-white cursor-pointer icon_menu">

                                    <div class="d-flex p-3 pb-3 Icon_hover"
                                        (click)="Onopen(data.customergid,data.lead2campaign_gid,data.customercontact_gid)">
                                        <span><i class="fa-solid fa-arrows-spin fa-spin fs-3 me-4"></i></span>
                                        <span>360 View</span>
                                    </div>
                                </div>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Team count -->


<div class="modal" id="myModaladd" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog  modal-lg modal-dialog-centered ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="card-title p-6 pb-6 pt-6 rounded-top bg-primary">
                <h2 class="fw-bolder text-white">
                    <i class="fas fa-chart-line fw-bolder fs-3"></i> &nbsp;&nbsp;&nbsp;Marketing Team Insights
                </h2>
            </div>
            <!-- Modal body -->
            <table id="countlist1" class="table table-striped table-row-bordered gy-5 gs-7 ">
                <thead>
                    <tr class="fw-bold fs-7 text-nowrap bg-lightblue text-blue">
                        <th>S.No</th>
                        <th>Total</th>
                        <th>Prospect</th>
                        <th>Potential</th>
                        <th>Completed</th>
                        <th>Drop</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of countlist; let i=index;" class="align-middle">
                        <td>{{i+1}}</td>
                        <td>{{data.total}}</td>
                        <td>{{data.prospect}}</td>
                        <td>{{data.potentials}}</td>
                        <td>{{data.completed}}</td>
                        <td>{{data.drop_status}}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal footer -->
            <div class="text-center my-4">
                <!-- (click)="onclose()" -->
                <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal">
                    <i class="fas fa-close text-white"></i> &nbsp;Close
                </button>
            </div>
        </div>
    </div>
</div>