<div class="card">
    <div class="row ms-3 mt-3 d-flex align-items-center">
        <div class="col">
          <h3 class="card-title">Stock Damage</h3>
        </div>
      </div>
    <div class="table-responsive">
        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded" >
            <table id="stockdamagesummary" class="table table-striped table-row-bordered gy-5 gs-7 ">
                <thead>
                    <tr class=" text-white fw-bold fs-7 text-nowrap bg-lightblue text-blue align-middle">
                        <th>S.No</th>  
                        <th>Branch</th>                      
                        <th>Stock Date </th>
                        <th>Stock Ref No</th>
                        <th>Product Group</th>
                        <th>Product</th>
                        <th>Product Unit</th>
                        <th>Stock Balance</th>
                        <th>Damaged Qty</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                     <tr *ngFor="let data of stockdamagesummary; let i=index;">
                        <td >{{i+1}}</td>
                        <td >{{data.branch_prefix}}</td>
                        <td>{{data.created_date | date:'dd-MM-yyyy'}}</td>
                        <td>{{data.stock_gid}}</td>
                        <td>{{data.productgroup_name}}</td>
                        <td style="text-align: left; width: 20%;">{{data.product_code}}/{{data.product_name}}</td>
                        <td>{{data.productuom_name}}</td>
                        <td>{{data.stock_balance}}</td>
                        <td>{{data.damaged_qty}}</td>
                        <td class="text-center text-nowrap">
                        <button title="Damaged" type="button"
                        class="btn btn-icon btn-sm bg-danger me-2"
                        (click)="onDamaged(data.stock_gid)" ><span
                            class="fa-solid  fa-chain-broken text-white  fs-6"></span></button>
                       </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>