<div class="card">
    <div class="row ms-3 mt-3 d-flex align-items-center">
        <div class="col">
            <h3 class="card-title">Proforma Invoice</h3>
        </div>

        <div class="col me-5">
            <button title="ProformaInvoice" class="btn-primary btn-sm text-white me-4 mb-2 mt-2 float-end"
           routerLink="/smr/SmrTrnRaiseorder2Proformainvoice">
           <i class="fas fa-plus me-5"></i>Raise Proforma Invoice</button>
        </div>
    </div>

    <div class="table-responsive">
        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
            <table id="proformainvoice" class="table table-striped table-row-bordered border-bottom gs-7">
                <thead>
                    <tr class="fw-bolder fs-7 text-nowrap bg-lightblue text-blue align-middle">
                        <th>S.No</th>
                        <th>Invoice Ref. No</th>
                        <th>Invoice Date</th>
                       
                        <th>Company</th>
                        <th>Contact Person</th>
                        <th>Mobile</th>
                        <!-- <th>Details</th> -->
                       
                        <th>Mail Details</th>
                        <th style="text-align: right;">Proforma Invoice Amount</th>
                        <th>Status</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of proformainvoice; let i=index;" class="align-middle">
                        <td>{{i+1}}</td>
                        <td>{{data.invoice_refno}}</td>
                        <td>{{data.invoice_date}}</td>
                       
                        <td>{{data.customer_name}}</td>
                        <td>{{data.customer_contactperson}}</td>
                        <td>{{data.mobile}}</td>
                        <!-- <td class="text-center text-nowrap">
                            <label title="Product Details" data-bs-toggle="modal" data-bs-target="#myModalUpdateimage9"
                                (click)="Details(data.parameter,data.invoice_gid)">
                                <i class="fas fa-question-circle fa-5x text-primary fs-2"></i>
                            </label>
                        </td>     -->
                       
                        <td>{{data.mail_status}}</td>
                        <td class="text-end">{{data.invoice_amount}}</td>
                        <td>{{data.overall_status}}</td>
                        <td class="text-center text-nowrap">
                            <button title="Edit" type="button" class="btn btn-icon btn-sm bg-etdark me-2"
                                (click)="editproformainvoice(data.invoice_gid)">
                                <span class="fa-solid fa-pencil fs-6" style="color: #ffffff;"></span>
                            </button>
                            <button title="View" type="button" class="btn btn-icon btn-sm bg-primary me-2"  (click)="proformainvoiceview(data.invoice_gid)">
                                <span class="fa-solid fa-eye fs-6" style="color: #ffffff;"></span>
                            </button>
                            <button title="Delete" type="button" data-bs-toggle="modal" data-bs-target="#myModaldeleteSO"
                            class="btn btn-icon btn-sm bg-danger me-2"
                            (click)="openModaldelete(data.invoice_gid, data.invoice_reference,data.invoice_amount)"><span
                              class="fa-solid fa-trash text-white  fs-6"></span></button>
                            
                            <!-- <button title="Advance Receipt" type="button" class="btn btn-icon btn-sm bg-info me-2 mt-2"
                                (click)="proformaadvancereceipt(data.invoice_gid)"><span class="fa-solid fa-receipt fs-4" style="color: #ffffff;"></span>
                            </button> -->
                       
                            <button title="Pdf" type="button" data-bs-toggle="modal" data-bs-target="#myModalPdf"
                            class="btn btn-icon btn-sm background-color6 me-2 "
                            style="background: radial-gradient(circle, #47acbe 0%, #4aa5b9 100%);"><span class="fa-solid fa-file-pdf fs-6"
                                (click)="PrintPDF(data.invoice_gid)"></span>
                        </button>
                            <!-- <button title="Mail" type="button" class="btn btn-icon btn-sm bg-warning me-2 mt-2"
                                 (click)="Mail(data.invoice_gid)" >
                                <span class="fa-solid fa-envelope fs-4" style="color: #000000;"></span>
                            </button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalUpdateimage9" tabindex="-1" data-bs-backdrop='static'
        aria-labelledby="editamlcategoryLabel" aria-hidden="true" data-bs-keyboard="false">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content  d-flex justify-content-center">
                <div class="card-header p-1 pb-1 pt-1 rounded-top bg-primary"
                    style="display: flex; align-items: center; height: 40px;">
                </div>
                <div class="modal-body">
                  <div class="table-responsive">
                    <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded" >
                      <table class="table table-striped table-row-bordered gy-5 gs-7 ">
                        <thead>
                          <tr class="fw-bold fs-7 text-nowrap bg-lightblue text-blue align-middle">
                            <th>S.No </th>
                            <th>Product Code </th>
                            <th>Product Name </th>
                            <th>Description</th>
                            <th>Product Units</th>
                            <th>Invoice Qty</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of proformaproduct_list; let i=index;" style="white-space: nowrap;">
                            <td>{{i+1}}</td>
                            <td>{{data.product_code}}</td>
                            <td>{{data.product_name}}</td>
                            <td>{{data.description}}</td>
                            <td>{{data.productuom_name}}</td>
                            <td>{{data.qty_invoice}}</td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                    <div class="text-center my-4">
                        <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal"
                            style="background-color: red;">
                            <i class="fas fa-arrow-left text-white"></i> &nbsp;Back
                        </button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="myModaldeleteSO" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered ">
          <div class="modal-content del_modal-content">
            <div class="text-center my-4">
              <h2><b>Are you sure?</b></h2>
              <p style="display: block;">Do You Want To Delete the Record ?</p>
              <div class="text-center my-4">
                <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal" (click)="ondelete()">
                  <i class="bi bi-trash-fill text-white fs-5 me-2"></i>Delete
                </button>
                <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
                  <i class="fas fa-close text-white me-2"></i>Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>