<div class="card">
    <div class="row ms-3 mt-3 d-flex align-items-center">
        <div class="col">
          <h3 class="card-title fw-bolder">Delivery Acknowledgement Summary</h3>
        </div>
        <div class="col me-5">
          <button type="button" class="btn-primary btn-sm text-white me-4 float-end" data-bs-toggle="modal"
            data-bs-target="#myModaladd" routerLink="/ims/ImsTrnDeliveryAcknowledgemantadd"><i class="fas fa-plus"></i>&nbsp;&nbsp;
            Raise DO Acknowledgement
          </button>
        </div>
      </div> 
    <div class="table-responsive">
        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
          <table id="deliverysummary_list" class="table table-striped table-row-bordered gy-5 gs-7 ">
            <thead>
              <tr class="fw-bold fs-5 text-nowrap bg-lightblue text-blue">
                <th>S.NO </th>
                <th>DO Date</th>
                <th>DO Ref.No</th>
                <th>Customer  </th>
                <th>Contact Details </th>
                <th>Status </th>
                <th>Delivery Details</th>
                <th>Delivery By</th>
                <th>Delivery Remarks</th>
                <th class="text-center bg-lightblue ">Action</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of deliverysummary_list; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.directorder_date}}</td>
                <td>{{data.directorder_refno}}</td> 
                <td>{{data.customer_name}}</td>
                <td>{{data.customer_contactperson}}</td>  
                <td>{{data.delivery_status}}</td>       
                <!-- <td>{{data.delivery_details}}</td> -->
                <td>
                  <ng-container *ngIf="data.delivery_details && data.delivery_details.length > 25">
                    <div *ngFor="let line of splitIntoLines(data.delivery_details, 25)">
                      {{ line }}
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!data.delivery_details || data.delivery_details.length <= 25">
                    {{ data.delivery_details }}
                  </ng-container>
                </td>
                <td>{{data.delivered_by}}</td>
                <td>{{data.delivered_remarks}}</td>
                <td class="text-center text-nowrap">
                  <button title="View" type="button" class="btn btn-icon btn-sm bg-primary me-2" (click)="onview(data.directorder_gid)">  <span
                    class="fa-solid fa-eye text-white  fs-6" style="background: radial-gradient(circle, #47acbe 0%, #4aa5b9 100%);"></span></button>   
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
