<div class="card shadow-sm">
    <div class="card-header bg-whatsapp" style="color: white;">
        <h3 class="card-title"> <i class="fa fa-paper-plane fs-1"></i> &nbsp;&nbsp;
            Send Campaign </h3>
        <div style="margin: 13px">
            <div class="col me-5">
                <button title="Import Excel" class="btn-secondary" data-bs-toggle="modal" data-bs-target="#myModalexcelimport"><i class="bi bi-file-earmark-arrow-down fs-2"></i></button>&nbsp;&nbsp;&nbsp;
                <button title="Preview" class="btn-secondary btn-sm text-black me-4 " data-bs-toggle="modal"
                    data-bs-target="#myModalview" (click)="marketingteam()"> <i class="fa-solid fa-eye "></i>
                    Preview</button>
                <button title="Back" routerLink="/crm/CrmSmmWhatsappcampaign"
                    class="btn-secondary btn-sm text-black me-4 "><i class="ki-duotone ki-entrance-right fs-5">
                        <i class="path1"></i>
                        <i class="path2"></i>
                    </i>&nbsp;Back</button>
            </div>
        </div>
    </div>
    <form [formGroup]="bulkMessageForm" novalidate="novalidate" (ngSubmit)="onsend()">
        <div class="d-flex flex-row m-6 flex-wrap">
            <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                <span class="font-bold ">Source</span>
                    <div class="col-lg-12 col-12 col-md-11 col-sm-11 fv-row mt-2">
                        <ng-select formControlName="source_name" [items]="source_list"
                          class="custom col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2" bindLabel="source_name"
                          bindValue="source_gid" placeholder="--Select Source--"></ng-select>
                    </div>
            </div>
            <div class="col-12 col-lg-3 col-md-6 col-sm-12"><span class="font-bold">Region</span>
                <div class="col-lg-12 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <ng-select formControlName="region_name" [items]="regionnamelist"
                  class="custom col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2" bindLabel="region_name"
                  bindValue="region_gid" placeholder="--Select Region--"></ng-select>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                <span class="font-bold">Customer Type</span>
                <ng-select formControlName="customer_type" [items]="customertype_list"
                  class="custom col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2" bindLabel="customer_type1"
                  bindValue="customertype_gid1" placeholder="--Select Customer Type--"></ng-select>
            </div>
            <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                <button title="Retrive" type="button" class="btn btn-icon btn-sm ms-10"
                data-bs-toggle="modal" data-bs-target="#myModaladd"
                style="width: 100px;text-align: center;height: 33px;background-color:#1e8ea1;margin-top: 20px;"
                (click)="GetPaymentSummary()">
                Retrive
            </button>

            </div>
        </div>
        
        <div class="table-responsive">
            <div class="card card-body m-3 shadow-xl p-3 mb-5 bg-white rounded">
                <p-table #dt [value]="Contactlist" [(selection)]="selectedCustomer" dataKey="whatsapp_gid"
                    [selectionMode]="" [rowHover]="true" [rows]="200" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[200, 500,1000, 1500]" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                    paginatorDropdownAppendTo="body" compareSelectionBy="equals" [resizableColumns]="true"
                    [globalFilterFields]="['displayName', 'value', 'source_name', 'customer_type']"
                    class="table table-striped table-row-bordered border-bottom gs-7">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-6 table-header">
                                <h3>Contact Summary</h3>
                            </div>
                            <div class="col-6">
                                <span class="p-input-icon-left float-end">
                                    <i class="pi pi-search"></i>
                                    <input pInputText class="form-control" type="text"
                                        (input)="onGlobalFilterChange($event,dt)" placeholder="Search..." />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-rowIndex="rowIndex">
                        <tr class="fs-5">
                            <th style="width: 2px">
                                <div class="field-checkbox">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </div>
                            </th>
                            <th pSortableColumn="displayName">
                                <div class="flex justify-content-between align-items-center text-white">
                                    Name
                                    <p-sortIcon field="displayName"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="value">
                                <div class="flex justify-content-between align-items-center text-white">Contact
                                    <p-sortIcon field="value"></p-sortIcon></div>
                            </th>
                            <th pSortableColumn="source_name">
                                <div class="flex justify-content-between align-items-center text-white">Source
                                    <p-sortIcon field="source_name"></p-sortIcon></div>
                            </th>
                            <th pSortableColumn="region_name">
                                <div class="flex justify-content-between align-items-center text-white">Region Name
                                    <p-sortIcon field="region_name"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="customer_type">
                                <div class="flex justify-content-between align-items-center text-white">Customer Type
                                    <p-sortIcon field="customer_type"></p-sortIcon>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customer>
                        <tr>
                            <ng-container>
                                <td>
                                    <p-tableCheckbox [value]="customer" [disabled]="customer.value === ''"
                                        [ngClass]="{'highlight-checkbox': customer.value === ''}"></p-tableCheckbox>
                                </td>
                                <td>
                                    <span class="p-column-title">Name</span>
                                    {{ customer.displayName || '-' }}
                                </td>
                                <td>
                                    <span class="p-column-title">Contact</span>{{customer.value || '-'}}
                                </td>
                                <td>
                                    <span class="p-column-title">Source </span>
                                    {{customer.source_name|| '-'}}
                                </td>
                                <td>
                                    <span class="p-column-title">Region </span>
                                    {{customer.region_name|| '-'}}
                                </td>
                                <td>
                                    <span class="p-column-title">Customer Type</span>
                                    {{customer.customer_type|| '-'}}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No customers found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="text-center my-4">
            <button title="Click to Send Campaign" type="button" class="btn btn-icon btn-sm"
                data-bs-toggle="modal" data-bs-target="#myModaladd"
                style="width: 110px;text-align: center;height: 33px;background-color:#2d8349;"
                (click)="onsend()">
                <i class="fa fa-paper-plane text-white fs-5"></i>&nbsp; Run Campaign
            </button>
        </div>
    </form>
    <div class="modal" id="myModalview" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="card-header p-1 pb-2 pt-1 rounded-top bg-whatsapp">
                    <h2 style="margin-top:10px;color:white;font-weight: bold;">
                        &nbsp; <i class="fa-solid fa-film" style="font-size: 17px;"></i>&nbsp;&nbsp;Campaign Preview
                    </h2>
                </div>
                <BR>
                <div class="card shadow-sm p-4 m-4" style="height: 300px">
                    <h2 style="color: rgb(26, 111, 145);">{{p_name}}</h2>
                    <div style="height: 280px;overflow-y: scroll;" id="scroll-bar-table">
                        <img *ngIf="media_url" src={{media_url}} alt="" style="width:100%;height:100%;"><span
                            *ngIf="!media_url"></span>
                        <br><br>
                        <p [innerHTML]=template_body></p>
                        <span style="color: dodgerblue;">{{footer}}</span>
                    </div>
                </div>
                <div class="text-center my-4">
                    <button title="Close" class="btn-danger btn-sm text-white me-2" data-bs-dismiss="modal">
                        <i class="fas fa-close text-white"></i> &nbsp;Close</button>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <form [formGroup]="reactiveForm" #form="ngForm">
        <div class="modal" id="myModalexcelimport" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header bg-whatsapp mb-10">
                        <h2 class="modal-title text-white ">&nbsp;&nbsp;<i
                                class="bi bi-file-earmark-arrow-down fs-1"></i> &nbsp;&nbsp;Import Excel</h2>

                    </div>
                        <div class="row p-2">  
                            <div class="col-3"><button title="Download Template" type="submit" class="btn-secondary ms-2"
                            (click)="downloadfileformat()">
                            <i class="fa-solid fa-download fs-5"></i>&nbsp;&nbsp;Template</button>
                            </div>
                        <br><br>
                     <div class="col-6">
                            <input type="file"  #fileInput class="form-control" accept=".xlsx, .xls" (change)="onChange1($event)" id="fileInput" [(ngModel)]="fileInputs">

                            </div>
                            <div class="col-3"> 
                                <button title="Import" class="btn-success col-4 " (click)="importexcel()" data-bs-dismiss="modal"><i class="fa-solid fa-file-import "></i></button>&nbsp;
                                <button title="Reset"  type="reset" id="pseudoCancel" class="btn-danger col-4 "  (click)="canceluploadexcel()"><i class="bi bi-x-circle"></i></button>
                           </div>
                        </div>
                        <div class="text-center my-4">
                                <button title="Close" type="button" (click)="onclose()" class="btn-danger col-2" data-bs-dismiss="modal">
                                    <i class="fa fa-close fs-5 text-center"></i>&nbsp;
                                    Close
                                </button>
                        </div>
                </div>
            </div>
        </div>
    </form>
</div>