.card-body12 {
  // width: 160px;
  height: 36px;  
}
.bg-clicktocall
{
  background-color: #063970;
}
.bg-views
{
  background-color: #eca62d;
}
.disabled {
  pointer-events: none;
  opacity: 0.5; /* Optional: to visually indicate that the element is disabled */
}
.phone-button {
background-color: #2ba85d; /* Set the background color */
border: 1px solid #201d1d; /* Add a border for visual separation */
color: #333; /* Text color */
}
.notes-button {
  background-color: #535050; /* Set the background color */
  border: 1px solid #201d1d; /* Add a border for visual separation */
  color: #333; /* Text ccolor */
  }
/* The switch (checkbox input) */

/* The slider (rounded box) */
.slider {
position: relative;
display: inline-block;
width: 45px;
height: 20px;
background-color: #e15555;
border-radius: 34px;
}


/* The circle (slider handle) */
.slider:before {
position: absolute;
content: "";
height: 12px;
width: 12px;
left: 4px;
bottom: 4px;
background-color: white;
border-radius: 50%;
transition: transform 0.2s;
}


.cardHead {

  position: relative;

  display: flex;

  flex-direction: column;

  min-width: 0;

  word-wrap: break-word;

  padding: 18px;

  background-clip: border-box;

  border: 0px solid rgba(0, 0, 0, 0);

  border-radius: .25rem;

  margin-bottom: 1.0rem;

  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);

  transition: all .3s ease-in-out;

  background-color: white;

}

 

.cardHead:hover{

  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;

  transform: translate3d(0px, -2px, 0px);

  cursor:pointer;

  pointer-events: auto;

}

 

.widgets-icons-2 {

  width: 38px;

  height: 38px;

  display: flex;

  align-items: center;

  justify-content: center;

  background-color: #ededed;

  font-size: 27px;

  border-radius: 10px;

}

.rounded-circle {

  border-radius: 50%!important;

}

.ms-auto {

  margin-left: 0px;

}

 

.bg-gradient-info {

  background: #17ead9;

  background: -webkit-linear-gradient(45deg, #17ead9, #6078ea)!important;

  background: linear-gradient(45deg, #17ead9, #6078ea)!important;

}

 

.bg-gradient-violet {

  background: #510e66;

  background: -webkit-linear-gradient(45deg, #eadbf8, #85329c)!important;

  background: linear-gradient(45deg, #e9b2fa, #7e2279)!important;

}

 

.bg-gradient-brown {

  background: #740f0f;

  background: -webkit-linear-gradient(45deg, #a05518, #c43a3a)!important;

  background: linear-gradient(45deg, #f2f565, #da3535)!important;

}
#scroll-bar-table::-webkit-scrollbar
{
  width: 4px;
  background-color: #F5F5F5;
}

#scroll-bar-table::-webkit-scrollbar-thumb
{
  background-color: #003f75;
}
#scroll-bar-table::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
  
.bg-gradient-darkoranges {

  background: #925113;

  background: -webkit-linear-gradient(45deg, #e77912, #925113)!important;

  background: linear-gradient(45deg, #ce8b4d, #925113)!important;

}
.bg-gradient-darkgreens {

  background: #3F7B33;

  background: -webkit-linear-gradient(45deg, #47ac6d, #3F7B33)!important;

  background: linear-gradient(45deg, #c9fc9b, #3F7B33)!important;

}
.bg-gradient-darkviolet {

  background: #612b5a;

  background: -webkit-linear-gradient(45deg, #e704c9, #612b5a)!important;

  background: linear-gradient(45deg, #b43dbe, #612b5a)!important;

}
.bg-gradient-darkred {

  background: #eb4741;

  background: -webkit-linear-gradient(45deg, #e61a13, #eb4741)!important;

  background: linear-gradient(45deg, #861713, #eb4741)!important;

}
.border-red {

  border-left: 5px solid  #eb4741 !important;

}
.border-orange {

  border-left: 5px solid  #925113 !important;

}
.border-blue {

  border-left: 5px solid  #1E2961 !important;

}
.border-purple {

  border-left: 5px solid  #ec9b20 !important;

}

.border-darkgreen {

  border-left: 5px solid  #3F7B33 !important;

}
.border-darkblue {

  border-left: 5px solid  #399C91 !important;

}
.border-violet {

  border-left: 5px solid  #764C9B !important;

}
.border-darkorange {

  border-left: 5px solid  #be267a !important;

}
.radius-10 {
  border-radius: 10px !important;
}
.cardHead4 {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  padding: 18px;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: .25rem;
  margin-bottom: 1.0rem;
  margin-left: 15px;
  transition: all .3s ease-in-out;
  background-color:  #ece5dd;

}
.bg-mail
{
background-color: #063970;
}
.bg-skyblue {
background-color: #063970;
}
//Green color
.badge-green {
color: rgb(42, 148, 59);
background-color: transparent;

&.badge-outline-green {
  color: rgb(61, 179, 46);
  border: 1px solid;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-right: 100px;
  padding-top: 2px;
  padding-bottom: 2px;
  // margin: 25px;
}
.bg-warn{
  color: coral;
}
.badge-light1 {
  color: green;
  background-color: transparent;
}
}
//blue color
.badge-violet {
color: #612b5a;
background-color: transparent;

&.badge-outline-violet {
  color: r#612b5a;
  border: 1px solid;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-right: 100px;
  padding-top: 2px;
  padding-bottom: 2px;
  // margin: 25px;
}

.badge-light1 {
  color: #612b5a;
  background-color: transparent;
}
}
.badge-red {
  color: #eb4741;
  background-color: transparent;
 
  &.badge-outline-red {
    color: #eb4741;
    border: 1px solid;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    margin-right: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
    // margin: 25px;
  }
 
  .badge-light1 {
    color: #eb4741;
    background-color: transparent;
  }
}

//Orange
.badge-orange {
color: #925113;
background-color: transparent;

&.badge-outline-orange {
  color: #925113;
  border: 1px solid;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-right: 100px;
  padding-top: 2px;
  padding-bottom: 2px;
  // margin: 25px;
}

.badge-light1 {
  color: #925113;
  background-color: transparent;
}
}
//Violet
.badge-violet {
color: rgb(194, 13, 194);
background-color: transparent;

&.badge-outline-violet {
  color: rgb(155, 53, 155);
  border: 1px solid;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-right: 100px;
  padding-top: 2px;
  padding-bottom: 2px;
  // margin: 25px;
}

.badge-light1 {
  color: violet;
  background-color: transparent;
}
.pending{
  color: violet;
}
}
:host ::ng-deep .custom-width {   width: 465px; /* Adjust the width to your preference */}


//ctocall
.ctocallabtn {
width: 4.5%;filter: drop-shadow(0 0 0.30rem rgb(0, 32, 51));position:fixed;bottom: 0;left: 0;
}

.clicktocallpopup{
position:fixed;bottom: 0;left: 0;margin-left: 86px;margin-bottom: 9px;display: flex;flex-direction: row;
background-color: #0385d6;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
animation: 600ms ease-in-out 0s normal none 1 slideInRight;

}

.custom-input::placeholder {
color: rgb(92, 92, 92) !important;
font-size: 12px !important;

}

.custom-input {
color: rgb(0, 0, 0);
font-size: 15px;
padding-left: 10px;
}

@media screen and (max-width: 1021px) {
.ctocallabtn {
    width: 14.5% !important;
}

.clicktocallpopup{
    margin: 10px;margin-bottom: 80px;display:block;flex-direction: row;
  }
}
.btn-success:disabled {
background-color: #cccccc !important;
cursor: not-allowed !important;
}
.btn-success{
background-color: #50cd89 !important;
color: #fff !important;
font-size: 1.1rem !important;
font-weight: 630 !important;
padding: 9px 16px 9px 13px  !important;
border-radius: 3px ;
border: 0;
}

.btn-success:hover {
    background-color: #42ac72 !important;  
  }
  .inbound-row {
    background-color: rgb(185, 245, 245);
  }
  
ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.calllog {
  background-color: #fff;
  width: 313px;
  margin: 10px auto;
  border: 2px solid;
  padding: 50px 0px 12px 0;
  border-radius: 25px;
  position: relative;
}

.calllog:before {
  content: "";
  position: absolute;
  border: 2px solid;
  left: 50%;
  width: 100px;
  height: 3px;
  border-radius: 25px;
  margin-left: -50px;
  top: 31px;
}

.content {
  background-color: #096087;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 304px;
  height: 389px;
  margin: 15px auto;
  overflow: hidden;
  position: relative;
  border: 2px solid #000;
}

.content:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;
  background: linear-gradient(transparent, #096087);
  z-index: 10;
  bottom: 0px;
}

.logpage {
  padding: 15px;

  h1 {
    font-weight: 300;
    display: inline;
  }

  h2 {
    font-weight: 300;
    display: inline;
    float: right;
    margin-top: 15px;
    font-size: 20px;
  }
}

.summary {
  height: 319px;
  width: 340px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1 #096087;

  article {
    height: 100%;
    overflow: auto;
    width: 96%;
  }

  .summary-list {
    margin: 0 15px;
    position: relative;

    .summary-list-item:first-child::before {
      top: 10px;
    }

    .summary-list-item::before {
      content: "";
      position: absolute;
      left: 78px;
      width: 15px;
      height: 100%;
      background-color: #186F96;
      top: 0px;
      z-index: -1;
    }

    .summary-list-item {
      overflow: hidden;
      padding-bottom: 15px;
      position: relative;
      z-index: 3;

      .summary-view {
        float: left;
      }

      .summary-format {
        .summary-format-text {
          font-size: 14px;
          font-weight: 400;
          text-align: right;
          line-height: 0.9;
          margin: 12px 0;

          span {
            display: block;
            font-size: 12px;
            font-weight: 300;
          }
        }
      }

      .summary-icon.call {
        span {
          font-size: 15px;
          padding: 2px 6px;
          margin: 0 -11px;
        }
      }

      .summary-icon.message {
        span {
          font-size: 14px;
          padding: 3px 6px;
        }
      }

      .summary-icon {
        margin: 0 10px;

        span {
          display: block;
          border: 5px solid #2684AD;
          border-radius: 50%;
          background-color: #42ADDA;
        }

      }

      .summary-text::before {
        content: "";
        position: absolute;
        left: -5px;
        width: 10px;
        height: 10px;
        background-color: #42ADDA;
        transform: rotate(45deg);
        top: 10px;
      }

      .summary-text {
        position: relative;
        background-color: #42ADDA;
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: 5px;
        width: 60%;

        .log-type {
          font-size: 12px;
        }

        .test1 {
          font-weight: 300;
          font-size: 12px;
        }

        .test2 {
          font-weight: 400;
          font-size: 14px;
        }

      }

    }
  }
}