<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Payment</h3> 
    </div>
    <br>
    <div> &nbsp; &nbsp;
        <!-- ADD Function -->
        <button type="button" class="btn-primary btn-sm text-white me-4" data-bs-toggle="modal"
            data-bs-target="#myModaladd" (click)="onadd()">
            Make Payment
        </button>
    </div>
    <div class="table-responsive">
        <div class="card card-body m-3 shadow-lg p-3 mb-5 bg-white rounded table-responsive">
            <table id="proformainvoice_list" class="table table-striped table-row-bordered gy-5 gs-7">
                <thead>
                    <tr class="fw-bold fs-5 text-nowrap bg-lightblue text-blue">
                        <th>Payment Date</th>
                        <th>Payment Ref.No</th>
                        <th>Vendor Ref. No</th>
                        <th>Order No</th>
                        <th>Cost Center</th>
                        <th>Payment Note</th>
                        <th>Vendor Name</th>
                        <th>Payment Mode</th>
                        <th>Payment Amount</th>
                        <th>TDS Amount</th>
                        <th>Paid Amount</th>
                        <th>Details</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div> 

    

</div>