.bg-gradient-darkblue {
  
    background: #0597F2;
  
    background: -webkit-linear-gradient(45deg, #0597F2, #0597F2) !important;
  
    background: linear-gradient(45deg, #0597F2, #0597F2) !important;
  
  }
  .mail-button {
    background-color: #ffffff !important;
    font-size: 1.1rem !important;
    font-weight: 630 !important;
    padding: 9px 16px 9px 13px !important;
    border-radius: 3px;
    border: 0;
  }