<div *ngIf="companycode==='boba_tea';then boba_tea"></div>
<div *ngIf="companycode==='default';then default"></div>
<ng-template #default>
  <div class="card border">
    <div class="card-bordered" style="background-color: rgb(252, 252, 252);">
      <div class="card-header justify-content-center  text-black bg-gradient-SD" style="background: rgb(81,183,204);
    background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);">
        <h2 class="card-title fs-3 text-black p-5"><b>Sales Dashboard</b></h2>
      </div>
      <br>
      <div class="card">
        <div class="row m-2 ">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="cardHead radius-10 border-start border-0 border-3 border-order">
              <div class="card-body12">
                <div class="d-flex align-items-center">
                  <div>
                    <h5 class="mb-2 text-secondary text-center"><b>Total Customers</b></h5>
                    <div>
                      <h4 class="badge-blue  badge-outline-blue fs-4 mt-2">{{customer_count !== 0 ? customer_count :
                        '0'}}
                      </h4>
                    </div>
                  </div>
                  <div class="widgets-icons-2 rounded-circle bg-gradient-Torder   text-white ms-auto">
                    <i class="fa-solid fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="cardHead radius-10 border-start border-0 border-3 border-violet">
              <div class="card-body12">
                <div class="d-flex align-items-center">
                  <div>
                    <h5 class="mb-2 text-secondary"><b>MTD Invoice / {{mtd_invoice}} </b></h5>
                    <div>
                      <h3 class="badge-violet badge-outline-violet fs-4 mt-2  ">{{month_invoiccount !== 0 ?
                        month_invoiccount
                        : '0'}} / {{currency_symbol}}{{month_invoiceamount !== null && month_invoiceamount !== ''?
                        (month_invoiceamount | currency : " ") : (0 | currency : " ")}}
                      </h3>
                    </div>
                  </div>
                  <div class="widgets-icons-2 rounded-circle bg-gradient-violet text-white ms-auto">
                    <i class="fa-solid fa-calendar-days"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="cardHead radius-10 border-start border-0 border-3 border-brown">
              <div class="card-body12">
                <div class="d-flex align-items-center">
                  <div>
                    <h5 class="mb-2 text-secondary"><b>YTD Invoice / {{ytd_invoice}}</b></h5>
                    <div>
                      <h4 class="badge-maroon badge-outline-maroon fs-4 mt-2">{{ytd_invoicecount !== 0 ?
                        ytd_invoicecount
                        :
                        '0'}} / {{currency_symbol}}{{ytd_invoiceamount !== null && ytd_invoiceamount !== '' ?
                        (ytd_invoiceamount| currency : " ") : (0| currency : " ")}}</h4>
                    </div>
                  </div>
                  <div class="widgets-icons-2 rounded-circle bg-gradient-brown text-white ms-auto"><i
                      class="fa-solid fa-calendar-plus"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-5 ms-1 me-1 d-flex flex-wrap mb-0 mt-0 ">
        <div class="col-12 col-lg-12 row">
          <div class="col-12 col-lg-4 pe-0">
            <div class="m-3 card border p-3  rounded" style="height:360px;border: 2px solid rgb(255, 254, 254);">
              <div class="m-2">
                <h2>Overall Performance</h2>
              </div>
              <ng-container *ngIf="saleschartflag">
                <div class="d-flex justify-content-center ">
                  <div id="chart">
                    <apx-chart [series]="chartOptionsoverall.series" [chart]="chartOptionsoverall.chart"
                      [labels]="chartOptionsoverall.labels" [responsive]="chartOptionsoverall.responsive"
                      [colors]="chartOptionsoverall.colors" [legend]="chartOptionsoverall.legend"
                      [fill]="chartOptionsoverall.fill" [plotOptions]="chartOptionsoverall.plotOptions"></apx-chart>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!saleschartflag">
                <div class="d-flex justify-content-center">
                  <span>
                    <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-12 col-lg-8 pe-0">
            <div class="m-3 me-0 card border p-3 rounded" style="height:360px;border: 2px solid rgb(255, 254, 254);">
              <div class="m-2">
                <h2>Sales Monthwise</h2>
              </div>
              <ng-container *ngIf="flag2">
                <div class="d-flex flex-column ">
                  <apx-chart [series]="saleschart.series" [chart]="saleschart.chart" [xaxis]="saleschart.xaxis"
                    [yaxis]="saleschart.yaxis" [dataLabels]="saleschart.dataLabels" [stroke]="saleschart.stroke"
                    [legend]="saleschart.legend" [fill]="saleschart.fill" [states]="saleschart.states"
                    [tooltip]="saleschart.tooltip" [colors]="saleschart.colors" [markers]="saleschart.markers"
                    [plotOptions]="saleschart.plotOptions">
                  </apx-chart>
                </div>
              </ng-container>
              <ng-container *ngIf="!flag2">
                <div class="d-flex justify-content-center">
                  <span>
                    <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="m-5 ms-1 me-1 d-flex flex-wrap mb-0 mt-0 ">
        <div class="col-12 col-lg-12 row">
          <div class="col-12 col-lg-6 pe-0">
            <div class="m-3 me-0 card border p-3 rounded" style="height:360px; border: 2px solid rgb(255, 254, 254);">
              <div class="m-2">
                <h2>Payment & Delivery</h2>
              </div>
              <div class="card-body align-items-center position-relative">
                <ng-container *ngIf="flag2">
                  <div class="d-flex flex-column mixed-widget-2-chart card-rounded-bottom">
                    <apx-chart [series]="Paymentchart.series" [chart]="Paymentchart.chart" [xaxis]="Paymentchart.xaxis"
                      [yaxis]="Paymentchart.yaxis" [dataLabels]="Paymentchart.dataLabels" [stroke]="Paymentchart.stroke"
                      [legend]="Paymentchart.legend" [fill]="Paymentchart.fill" [states]="Paymentchart.states"
                      [tooltip]="Paymentchart.tooltip" [colors]="Paymentchart.colors" [markers]="Paymentchart.markers"
                      [plotOptions]="Paymentchart.plotOptions" [labels]="Paymentchart.labels">
                    </apx-chart>
                  </div>
                </ng-container>
                <ng-container *ngIf="!flag2">
                  <div class="d-flex justify-content-center">
                    <span>
                      <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 pe-0">
            <div class="m-3 me-0 card border p-3 rounded" style="height:360px; border: 2px solid rgb(255, 254, 254);">
              <div class="m-2">
                <h2>Sales Status</h2>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                  <div class="btn-group " role="group">
                    <button type="button" title="Quotation" class="btn btn-current btn-sm text-black border"
                      [class.highlighted]="selectedChartType1 === 'Quotation'|| !selectedChartType1"
                      (click)="updateChartDefault('Quotation')">Quotation</button>
                    <button type="button" title="Order" class="btn btn-current btn-sm text-black border"
                      [class.highlighted]="selectedChartType1 === 'Order'"
                      (click)="updateChartDefault('Order')">Order</button>
                    <button type="button" title="Invoice" class="btn btn-current btn-sm text-black border"
                      [class.highlighted]="selectedChartType1 === 'Invoice'"
                      (click)="updateChartDefault('Invoice')">Invoice</button>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedChartType1 === 'Quotation'|| !selectedChartType1" class="mt-6">
                <ng-container *ngIf="saleschartflag1">
                  <div class="d-flex flex-wrap ">
                    <div id="chart">
                      <apx-chart [series]="quotationchartcount.series" [chart]="quotationchartcount.chart"
                        [labels]="quotationchartcount.labels" [responsive]="quotationchartcount.responsive"
                        [fill]="quotationchartcount.fill"></apx-chart>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!saleschartflag1">
                  <div class="d-flex justify-content-center">
                    <span>
                      <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                    </span>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="selectedChartType1 === 'Order'" class="mt-6">
                <ng-container *ngIf="saleschartflag2">
                  <div class="d-flex flex-wrap ">
                    <div id="chart">
                      <apx-chart [series]="saleschartcount.series" [chart]="saleschartcount.chart"
                        [labels]="saleschartcount.labels" [responsive]="saleschartcount.responsive"
                        [fill]="saleschartcount.fill"></apx-chart>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!saleschartflag2">
                  <div class="d-flex justify-content-center">
                    <span>
                      <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                    </span>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="selectedChartType1 === 'Invoice'" class="mt-6">
                <ng-container *ngIf="saleschartflag3">
                  <div class="d-flex flex-wrap ">
                    <div id="chart">
                      <apx-chart [series]="Invoicechartcount.series" [chart]="Invoicechartcount.chart"
                        [labels]="Invoicechartcount.labels" [responsive]="Invoicechartcount.responsive"
                        [fill]="Invoicechartcount.fill"></apx-chart>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!saleschartflag3">
                  <div class="d-flex justify-content-center">
                    <span>
                      <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row m-2 ms-1 me-1 mt-1" style="background-color: white;">
        <div class=" col-12 mb-7 border p-3 rounded">
          <div class="card-header justify-content-center"
            style="background: rgb(81,183,204);
          background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);color:black;font-size: 14px;">
            <b style="padding-top: 12px;">User Access</b>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 row " style="margin: 6px; margin-left: 0;">
            <div *ngFor=" let list1 of menu; let j = index;" class="col-lg-2 col-md-2 col-sm-2">
              <div *ngIf="list1 != null">
                <h3 style="padding: 10px;">{{list1.text}}</h3>
                <hr>
                <div *ngFor=" let list2 of list1.sub1menu; let k = index;">
                  <div *ngIf="list2.menu_access == 'true'">
                    <div style="padding: 5px;">
                      <a (click)="redirect_menu(list2.sref, j, k)"
                        style="color:#009ef7;cursor: pointer;">{{list2.text}}</a>
                    </div>
                  </div>
                  <div *ngIf="list2.menu_access != 'true'">
                    <div style="padding: 5px;">{{list2.text}}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="list1 == null">
                <h3 class="text-center">No Records found for this menu</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #boba_tea>
  <div class="card border">
    <div class="card-bordered" style="background-color: rgb(252, 252, 252);">
      <div class="card-header d-flex justify-content-center"
        style="background: rgb(81,183,204);background: linear-gradient(90deg, rgba(81,183,204,1) 0%, rgba(173,221,211,1) 35%, rgba(209,242,255,1) 100%);height:60px;">
        <div class="card-title ">
          <h1 class="card-title fw-bold fs-3" style="color:black;"><b>Sales Dashboard</b></h1>
        </div>
      </div>
      <br>
      <div class="row m-2 ">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="cardHead radius-10 border-start border-0 border-3 border-order">
            <div class="card-body12">
              <div class="d-flex align-items-center">
                <div>
                  <h5 class="mb-2 text-secondary text-center"><b>Total Customers</b></h5>
                  <div>
                    <h4 class="badge-blue  badge-outline-blue fs-4 mt-2">{{customer_count !== 0 ? customer_count : '0'}}
                    </h4>
                  </div>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-Torder   text-white ms-auto">
                  <i class="fa-solid fa-users"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="cardHead radius-10 border-start border-0 border-3 border-violet">
            <div class="card-body12">
              <div class="d-flex align-items-center">
                <div>
                  <h5 class="mb-2 text-secondary"><b>MTD Invoice / {{mtd_invoice}} </b></h5>
                  <div>
                    <h3 class="badge-violet badge-outline-violet fs-4 mt-2  ">{{month_invoiccount !== 0 ?
                      month_invoiccount
                      : '0'}} / {{currency_symbol}}{{month_invoiceamount !== null && month_invoiceamount !== ''?
                      (month_invoiceamount | currency : " ") : (0 | currency : " ")}}
                    </h3>
                  </div>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-violet text-white ms-auto">
                  <i class="fa-solid fa-calendar-days"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="cardHead radius-10 border-start border-0 border-3 border-brown">
            <div class="card-body12">
              <div class="d-flex align-items-center">
                <div>
                  <h5 class="mb-2 text-secondary"><b>YTD Invoice / {{ytd_invoice}}</b></h5>
                  <div>
                    <h4 class="badge-maroon badge-outline-maroon fs-4 mt-2">{{ytd_invoicecount !== 0 ? ytd_invoicecount
                      :
                      '0'}} / {{currency_symbol}}{{ytd_invoiceamount !== null && ytd_invoiceamount !== '' ?
                      (ytd_invoiceamount| currency : " ") : (0| currency : " ")}}</h4>
                  </div>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-brown text-white ms-auto"><i
                    class="fa-solid fa-calendar-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-5 ms-1 me-1 d-flex flex-wrap mb-0 mt-0 ">
        <div class="col-12 col-lg-12 row">
          <div class="col-12 col-lg-6 pe-0">
            <div class="m-3 me-0 card border p-3 rounded" style="height:355px;border: 2px solid rgb(255, 254, 254);">
              <div class="m-2">
                <h2>Sales Performance</h2>
              </div>
              <ng-container *ngIf="flag2">
                <div class="d-flex flex-column">
                  <apx-chart [series]="saleschart.series" [chart]="saleschart.chart" [xaxis]="saleschart.xaxis"
                    [yaxis]="saleschart.yaxis" [dataLabels]="saleschart.dataLabels" [stroke]="saleschart.stroke"
                    [legend]="saleschart.legend" [fill]="saleschart.fill" [states]="saleschart.states"
                    [tooltip]="saleschart.tooltip" [colors]="saleschart.colors" [markers]="saleschart.markers"
                    [plotOptions]="saleschart.plotOptions">
                  </apx-chart>
                </div>
              </ng-container>
              <ng-container *ngIf="!flag2">
                <div class="d-flex justify-content-center">
                  <span>
                    <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-12 col-lg-6 pe-0">
            <div class="m-3 me-0 card border p-3 rounded" style="height:355px;border: 2px solid rgb(255, 254, 254);">
              <div class="m-2">
                <h2>Sales Order</h2>
              </div>
              <ng-container *ngIf="bobateasalesordersixmonth_flag">
                <div class="d-flex flex-column">
                  <apx-chart [series]="bobateasalessixmonthchart.series" [chart]="bobateasalessixmonthchart.chart"
                    [xaxis]="bobateasalessixmonthchart.xaxis" [yaxis]="bobateasalessixmonthchart.yaxis"
                    [dataLabels]="bobateasalessixmonthchart.dataLabels" [stroke]="bobateasalessixmonthchart.stroke"
                    [legend]="bobateasalessixmonthchart.legend" [fill]="bobateasalessixmonthchart.fill"
                    [states]="bobateasalessixmonthchart.states" [tooltip]="bobateasalessixmonthchart.tooltip"
                    [colors]="bobateasalessixmonthchart.colors" [markers]="bobateasalessixmonthchart.markers"
                    [plotOptions]="bobateasalessixmonthchart.plotOptions">
                  </apx-chart>
                </div>
              </ng-container>
              <ng-container *ngIf="!bobateasalesordersixmonth_flag">
                <div class="d-flex justify-content-center">
                  <span>
                    <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="m-5 ms-1 me-1 d-flex flex-wrap mb-0 mt-0 ">
        <div class="col-12 col-lg-12 row">
          <div class="col-12 col-lg-6 pe-0">
            <div class="m-3 me-0 card border p-3 rounded" style="height:390px;border: 2px solid rgb(255, 254, 254);">
              <div class="m-2">
                <h2>Overall Performance</h2>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                  <div class="btn-group " role="group">
                    <button type="button" title="ALL" class="btn btn-current btn-sm text-black border"
                      [class.highlighted]="selectedChartType1 === 'ALL'  || !selectedChartType1"
                      (click)="updateChart('ALL')">All</button>
                    <button type="button" title="Quotation" class="btn btn-current btn-sm text-black border"
                      [class.highlighted]="selectedChartType1 === 'Quotation'"
                      (click)="updateChart('Quotation')">Quotation</button>
                    <button type="button" title="Order" class="btn btn-current btn-sm text-black border"
                      [class.highlighted]="selectedChartType1 === 'Order'" (click)="updateChart('Order')">Order</button>
                    <button type="button" title="Invoice" class="btn btn-current btn-sm text-black border"
                      [class.highlighted]="selectedChartType1 === 'Invoice'"
                      (click)="updateChart('Invoice')">Invoice</button>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedChartType1 === 'ALL' || !selectedChartType1" class="mt-6">
                <ng-container *ngIf="saleschartflag">
                  <div class="d-flex  flex-wrap ">
                    <div id="chart">
                      <apx-chart [series]="chartOptionsoverall.series" [chart]="chartOptionsoverall.chart"
                        [labels]="chartOptionsoverall.labels" [responsive]="chartOptionsoverall.responsive"
                        [colors]="chartOptionsoverall.colors" [legend]="chartOptionsoverall.legend"
                        [fill]="chartOptionsoverall.fill" [plotOptions]="chartOptionsoverall.plotOptions"></apx-chart>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!saleschartflag">
                  <div class="d-flex justify-content-center">
                    <span>
                      <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                    </span>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="selectedChartType1 === 'Quotation'" class="mt-6">
                <ng-container *ngIf="saleschartflag1">
                  <div class="d-flex flex-wrap ">
                    <div id="chart">
                      <apx-chart [series]="quotationchartcount.series" [chart]="quotationchartcount.chart"
                        [labels]="quotationchartcount.labels" [responsive]="quotationchartcount.responsive"
                        [fill]="quotationchartcount.fill"></apx-chart>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!saleschartflag1">
                  <div class="d-flex justify-content-center">
                    <span>
                      <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                    </span>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="selectedChartType1 === 'Order'" class="mt-6">
                <ng-container *ngIf="saleschartflag2">
                  <div class="d-flex flex-wrap ">
                    <div id="chart">
                      <apx-chart [series]="saleschartcount.series" [chart]="saleschartcount.chart"
                        [labels]="saleschartcount.labels" [responsive]="saleschartcount.responsive"
                        [fill]="saleschartcount.fill"></apx-chart>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!saleschartflag2">
                  <div class="d-flex justify-content-center">
                    <span>
                      <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                    </span>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="selectedChartType1 === 'Invoice'" class="mt-6">
                <ng-container *ngIf="saleschartflag3">
                  <div class="d-flex flex-wrap ">
                    <div id="chart">
                      <apx-chart [series]="Invoicechartcount.series" [chart]="Invoicechartcount.chart"
                        [labels]="Invoicechartcount.labels" [responsive]="Invoicechartcount.responsive"
                        [fill]="Invoicechartcount.fill"></apx-chart>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!saleschartflag3">
                  <div class="d-flex justify-content-center">
                    <span>
                      <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 pe-0">
            <div class="m-3 me-0 card border p-3 rounded" style="height:390px; border: 2px solid rgb(255, 254, 254);">
              <div class="m-2">
                <h2>Payment & Delivery </h2>
              </div>
              <div class="card-body align-items-center position-relative">
                <ng-container *ngIf="flag2">
                  <div class="d-flex flex-column mixed-widget-2-chart card-rounded-bottom">
                    <apx-chart [series]="Paymentchart.series" [chart]="Paymentchart.chart" [xaxis]="Paymentchart.xaxis"
                      [yaxis]="Paymentchart.yaxis" [dataLabels]="Paymentchart.dataLabels" [stroke]="Paymentchart.stroke"
                      [legend]="Paymentchart.legend" [fill]="Paymentchart.fill" [states]="Paymentchart.states"
                      [tooltip]="Paymentchart.tooltip" [colors]="Paymentchart.colors" [markers]="Paymentchart.markers"
                      [plotOptions]="Paymentchart.plotOptions" [labels]="Paymentchart.labels">
                    </apx-chart>
                  </div>
                </ng-container>
                <ng-container *ngIf="!flag2">
                  <div class="d-flex justify-content-center">
                    <span>
                      <img src=".\assets\media\images\No_data_found.png" class="h-78px w-300px">
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>