<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" shutdownTimeout="120" executionTimeout="100000" useFullyQualifiedRedirectUrl="true" maxRequestLength="214748364" requestLengthDiskThreshold="81920" maxUrlLength="2048" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" enableVersionHeader="false" requestValidationMode="2.0" fcnMode="Single" />
    <compilation debug="true" targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>  
  <connectionStrings>
	  <add name="AuthConn" connectionString="Driver={MySQL ODBC 5.3 Unicode Driver};Database:storyboard;UID=VCIDEX DBA;PWD=vision!8;Server=52.172.229.39;port=4565;" />
  </connectionStrings>
  <appSettings> 
    <add key="debug" value="on" /> 
    <add key="DevDBConnection" value="Yes" /> 
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="protocol" value="http://" /> 
    <add key="host" value="localhost" />
    <add key="live" value="dt1a.vcidex.com" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="file_path" value="E:/web/EMS_NBFC" />  
   <add key="CmnConfigfile_path" value="D:/WEB/EMS_Base/StoryboardAPI/ems.utilities/CmnDBConfig.json" />
    <add key="imgfile_path" value="D:/WEB/EMS_Base/V2/src/assets/media/images/" />
	  <add key="upload_file" value="D:/WEB/EMS_Base/V2/src/assets/media/images/" />
	  <add key="importexcelfile1" value="D:/WEB/EMS_Base/V2/src/assets/media/Excels/" />
	  <add key="mailuploadfile_path" value="D:/WEB/EMS_Base/V2/src/assets/media/images/" />
	  <add key="exportexcelfile" value="D:/WEB/EMS_Base/V2/src/assets/media/Excels/" />

	  <!--code by praveen S for Crystal Reports-->
	  <add key="report_file_path" value="D:/WEB/EMS_Base/StoryboardAPI/ems.pmr/" />
	   <add key="report_file_path" value="D:/WEB/EMS_Base/StoryboardAPI/ems.sales/" />
	  <add key="report_path" value="D:/WEB/EMS_Base/Documents/" />
	  
	  <!--code by praveen for whatsapp api-->
	  <add key="messageBirdBaseURL" value="https://nest.messagebird.com" />
	  <add key="messageBirdContact" value="/workspaces/8f60b013-65ac-4db2-ad01-e9d0ee7c0d5d/contacts" />
	  <add key="messageBirdAccessKey" value="AccessKey Fy6vn2D4ULht0eYCXpUKzUquOxK2hANBIr8X" />
  
	<!--code by snehith for shopify api-->
<add key="shopify_store" value="cccd79" />
<add key="store_month" value="2023-10" />
<add key="access_token" value="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" />
  
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.1" newVersion="4.5.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.1.0" newVersion="7.12.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692FBEA5521E1304" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692FBEA5521E1304" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692FBEA5521E1304" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692FBEA5521E1304" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692FBEA5521E1304" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>