<div class="card rounded-top mt-4">
    <div class="card-title p-5 pb-3 pt-3 rounded-top bg-primary d-flex justify-content-between align-items-center">
        <h1 class="fw-bolder text-white"><i class="fas fa-eye fw-bolder fs-3"></i>&nbsp;&nbsp; Stock Movement View</h1>
        <button style="color: black !important;" class="btn btn-icon btn-sm bg-secondary cursor-pointer " title="back"
          routerLink="/ims/ImsRptStockmovement"><i class="fa-solid fa-arrow-left-long fs-1 fw-bold"></i></button>
      </div>
    <div class="card mt-1 m-3 mb-0">
        <div class="card-header d-flex align-items-center mb-3 cursor-pointer" style="background-color: #def0ff;">
            <div>
                <p class="card-title fw-bold fs-3 " style="color: #2599ff;">
                    <i class="fa-solid fa-clipboard fs-1"></i> &nbsp; Product Details
                </p>
            </div>
        </div>
        <div *ngFor="let data of stockreport_list;">
        <div class="d-flex flex-row ps-5 ms-8 me-8 flex-wrap border-bottom" >
            <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                <span class="fw-bold">Product Group</span>
                <p class="mt-2">{{data.productgroup_name}}</p>
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                <span class="fw-bold">Product</span>
                <p class="mt-2">{{data.product_code}}/{{data.product_name}}</p>
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-12"> 
                <span class="fw-bold">Opening Balance</span>
                <p class="mt-2">{{data.opening_stock}}</p>
            </div>
        </div>
        <div class="d-flex flex-row ps-5 ms-8 me-8 flex-wrap border-bottom">
            <div class="col-12 col-lg-4 col-md-4 mt-1 col-sm-12"><span class="fw-bold">Product Price</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">  
                 <p>{{data.product_price}}</p>
            </div>
           </div>
            <div class="col-12 col-lg-4 col-md-3 mt-1 col-sm-12"><span class="fw-bold">Stock Balance</span>
                <div class="col-11 fv-row mt-2">
                <p class="mt-2">{{data.stock_balance}}</p> 
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-3 mt-1 col-sm-12"> <span class="fw-bold">Stock value</span>
                <div class="col-11 fv-row mt-2">
                 <p class="mt-2">{{data.stock_value}}</p> 
                </div>
            </div>
        </div>
        </div>
        <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-20x mb-3 fs-6 ">
            <li class="nav-item ms-5">
                <a class="nav-link active  btn btn-flex btn-active-light-primary fs-5" data-bs-toggle="tab"
                    href="#kt_tab_pane_2"><i class="bi bi-boxes fs-5"></i>&nbsp;Purchase Details</a>
            </li>
            <li class="nav-item ms-5">
                <a class="nav-link   btn btn-flex btn-active-light-primary fs-5" data-bs-toggle="tab"
                    href="#kt_tab_pane_3"><i class="bi bi-boxes fs-5"></i>&nbsp;Sales Details</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active " id="kt_tab_pane_2" role="tabpanel">
                <div class="table-responsive">
                    <div class="mx-3 p-3 pt-0 pb-0 mt-2 bg-white rounded">
                        <table class="table table-striped table-row-bordered border-bottom gs-7 align-middle">
                            <thead>
                                <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                                    <th>S.No</th>
                                    <th>Vendor</th>
                                    <th>Contact</th>
                                    <th style="width: 10px;">Received Qty</th>
                                    <th style="width: 10px;">Stock value</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of GetStockpurchaseState_list; let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{data.vendor_code}}/ {{data.vendor_companyname}}</td>
                                    <td>{{data.contactperson_name}}/{{data.contact_telephonenumber}}/{{data.email_id}}</td>
                                    <td>{{data.qty_ordered}}</td>
                                    <td class="text-end">{{data.stock_value}}</td>
                                    <td class="text-center">
                                    <button title="History" type="button" class="btn btn-icon btn-sm me-2"
                                     style="background-color:cadetblue;" data-bs-toggle="modal" 
                                    (click)="purchase_history(data.vendor_gid,data.product_gid)"><span class="fa-solid fa-history text-white fs-6"></span>
                                    </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade " id="kt_tab_pane_3" role="tabpanel">
                <div class="table-responsive">
                    <div class="mx-3 p-3 pt-0 pb-0 mt-2 bg-white rounded">
                        <table class="table table-striped table-row-bordered border-bottom gs-7 align-middle">
                            <thead>
                                <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                                    <th>S.No</th>
                                    <th>Customer</th>
                                    <th>Contact</th>
                                    <th style="width: 10px;">Sales Qty</th>
                                    <th style="width: 10px;">Order Value</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of GetStockStatement_list; let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{data.customer_id}}/ {{data.customer_name}}</td>
                                    <td>{{data.contact}}</td>
                                    <td>{{data.qty_quoted}}</td>
                                    <td class="text-end">{{data.price}}</td>
                                    <td class="text-center">
                                    <button title="History" type="button" class="btn btn-icon btn-sm me-2"
                                     style="background-color:cadetblue;" data-bs-toggle="modal" 
                                    (click)="sales_history(data.customer_gid,data.product_gid)"><span class="fa-solid fa-history text-white fs-6"></span>
                                    </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        