<div class="card m-5">
    <div class="card-title p-5 pb-3 pt-3 rounded-top bg-primary d-flex justify-content-between align-items-center">
      <h1 class="fw-bolder text-white"><i class="fa fa-plus fs-2" aria-hidden="true"></i>&nbsp;&nbsp;Amend Stock
      </h1>
      <button style="color: black !important;" class="btn btn-icon btn-sm bg-secondary cursor-pointer " title="back"
        routerLink="/ims/ImsTrnStocksummary"><i class="fa-solid fa-arrow-left-long fs-1 fw-bold"></i></button>
    </div>
    <div class="card mt-1 m-3 mb-0">
      <div class="card-header d-flex align-items-center mb-3 cursor-pointer no-arrow" style="background-color: #def0ff;">
        <div>
          <p class="card-title fw-bold fs-3 no-arrow" style="color: #2599ff;">
            <i class="fa-solid fa-clipboard fs-1"></i> &nbsp;&nbsp;Amend Stock Details
          </p>
        </div>
      </div>
    </div>
    <div>
      <form [formGroup]="reactiveForm">
        <div class="d-flex flex-row m-6 flex-wrap">
          <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <span class="font-bold">Branch Name</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" [ngStyle]="{ 'border-color': 'rgb(209, 209, 209)'}"
                        formControlName="branch_name" readonly
                        class="form-control form-control-lg form-control-solid
                        mb-3 mb-lg-0 bg-white borderc-secondary" />
                </div>
          </div>
          <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <span class="font-bold">Product Group</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" [ngStyle]="{ 'border-color': 'rgb(209, 209, 209)'}"
                        formControlName="productgroup_name" readonly
                        class="form-control form-control-lg form-control-solid
                        mb-3 mb-lg-0 bg-white borderc-secondary" />
                </div>
          </div>
          <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <span class="font-bold">Product Code</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" [ngStyle]="{ 'border-color': 'rgb(209, 209, 209)'}"
                        formControlName="product_code" readonly
                        class="form-control form-control-lg form-control-solid
                        mb-3 mb-lg-0 bg-white borderc-secondary" />
                </div>
          </div>
        </div>
        <div class="d-flex flex-row m-6 flex-wrap">
          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                <span class="font-bold">Product Name</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" [ngStyle]="{ 'border-color': 'rgb(209, 209, 209)'}"
                        formControlName="product_name" readonly
                        class="form-control form-control-lg form-control-solid
                        mb-3 mb-lg-0 bg-white borderc-secondary" />
                </div>
          </div>
          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                <span class="font-bold">Product Unit</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" [ngStyle]="{ 'border-color': 'rgb(209, 209, 209)'}"
                        formControlName="productuom_name" readonly
                        class="form-control form-control-lg form-control-solid
                        mb-3 mb-lg-0 bg-white borderc-secondary" />
                </div>
          </div>
  
          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                <span class="font-bold">Description</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">

                    <textarea type="text" readonly pattern="^(?!\s*$).+" formControlName="display_field"
                        [ngStyle]="{ 'border-color': 'rgb(209, 209, 209)'}"
                        class="form-control form-control-lg form-control-solid
                        mb-3 mb-lg-0 bg-white borderc-secondary"
                        rows="3"></textarea>
                </div>
          </div>
  
        </div>
        <div class="d-flex flex-row m-6 flex-wrap">
          <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <span class="font-bold">Available Stock</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" [ngStyle]="{ 'border-color': 'rgb(209, 209, 209)'}"
                        formControlName="stock_balance" readonly 
                        class="form-control form-control-lg form-control-solid
                        mb-3 mb-lg-0 bg-white borderc-secondary" />
                </div>
          </div>
  
          <!-- <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                    <span class="font-bold required" [ngClass]="{'error_input_field': amend_type.invalid && amend_type.touched}">Amend Type</span>
                        <ng-select  class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2"
                        [class.is-invalid]="amend_type.invalid && (amend_type.dirty || amend_type.touched)"
                        [ngClass]="{'invalid-border': amend_type.invalid && amend_type.touched}"
                        formControlName="amend_type" [(ngModel)]="mdlamendtype" bindLabel="amend_type"
                        placeholder="Select an option" >
                        <ng-option value="+">(+) Positive Amend</ng-option>
                        <ng-option value="-">(-) Negative Amend</ng-option>
                    </ng-select>         
          </div> -->

          <div class="col-12 col-lg-4 col-md-4 col-sm-12">
            <span class="font-bold required"
              [ngClass]="{'error_input_field': amend_type.invalid && amend_type.touched}">Amend Type</span>
            <ng-select  class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2"
            [ngClass]="{'invalid-border': amend_type.invalid && amend_type.touched}"
              [(ngModel)]="mdlamendtype" bindLabel="amend_type"
              formControlName="amend_type" placeholder="Select an option">
              <ng-option value="+">(+) Positive Amend</ng-option>
              <ng-option value="-">(-) Negative Amend</ng-option>
            </ng-select>
          </div>
  
          <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <span class="font-bold required" [ngClass]="{'error_input_field': amend_qty.invalid && amend_qty.touched}">Amend Qty</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    
                    <input type="number" formControlName="amend_qty" placeholder="Enter Amend Qty " maxlength="8"  pattern="^(?!\s*$).+"
                    class="form-control form-control-lg form-control-solid  borderc-secondary inputfield custom-input mb-3 mb-lg-0 bg-white custom-input  mt-2"    
                    [ngClass]="{'invalid-border': amend_qty.invalid && amend_qty.touched}" />
                </div>
          </div>
  
        </div>
        

        <div class="d-flex flex-row m-6 me-18 flex-wrap">
            <div class="col-12 col-lg-12 col-md-4 col-sm-11"><span class="font-bold">Remarks</span>
              <div class="col-lg-12 col-12 col-md-4 col-sm-11 fv-row mt-2">
                <textarea type="text"
                        [ngStyle]="{ 'border-color': reactiveForm.get('remarks')?.hasError('required') && reactiveForm.get('remarks')?.touched ? 'red' : 'rgb(209, 209, 209)' }"
                        pattern="^(?!\s*$).+" formControlName="remarks" placeholder="Enter Remarks"
                        class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input mt-2"
                        rows="3"></textarea>
              </div>
            </div>
           
         
        </div>
  
        <div class="text-center my-4">
            <button type="submit" 
            class="btn-success btn-sm text-white me-2"
            [disabled]="reactiveForm.invalid" 
            [ngClass]="{
                'primary-button': !reactiveForm.invalid,
                'secondary-button': reactiveForm.invalid
              }" (click)="validate()">
              <i class="fas fa-check text-white fs-5"></i> &nbsp; Submit
            </button>
            &nbsp;&nbsp;
            <button class="btn-primary btn-sm text-white me-4" routerLink="/ims/ImsTrnStocksummary">
              <i class="fas fa-arrow-left"></i> &nbsp; Back
            </button>
  
        </div>
  
  
      </form>
  
  
    </div>
  
  </div>