<form [formGroup]="reactiveFormadd" #form="ngForm">
    <div class=" card rounded-top">
        <div class="card-title p-5 pb-6 pt-6 rounded-top bg-primary">
            <h3 class="fw-bolder text-white">Add Shift Type</h3>
        </div>

        <div class="d-flex flex-row m-6 flex-wrap">
            <!-- <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="font-bold required">Shift Type</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input" 
                    [ngStyle]="{'border-color': shift_name.invalid && shift_name.touched ? 'red' : 'rgb(209, 209, 209)'}" placeholder="Enter Shift Name" formControlName="shift_name" />
                </div>
                <div *ngIf="shift_name.invalid && (shift_name.dirty || shift_name.touched)">
                    <div *ngIf="shift_name.errors?.['required']">
                        <span class="text-red">Shift Name is required.</span>
                    </div>
                </div>
            </div> -->
            <div class="col-12 col-lg-4 col-md-6 col-sm-12"><span class="font-bold required">Shift Type</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input formControlName="shift_name" type="text"
                        [ngStyle]="{ 'border-color': reactiveFormadd.get('shift_name')?.hasError('required') && reactiveFormadd.get('shift_name')?.touched || reactiveFormadd.get('shift_name')?.hasError('pattern') ? 'red' : 'rgb(209, 209, 209)' }"
                        class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input  mb-3 mb-lg-0 ms-2"
                        placeholder="Enter Shift Name" />
                    <div *ngIf="reactiveFormadd.get('shift_name')?.hasError('required') && reactiveFormadd.get('shift_name')?.touched"
                        class="text-red ms-2">Shift Name is required.</div>
                    <div *ngIf="reactiveFormadd.get('shift_name')?.hasError('pattern')" class="text-red ms-2">Space at
                        the beginning is not allowed.</div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="font-bold">E-mail List</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text"
                        class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
                        placeholder="Enter Email ID" formControlName="email_list" />
                </div>
            </div>

            <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold required">Grace Time</span>
                <div class="col-lg-4 col-5 col-md-9 col-sm-9 fv-row mt-2">
                    <div style="display: flex; flex-direction: row;">
                        <input type="text"
                            class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                            [ngStyle]="{'border-color': grace_time.invalid && grace_time.touched ? 'red' : 'rgb(209, 209, 209)'}"
                            formControlName="grace_time" />
                        <span style="margin-left: 10px; margin-top: 13px; font-weight: bold;">Min</span>
                    </div>
                </div>
                <div *ngIf="grace_time.invalid && (grace_time.dirty || grace_time.touched)">
                    <div *ngIf="grace_time.errors?.['required']">
                        <span class="text-red">Grace Time is required.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
            <table id="" class="table border-bottom gs-7">
                <thead>
                    <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                        <th rowspan="2">Week Days</th>
                        <th rowspan="2">Login Time</th>
                        <th rowspan="2">Logout Time</th>
                        <th rowspan="2">OT Cutoff</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of weekdays_list; let i=index;" class="align-middle">
                        <td>{{data.weekday}}</td>
                        <td>
                            <input type="time" [(ngModel)]="data.logintime"
                                class="form-control form-control-lg form-control-solid custom-input mb-5 mb-lg-0 border-secondary bg-white custom-input"
                                formControlName="logintime" style="width: 110px;" />
                        </td>
                        <td>
                            <input type="time" [(ngModel)]="data.logouttime"
                                class="form-control form-control-lg form-control-solid custom-input mb-5 mb-lg-0 border-secondary bg-white custom-input"
                                formControlName="logouttime" style="width: 120px;" />
                        </td>
                        <td>
                            <input type="time" [(ngModel)]="data.Ot_cutoff"
                                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 border-secondary bg-white custom-input"
                                formControlName="Ot_cutoff" style="width: 120px;" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-row m-3 mt-5 flex-wrap ">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <div class="card me-lg-3 me-0 ">
                    <div class="card-header bg-lightblue card-height55">
                        <div class="card-title m-0 ">
                            <h5 class="fw-bolder text-blue">Login</h5>
                        </div>
                    </div>
                    <div class="d-flex flex-row m-6 flex-wrap">
                        <!-- <div class="col-12 col-lg-4 col-md-2 col-sm-12"><span class="font-bold required">Login Scheduler</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <input type="time" class="form-control form-control-lg form-control-solid bg-white custom-input borderc-secondary" formControlName="login_scheduler" />
                            </div>
                        </div> -->

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12"><span class="font-bold required">Login
                                Scheduler</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <input formControlName="login_scheduler" type="time"
                                    [ngStyle]="{ 'border-color': reactiveFormadd.get('login_scheduler')?.hasError('required') && reactiveFormadd.get('login_scheduler')?.touched || reactiveFormadd.get('login_scheduler')?.hasError('pattern') ? 'red' : 'rgb(209, 209, 209)' }"
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input  mb-3 mb-lg-0 ms-2" />
                                <div *ngIf="reactiveFormadd.get('login_scheduler')?.hasError('required') && reactiveFormadd.get('login_scheduler')?.touched"
                                    class="text-red ms-2">Login Scheduler is required.</div>
                            </div>
                        </div>


                        <!-- <div class="col-12 col-lg-4 col-md-2 col-sm-12"><span class="font-bold required">Entry CutOff
                                Time</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <input type="time"
                                    class="form-control form-control-lg form-control-solid bg-white custom-input  borderc-secondary"
                                    formControlName="entrycutoff_time" />
                            </div>
                        </div> -->

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12"><span class="font-bold required">Entry CutOff
                                Time</span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="entrycutoff_time" type="time"
                                [ngStyle]="{ 'border-color': reactiveFormadd.get('entrycutoff_time')?.hasError('required') && reactiveFormadd.get('entrycutoff_time')?.touched || reactiveFormadd.get('entrycutoff_time')?.hasError('pattern') ? 'red' : 'rgb(209, 209, 209)' }"
                                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input  mb-3 mb-lg-0 ms-2" />
                            <div *ngIf="reactiveFormadd.get('entrycutoff_time')?.hasError('required') && reactiveFormadd.get('entrycutoff_time')?.touched"
                                class="text-red ms-2">Entry CutOff is required.</div>
                        </div>
                    </div>

                        <div class="col-12 col-lg-4 col-md-2 col-sm-12 "><span class="font-bold">Overnight Flag</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <div class="d-flex justify-content-start mt-7">
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                        <input type="radio" name="overnight_flag" checked="checked" value="Y"
                                            formControlName="overnight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessYes">Yes</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="overnight_flag" checked="checked" value="N"
                                            formControlName="overnight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row m-6 flex-wrap">
                        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">In Overnight Flag</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <div class="d-flex justify-content-start mt-7">
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                        <input type="radio" name="inovernight_flag" checked="checked" value="Y"
                                            formControlName="inovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessYes">Yes</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="inovernight_flag" checked="checked" value="N"
                                            formControlName="inovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">No</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="inovernight_flag" checked="checked" value="M"
                                            formControlName="inovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">M</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Out Overnight
                                Flag</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <div class="d-flex justify-content-start mt-7">
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                        <input type="radio" name="outovernight_flag" checked="checked" value="Y"
                                            formControlName="outovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessYes">Yes</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="outovernight_flag" checked="checked" value="N"
                                            formControlName="outovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">No</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="outovernight_flag" checked="checked" value="M"
                                            formControlName="outovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">M</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <div class="card me-lg-3 me-0">
                    <div class="card-header bg-lightblue card-height55">
                        <div class="card-title m-0">
                            <h5 class="fw-bolder text-blue">Logout</h5>
                        </div>
                    </div>

                    <div class="d-flex flex-row m-6 flex-wrap">
                        <!-- <div class="col-12 col-lg-4 col-md-2 col-sm-12"><span class="font-bold required">Logout
                                Scheduler</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <input type="time" min="08:00" max="18:00" step="900"
                                    class="form-control form-control-lg form-control-solid bg-white custom-input borderc-secondary"
                                    formControlName="logout_schedular" />
                            </div>
                        </div> -->

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12"><span class="font-bold required">Logout
                            Scheduler</span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="logout_schedular" type="time" min="08:00" max="18:00" step="900"
                                [ngStyle]="{ 'border-color': reactiveFormadd.get('logout_schedular')?.hasError('required') && reactiveFormadd.get('logout_schedular')?.touched || reactiveFormadd.get('logout_schedular')?.hasError('pattern') ? 'red' : 'rgb(209, 209, 209)' }"
                                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input  mb-3 mb-lg-0 ms-2" />
                            <div *ngIf="reactiveFormadd.get('logout_schedular')?.hasError('required') && reactiveFormadd.get('logout_schedular')?.touched"
                                class="text-red ms-2">Logout Scheduler is required.</div>
                        </div>
                    </div>

                        <!-- <div class="col-12 col-lg-4 col-md-2 col-sm-12"><span class="font-bold required">Exit CutOff
                                Time</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <input type="time"
                                    class="form-control form-control-lg form-control-solid bg-white custom-input borderc-secondary"
                                    formControlName="existcutoff_time" />
                            </div>
                        </div> -->

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12"><span class="font-bold required">Exit CutOff
                            Time</span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="existcutoff_time" type="time"
                                [ngStyle]="{ 'border-color': reactiveFormadd.get('existcutoff_time')?.hasError('required') && reactiveFormadd.get('existcutoff_time')?.touched || reactiveFormadd.get('existcutoff_time')?.hasError('pattern') ? 'red' : 'rgb(209, 209, 209)' }"
                                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input  mb-3 mb-lg-0 ms-2" />
                            <div *ngIf="reactiveFormadd.get('existcutoff_time')?.hasError('required') && reactiveFormadd.get('existcutoff_time')?.touched"
                                class="text-red ms-2">Exit CutOff is required.</div>
                        </div>
                    </div>

                        <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="font-bold">Overnight Flag</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <div class="d-flex justify-content-start mt-7">
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                        <input type="radio" name="logout_overnight_flag" checked="checked" value="Y"
                                            formControlName="logout_overnight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessYes">Yes</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="logout_overnight_flag" checked="checked" value="N"
                                            formControlName="logout_overnight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row m-6 flex-wrap">
                        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">In Overnight Flag</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <div class="d-flex justify-content-start mt-7">
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                        <input type="radio" name="logout_inovernight_flag" checked="checked" value="Y"
                                            formControlName="logout_inovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessYes">Yes</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="logout_inovernight_flag" checked="checked" value="N"
                                            formControlName="logout_inovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">No</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="logout_inovernight_flag" checked="checked" value="M"
                                            formControlName="logout_inovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">M</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Out Overnight
                                Flag</span>
                            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                                <div class="d-flex justify-content-start mt-7">
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm">
                                        <input type="radio" name="logout_outovernight_flag" checked="checked" value="Y"
                                            formControlName="logout_outovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessYes">Yes</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="logout_outovernight_flag" checked="checked" value="N"
                                            formControlName="logout_outovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">No</label>
                                    </div>
                                    <div
                                        class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-6">
                                        <input type="radio" name="logout_outovernight_flag" checked="checked" value="M"
                                            formControlName="logout_outovernight_flag">
                                        <label class="form-check-label text-gray-700 text-nowrap"
                                            for="empAccessNo">M</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mb-10">
            <button type="submit" class="btn-success text-white" (click)="submit()"
                [disabled]="reactiveFormadd.invalid">
                <i class="fas fa-check text-white fs-5 me-3"></i>Submit
            </button>
            <button type="button" class="btn-primary text-white ms-5" data-bs-dismiss="modal"
                routerLink="/hrm/HrmMstShiftTypeSummary">
                <i class="fa fa-arrow-left fs-5 text-center me-3"></i>Back
            </button>
        </div>
    </div>
</form>