<div class="card mt-4">
    <div class="row ms-3 mt-3 d-flex align-items-center">
        <div class="col">
            <h3 class="card-title fw-bold">Error Manager</h3>
        </div>
        <div class="col me-5">
            <button type="button" class="btn-primary btn-sm text-white me-4 float-end" data-bs-toggle="modal"
                data-bs-target="#myModaladd">
                <span class="fa-solid fa-plus text-white fs-6 "></span>&nbsp;Add Error Message
            </button>
        </div>
    </div>
    <div class="table-responsive ">
        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
            <table id="error_list" class="table table-striped table-row-bordered gy-5 gs-7 ">
                <thead>
                    <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                        <th>S.No</th>
                        <th>Error Ref No</th>
                        <th>Error Code</th>
                        <th>Error Message</th>
                        <th>Error Type</th>
                        <th class="text-center bg-lightblue ">Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of error_list; let i=index;" class="align-middle">
                        <td>{{i+1}}</td>
                        <td>{{data.error_gid}}</td>
                        <td>{{data.error_code}}</td>
                        <td>{{data.error_message}}</td>
                        <td>{{data.error_type}}</td>
                        <!-- <td style="text-align: center;">
                            <button title="edit" type="button" class="btn btn-icon btn-sm bg-etdark me-2"
                                data-bs-toggle="modal" data-bs-target="#editmodal" (click)="openModaledit(data.error_gid)">
                                <i class="fa-solid fa-pencil text-white fs-6"></i>
                            </button>
                        </td> -->
                        <td class="text-center text-nowrap">
                            <!-- <div (click)="toggleOptions(data.error_gid)" style="cursor: pointer;">
                                <button class="btn me-2 p-1 "><span class="fa-solid fa-ellipsis-vertical fs-1"
                                        style="color: #4d4d4d;"></span></button>
                                <div *ngIf="showOptionsDivId === data.error_gid"
                                    class="pb-0 rounded bg-white cursor-pointer icon_menu">

                                    <div class="d-flex p-3 pb-3 Icon_hover" data-bs-toggle="modal"
                                        data-bs-target="#editmodal" (click)="openModaledit(data)">
                                        <span><i class="fa-regular fa-pen-to-square fs-3 me-5"></i></span>
                                        <span>Edit</span>
                                    </div>
                                </div>
                            </div> -->

                            <button title="Edit" type="button" data-bs-toggle="modal" data-bs-target="#editmodal"
                                class="btn btn-icon btn-sm bg-etdark me-2 mb-2" (click)="openModaledit(data)">
                                <i class="fas fa-pencil text-white fs-6"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <form [formGroup]="reactiveaddForm" #form="ngForm">

        <div class="modal fade" id="myModaladd" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog p-10 modal-dialog-centered">
                <div class="modal-content ">
                    <!-- Modal Header -->
                    <div class="card-header p-1 pb-3 pt-2 rounded-top bg-primary">
                        <div>
                            <h2 class="fw-bolder ms-5 mt-4" style="color: #ffffff;">Add Error Message</h2>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row"><span class="font-bold required">Error Code</span>
                            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                <input formControlName="error_code" type="text"
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                                    [ngStyle]="{'border-color':error_code.invalid && error_code.touched? 'red': 'rgb(209, 209, 209)'}"
                                    style="width: 420px;border: 0px solid grey;" placeholder="Enter Error Code"
                                    name="error_code" required style="height:40px;" />
                            </div>
                            <div *ngIf="reactiveaddForm.get('error_code')?.hasError('required') && reactiveaddForm.get('error_code')?.touched"
                                class="text-red ms-2">Error Code is required.</div>
                            <div *ngIf="reactiveaddForm.get('error_code')?.hasError('pattern')" class="text-red ms-2">
                                Space at the beginning is not allowed.</div>
                        </div>
                        <br>
                        <div class="row"><span class="font-bold required">Error Message</span>
                            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                <input formControlName="error_message" type="text"
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                                    [ngStyle]="{'border-color':error_message.invalid && error_message.touched? 'red': 'rgb(209, 209, 209)'}"
                                    style="width: 420px;border: 0px solid grey;" placeholder="Enter Error Message"
                                    name="error_message" required style="height:40px;" />

                            </div>
                            <div *ngIf="reactiveaddForm.get('error_message')?.hasError('required') && reactiveaddForm.get('error_message')?.touched"
                                class="text-red ms-2">Error Message is required.</div>
                            <div *ngIf="reactiveaddForm.get('error_message')?.hasError('pattern')"
                                class="text-red ms-2">Space at the beginning is not allowed.</div>
                        </div>
                        <br>

                        <div class="row"><span class="font-bold required">Error Type</span>
                            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                <input formControlName="error_type" type="text"
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input"
                                    [ngStyle]="{'border-color':error_type.invalid && error_type.touched? 'red': 'rgb(209, 209, 209)'}"
                                    style="width: 420px;border: 0px solid grey;" placeholder="Enter Error Type"
                                    name="error_type" required style="height:40px;" />
                            </div>
                            <div *ngIf="reactiveaddForm.get('error_type')?.hasError('required') && reactiveaddForm.get('error_type')?.touched"
                                class="text-red ms-2">Error Type is required.</div>
                            <div *ngIf="reactiveaddForm.get('error_type')?.hasError('pattern')" class="text-red ms-2">
                                Space at the beginning is not allowed.</div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="text-center my-4">
                        <button class="me-4 " (click)="onsubmit()" [disabled]="reactiveaddForm.invalid" [ngClass]="{
                                'primary-button': !reactiveaddForm.invalid,
                                'secondary-button': reactiveaddForm.invalid
                              }" data-bs-dismiss="modal">
                            <i class="fas fa-check text-white fs-5"></i>
                            <span class="ms-3">Submit</span>
                        </button>
                        <button class="btn-danger btn-sm text-white me-4" (click)="onclose()" data-bs-dismiss="modal">
                            <i class="fas fa-close text-white fs-5"></i>
                            <span class="ms-3">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>




    <form [formGroup]="reactiveeditForm" #form="ngForm">
        <input formControlName="error_gid" hidden placeholder="Address Line 1" type="text" class="form-control form-control-lg form-control-solid bg-white custom-input mb-3 mb-lg-0 borderc-secondary
        " name="error_gid" />
        <div class="modal" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content ">

                    <div class="card-header p-1 pb-3 pt-2 rounded-top bg-primary">
                        <div>
                            <h2 class="fw-bolder ms-5 mt-4" style="color: #ffffff;">Edit Error Message</h2>
                        </div>

                    </div>
                    <div class="modal-body">
                        <div class="row"><span class="font-bold ">Error Ref No</span>
                            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                <input formControlName="ref_no" type="text"
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input  mb-3 mb-lg-0 bg-secondary"
                                    [ngStyle]="{'border-color':ref_no.invalid && ref_no.touched? 'red': 'rgb(209, 209, 209)'}"
                                    style="width: 420px;border: 0px solid grey;" placeholder="Enter Error Ref no"
                                    name="ref_no" pattern="^(?!\s*$).+" readonly class="form-control"
                                    style="height:40px;" />
                            </div>
                        </div>
                        <br>
                        <div class="row"><span class="font-bold ">Error Code</span>
                            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                <input formControlName="error_code" type="text"
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input  mb-3 mb-lg-0 bg-secondary"
                                    [ngStyle]="{'border-color':error_code.invalid && error_code.touched? 'red': 'rgb(209, 209, 209)'}"
                                    style="width: 420px;border: 0px solid grey;" placeholder="Enter Error Code"
                                    name="error_code" readonly style="height:40px;" />
                            </div>
                        </div>
                        <br>
                        <div class="row"><span class="font-bold required">Error Message</span>
                            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                <input formControlName="error_message" type="text"
                                    class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input  mb-3 mb-lg-0"
                                    [ngStyle]="{'border-color':error_message.invalid && error_message.touched? 'red': 'rgb(209, 209, 209)'}"
                                    style="width: 420px;border: 0px solid grey;" placeholder="Enter Error Message"
                                    name="error_message" required style="height:40px;" />
                            </div>
                            <div *ngIf="reactiveeditForm.get('error_message')?.hasError('required') && reactiveeditForm.get('error_message')?.touched"
                                class="text-red">Error Message is required.</div>
                            <div *ngIf="reactiveeditForm.get('error_message')?.hasError('pattern')" class="text-red">
                                Space at the beginning is not allowed.</div>
                        </div>
                        <br>

                        <div class="row"><span class="font-bold required">Error Type</span>
                            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                                <input formControlName="error_type" type="text"class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input  mb-3 mb-lg-0"
                                    [ngStyle]="{'border-color':error_type.invalid && error_type.touched? 'red': 'rgb(209, 209, 209)'}" 
                                    style="width: 420px;border: 0px solid grey;" placeholder="Enter Error Type" name="error_type" required style="height:40px;" />
                            </div>
                            <div *ngIf="reactiveeditForm.get('error_type')?.hasError('required') && reactiveeditForm.get('error_type')?.touched"
                                class="text-red">Error Type is required.</div>
                            <div *ngIf="reactiveeditForm.get('error_type')?.hasError('pattern')" class="text-red">Space
                                at the beginning is not allowed.</div>
                        </div>
                    </div>





                    <!-- Modal footer -->
                    <div class="text-center my-4">
                        <button class="me-4 " (click)="update()" [disabled]="reactiveeditForm.invalid" [ngClass]="{
                            'primary-button': !reactiveeditForm.invalid,
                            'secondary-button': reactiveeditForm.invalid
                          }" data-bs-dismiss="modal">
                            <i class="fas fa-check text-white fs-5"></i>
                            <span class="ms-3">Update</span>
                        </button>
                        <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal">
                            <i class="fas fa-close text-white fs-5"></i>
                            <span class="ms-3">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>