<!-- <div class="table-responsive">
    <div class="card card-body m-1 shadow-lg p-3 mb-5 bg-white rounded">
      <table id="month_list" class="table table-striped table-row-bordered gy-5 gs-7">
        <thead>
          <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle"> 
            <th></th>             
            <th>S.No</th>
            <th>Year</th>
            <th>Month</th>            
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of month_list; let i=index;">
            <td (click)="ondetail()"
             (click)="data.isExpand = !data.isExpand">
                <i *ngIf="!data.isExpand" class="bi-chevron-right"></i>
                <i *ngIf="data.isExpand" class="bi-chevron-up"></i>
            </td>
          <td>{{i+1}}</td>
          <td>{{data.year}}</td>
          <td>{{data.month}}</td>            
        
          <td *ngIf="data.isExpand" >
            <br> <br> <br>
            <div class="table-responsive" style="margin-left:-1000px;">
                <div class="card card-body m-3 shadow-lg p-3 mb-5 bg-white rounded">
                    <table id="branchdepartment_list" 
                        class="table table-striped table-row-bordered gy-5 gs-7 ">
                        <thead>
                            <tr class="fw-bold fs-5 text-nowrap bg-lightblue text-blue">
                                <th>S.No</th>
                                <th>Branch</th>
                                <th>Department</th>
                                <th class="text-center text-nowrap">Action</th>
                                </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data1 of branchdepartment_list; let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{data1.branch_name}}</td>
                                <td>{{data1.department_name}}</td>                                           
                                <td class="text-center text-nowrap">
                                    <button title="PDF" type="button" class="btn btn-icon btn-sm bg-primary me-2" (click)="pdf(data,data1)" data-bs-toggle="modal" data-bs-target="#myModaledit">
                                      <span class="fa-solid fa-file-pdf text-white  fs-6"></span>
                                    </button>

                              
                                        <button title="Excel" type="button" class="btn btn-icon btn-sm bg-stssuccess me-2" (click)="excel()" data-bs-toggle="modal" data-bs-target="#myModaledit">
                                          <span class="fa-solid fa-file-excel text-white  fs-6"></span>
                                        </button>
                                </td>
                            </tr> 
                     </tbody>
                    </table>
                </div>
            </div>

           
          
          
          </td>  
            
          
         </tr>
         </tbody>
         </table>
         </div>
         </div> -->





<div class="card">
  <p-table [value]="month_list" dataKey="year">
    <ng-template pTemplate="header">
      <tr>
        <th style="background-color:rgb(222, 240, 255); color:#2599ff "></th>
        <th style="background-color:rgb(222, 240, 255); color:#2599ff ">S.No</th>
        <th style="background-color:rgb(222, 240, 255); color:#2599ff ">Year</th>
        <th style="background-color:rgb(222, 240, 255); color:#2599ff ">Month</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-i="rowIndex" let-expanded="expanded">
      <tr [ngClass]="i % 2 === 0 ? 'even-row' : 'odd-row'" >
        <td>
          <button type="button" pButton pRipple [pRowToggler]="data" class="p-button-text p-button-rounded p-button-plain" (click)="toggleExpansion(i); ondetail()" style="background-color:transparent; border: none;">
            <i class="bi" [ngClass]="expandedRows[i] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
          </button>
        </td>
        <td>{{i+1}}</td>
        <td>{{data.year}}</td>
        <td>{{data.month}}</td>
      </tr>
      <tr *ngIf="expandedRows[i]">
        <td [attr.colspan]="4">
          <div class="p-3">
            <p-table [value]="branchdepartment_list">
              <ng-template pTemplate="header">
                <tr>
                  <th style="background-color:rgb(222, 240, 255); color:#2599ff ">S.No</th>
                  <th style="background-color:rgb(222, 240, 255); color:#2599ff ">Branch</th>
                  <th style="background-color:rgb(222, 240, 255); color:#2599ff ">Department</th>
                  <th class="text-center text-nowrap" style="background-color:rgb(222, 240, 255); color:#2599ff ">Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data1 let-j="rowIndex">
                <tr>
                  <td>{{j+1}}</td>
                  <td>{{data1.branch_name}}</td>
                  <td>{{data1.department_name}}</td>
                  <td class="text-center text-nowrap">
                    <button title="PDF" type="button" pButton pRipple  (click)="pdf(data, data1)" data-bs-toggle="modal" data-bs-target="#myModaledit" style="background-color: #FF7F7F; border: none; border-radius: 8px; padding: 10px;" >
                    <i class="fa-solid fa-file-pdf" style="color: white; font-size: 12px;" ></i>
                    </button>
                  </td>
                </tr>
              </ng-template>

            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>