<div class="card mt-4">
  <div class="row ms-3 mt-3 d-flex align-items-center">
    <div class="col">
      <h3 class="card-title fw-bold">Product Group Summary</h3>
    </div>
    <div class="col me-5">
      <button type="button" class="btn-primary btn-sm text-white me-4 float-end" data-bs-toggle="modal"
        data-bs-target="#myProductadd">
        <span class="fa-solid fa-plus text-white fs-6 fw-bold"></span>&nbsp;Add Product Group
        <!-- <span class="tooltip">Add Product Group</span> -->
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
      <table id="salesproductgroup_list" class="table table-striped table-row-bordered gy-5 gs-7 ">
        <thead>
          <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
            <th style="width: 8px;">S.No</th>
            <th style="width: 200px;">Product Group Code </th>
            <th>Product Group </th>
            <th class="text-center bg-lightblue ">Action</th>           </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of salesproductgroup_list; let i=index;" class="align-middle">
            <td>{{i+1}}</td>
            <td style="width: 200px;">{{data.productgroup_code}}</td>
            <td>{{data.productgroup_name}}</td>
            <td title="Edit" class="text-center text-nowrap" style="width: 7%;">
              <button  type="button" class="btn btn-icon btn-sm bg-etdark me-2" (click)="openModaledit(data)" data-bs-toggle="modal" data-bs-target="#myModaledit">
                <span class="fa-solid fa-pencil text-white  fs-6"></span>
                
              </button>
            
              <button title="Delete"  type="button" (click)="openModaldelete(data.productgroup_gid)" data-bs-toggle="modal" data-bs-target="#myModaldelete" class="btn btn-icon btn-sm bg-danger me-2">
                <span class="fa-solid fa-trash text-white  fs-6"></span>
                
              </button>

              <!-- <div (click)="toggleOptions(data.productgroup_gid)"
                style="cursor: pointer;">
                <button class="btn me-2 p-1">
                  <span class="fa-solid fa-ellipsis-vertical fs-1" style="color: #4d4d4d;"></span>
                </button>
                <div *ngIf="showOptionsDivId === data.productgroup_gid"
                  class="pb-0 rounded bg-white cursor-pointer icon_menu">
                  <div class="d-flex p-3 pb-3 Icon_hover" (click)="openModaledit(data)" data-bs-toggle="modal"
                    data-bs-target="#myModaledit">
                    <span><i class="fa-regular fas fa-pencil fs-3 me-5"></i></span>
                    <span>Edit</span>
                  </div>
                  <div class="d-flex p-3 pb-3 Icon_hover" (click)="openModaldelete(data.productgroup_gid)"
                    data-bs-toggle="modal" data-bs-target="#myModaldelete">
                    <span><i class="fa-regular fa-trash-can fs-3 me-5"></i></span>
                    <span>Delete</span>
                  </div>
                </div>
              </div> -->

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- The Modal ADD -->
<form [formGroup]="salesproductForm" #form="ngForm">
  <div class="modal fade" id="myProductadd" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="card-header pb-3 pt-6 rounded-top bg-primary">
          <div>
            <h3 class="fw-bolder text-white ms-6"> <span class="fa-solid fa-plus text-white fs-6"></span>&nbsp;Add
              Product Group</h3>
          </div>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <span class="fw-bold">Product Group Code</span>
            <div class="col-lg-12  col-md-12 col-sm-12 fv-row mt-2">
              <!-- <input type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-secondary border-secondary custom-input" placeholder="Product Group Code is Auto Generated" readonly> -->
              <div style="color: darkgrey;">Auto Generated</div>
              <!-- <input formControlName="productgroup_code" type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input" [ngStyle]="{'border-color': productgroupcontrol_code.invalid && productgroupcontrol_code.touched ? 'red': 'rgb(209, 209, 209)'}" placeholder="Enter Product Group Code" pattern="^(?!\s*$).+" pattern="^(PGC)[0-9]{4}$" pattern="^(PGC)[0-9]{4}$" minlength="7" maxlength="7" name="productgroup_code" required  style="height:40px;"/> -->
            </div>
          </div>

          <br>
          <div class="row">
            <span class="fw-bold" [ngClass]
            ="{'error_input_field': productgroupcontrol_name.invalid && productgroupcontrol_name.touched}">Product Group<span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2">
              <input formControlName="productgroup_name" type="text" class="form-control form-control-lg form-control-solid 
              custom-input mb-3 mb-lg-0 bg-white custom-input" [ngStyle]="{'border-color': productgroupcontrol_name.invalid 
               && productgroupcontrol_name.touched ? 'red' : 'rgb(209, 209, 209)' }" placeholder="Enter Product Group"
                 name="productgroup_name" required
                style="height:40px;" />
            </div>
          </div>
          <!-- <div
            *ngIf="productgroupcontrol_name.invalid && (productgroupcontrol_name.dirty || productgroupcontrol_name.touched)">
            <div *ngIf="productgroupcontrol_name.errors?.['required']">
              <span style="color:red;">Product Group is required.</span>
            </div>
            <div *ngIf="productgroupcontrol_name.errors?.['pattern']">
              <span style="color:red;">Space Not Accepted.</span>
            </div>
          </div> -->
        </div>
        <!-- Modal footer -->
        <div class="text-center my-4">         
          <button (click)="onsubmit()" class="me-4" [disabled]="salesproductForm.invalid"
          [ngStyle]="{ 'cursor': salesproductForm.invalid ? 'not-allowed' : 'pointer'}" [ngClass]="{ 'btn-success': !salesproductForm.invalid,
          'btn-secondary text-white': salesproductForm.invalid }"
            data-bs-dismiss="modal">
            <i class="fas fa-check text-white fs-5 me-4"></i>
            <span>Submit</span>
        </button>
          <button class="btn-danger btn-sm text-white me-4" (click)="onclose()" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>

      </div>
    </div>
  </div>
</form>
<!-- The Modal Edit -->
<form [formGroup]="salesproductFormEdit" #form="ngForm">
  <div class="modal fade" id="myModaledit" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="card-header pb-3 pt-6  rounded-top bg-primary">
          <div>
            <h3 class="fw-bolder text-white"><span class="fa-solid fa-pencil text-white fs-6 ms-5"></span>&nbsp;Edit
              Product Group</h3>
          </div>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <input class="form-control form-control-lg" formControlName="productgroup_gid" hidden type="text"
            placeholder="Enter Entity" aria-label=".form-control-lg example" autocomplete="off" required
            style="height:40px;">
          <div class="row">
            <span class="fw-bold" >Product Group Code</span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mb-2 mt-2 d-flex">
              <input formControlName="productgroupedit_code" type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 bg-white borderc-secondary custom-input"
                name="productgroupedit_code" readonly style="height:40px;" />
            </div>

          </div>
      
          <span class="fw-bold" [ngClass]
          ="{'error_input_field': productgroupedit_name.invalid && productgroupedit_name.touched }">Product Group<span class="ms-1 text-red">*</span></span>
          <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 mb-2 d-flex">
            <input formControlName="productgroupedit_name" type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 bg-white custom-input"
              [ngStyle]="{'border-color':productgroupedit_name.invalid && productgroupedit_name.touched ? 'red': 'rgb(209, 209, 209)'}"
              placeholder="Enter Product Group Name" 
              name="productgroupedit_name" required style="height:40px;" />
          </div>
          <!-- <div *ngIf="productgroupedit_name.invalid && (productgroupedit_name.dirty || productgroupedit_name.touched)">
            <div *ngIf="productgroupedit_name.errors?.['required']">
              <span style="color:red;">Product Group Name is required.</span>
            </div>
          </div>
          <div *ngIf="productgroupedit_name.invalid && (productgroupedit_name.dirty || productgroupedit_name.touched)">
            <div *ngIf="productgroupedit_name.errors?.['pattern']">
              <span style="color:red;">Space Not Accepted.</span>
            </div>
          </div> -->
        

        <!-- Modal footer -->
        <div class="text-center my-4">
          <button class="btn-success btn-sm text-white me-4" (click)="onupdate()"
            [disabled]="salesproductFormEdit.invalid"
            [ngClass]="{'primary-button': !salesproductFormEdit.invalid,'secondary-button': salesproductFormEdit.invalid}"
            data-bs-dismiss="modal">
            <i class="fas fa-check text-white fs-5 "></i> &nbsp;Update
          </button> &nbsp;&nbsp;
          <button class="btn-danger btn-sm text-white me-4" (click)="onclose()" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>
        </div>
      </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" id="myModaldelete" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="text-center my-4">
        <h2><b>Are you sure?</b></h2>
        <p style="display: block;">Do You Want To Delete the Record ?</p>
        <div class="text-center my-4">
          <button class="btn-danger btn-sm text-white me-3" (click)="ondelete()" data-bs-dismiss="modal">
            <i class="fas fa-trash text-white fs-5 me-2"></i>Delete
          </button>
          <button class="btn-primary btn-sm text-white me-4" data-bs-dismiss="modal">
            <i class="fas fa-close text-white me-2"></i>Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Add Tax-->
<!-- <form [formGroup]="salesproductFormTax" #form="ngForm">
  <div class="modal" id="myModaladdtax" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog p-10 ">
      <div class="modal-content">
        
        <div class="card-header pb-3 pt-6 rounded-top bg-primary">
          <div>
            <h3 class="fw-bolder text-white">&nbsp;&nbsp;<i class="fa-solid fa-percent fs-4"></i> &nbsp;&nbsp;Add Tax</h3>
          </div>
        </div>
        <div class="modal-body">
          <input class="form-control form-control-lg" formControlName="productgroup_gid" hidden pattern="^(?!\s*$).+" type="text" placeholder="Enter Entity" aria-label=".form-control-lg example" autocomplete="off" required style="height:40px;">
          <div class="row">
            <span class="fw-bold">Product Group Code</span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 mb-3 d-flex ">
              <input formControlName="productgroup_code" type="text" class="form-control form-control-lg form-control-solid custom-input mb-2 bg-white custom-input borderc-secondary" placeholder="Enter Product Group Code" readonly pattern="^(?!\s*$).+" name="productgroup_code" required style="height:40px;"/>
            </div>
            <br>
            <span class="fw-bold">Product Group Name</span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mb-3 mt-2 d-flex ">
              <input formControlName="productgroup_name" type="text" class="form-control form-control-lg form-control-solid custom-input mb-2 bg-white custom-input borderc-secondary" placeholder="Enter Product Group Name" readonly pattern="^(?!\s*$).+" name="productgroup_name" required style="height:40px;" />
            </div>
            <span class="fw-bold required">Tax</span>
            <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-1 mb-2 d-flex ">
              <ng-select formControlName="tax1_name" [items]="tax1_list" class="custom col-lg-12 col-14 mb-2 fv-row mt-2" bindLabel="tax1_name" bindValue="tax1_gid" placeholder="Select an option"
               style="border: 0px solid grey; border-radius: 10px;"
                style="height:40px;"></ng-select>
            </div>
          </div>
          <div class="text-center my-4">
            <button class="btn-success btn-sm text-white me-4" (click)="update()" 
            [ngClass]="{'primary-button': !salesproductFormTax.invalid,'secondary-button': salesproductFormTax.invalid}" data-bs-dismiss="modal">
              <i class="fas fa-check text-white fs-5 "></i> &nbsp;Update
            </button> &nbsp;&nbsp;
            <button class="btn-danger btn-sm text-white me-4" (click)="onclose()" data-bs-dismiss="modal">
              <i class="fas fa-close text-white"></i> &nbsp;Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> -->