.table_head th{

    font-size: 12px;
  
}
.new_table {

    text-align: center;

}
.lab {

    font-size: 12px;

    font-weight: bold;
}

.in {

    margin-left: 13px;

    width: 100px;

}

 

.spn {

    margin-left: 5px;

    color: #000000;

    font-weight: bold;

}

 

 

.tbl_lab {

    font-size: 11px;

    font-weight: bold;

    width: 170px;

}

 

.tbl_in {

    margin-left: 13px;

    width: 100px;

    text-align: right;

}

 

.tbl_spn {

    margin-left: 5px;

    color: #000000;
    font-weight: bold;

}

 

.new_table1 {

    text-align: right;

}

 

.icon {

    background-color: #009ef7;

    color: white;

    font-weight: bold;

}