.flex-container{
    display: flex;
    flex-direction: column;
   
   }
 
   .flex-container1{
    display: flex;
    justify-content: center;
    top:-80px;
   
   }
   .flex-container2{
    text-justify: auto;
    top:-10px;
   }
 
.card{
    margin: 50px 50px;
    border-width:2px;
    border-style:none;
    border-color: black;
    height: 450px;
 
  }