<div class="flex-container card"><br>
  <div class="flex-container1">
    <img src="assets/media/images/Check_blue.png" height="230px" width="230px">
  </div><br>
  <div class="flex-container2" style="text-align:center">
   
      <h1 class="text-blue">Payment Successful</h1>
      <h3 class="mt-4">You will receive the order confirmation shortly</h3>
      <br>
      <!-- <a >
        <button class="btn-primary btn-sm text-white me-2 rounded-pill" >        
          Continue</button></a>&nbsp; -->
 
  </div>
 
</div>