.card-body12 {
  // width: 160px;
  height: 36px;  
}
.cardHead {

  position: relative;

  display: flex;

  flex-direction: column;

  min-width: 0;

  word-wrap: break-word;

  padding: 18px;

  background-clip: border-box;

  border: 0px solid rgba(0, 0, 0, 0);

  border-radius: .25rem;

  margin-bottom: 1.0rem;

  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);

  transition: all .3s ease-in-out;

  background-color: white;

}

 

.cardHead:hover{

  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;

  transform: translate3d(0px, -2px, 0px);

  cursor:pointer;

  pointer-events: auto;

}

 

.widgets-icons-2 {

  width: 38px;

  height: 38px;

  display: flex;

  align-items: center;

  justify-content: center;

  background-color: #ededed;

  font-size: 27px;

  border-radius: 10px;

}

.rounded-circle {

  border-radius: 50%!important;

}

.ms-auto {

  margin-left: 0px;

}


 

.bg-gradient-info {


  background: rgb(16, 114, 194)!important;


}
// .bg-primary{
//   background:(rgb(84, 141, 78))!important;
// }
.bg-pink{
  background:(rgb(238, 224, 201))!important;
}

 

.bg-gradient-violet {

  background: #660e0e;

  background: -webkit-linear-gradient(45deg, #f8dbdb, #d80e29)!important;

  background: linear-gradient(45deg, #fab2b2, #a90234)!important;

}
.bg-lightblue{
  background: rgb(221, 242, 253)!important;
}

 

.bg-gradient-brown {

  background: #740f0f;

  background: -webkit-linear-gradient(45deg, #a05518, #c43a3a)!important;

  background: linear-gradient(45deg, #f2f565, #da3535)!important;

}

 

.bg-gradient-darkblue {

  background: #399C91;

  background: -webkit-linear-gradient(45deg, #aedaf3, #2db9a8)!important;

  background: linear-gradient(45deg, #9ff8f4, #2ec2b1)!important;

}

.bg-gradient-darkblue {

  background: #39839c;

  background: -webkit-linear-gradient(45deg, #aedaf3, rgb(57, 135, 156))!important;

  background: linear-gradient(45deg, #9ff8f4, #2ab9a8)!important;

}
.bg-gradient-purple {

  background: #be267a;

  background: -webkit-linear-gradient(45deg, #f8bceb, #be267a)!important;

  background: linear-gradient(45deg, #f7bdde, #be267a)!important;

}
.bg-gradient-darkgreen {

  background: #B66B1A;

  background: -webkit-linear-gradient(45deg, #ecd776, #B66B1A)!important;

  background: linear-gradient(45deg, #eff77e, #B66B1A)!important;

}
.bg-gradient-darkblues {

  background: #1E2961;

  background: -webkit-linear-gradient(45deg, #9ca1f1, #1E2961)!important;

  background: linear-gradient(45deg, #cfc8f8, #1E2961)!important;

}
.bg-gradient-darkoranges {

  background: #ec9b20;

  background: -webkit-linear-gradient(45deg, #faab6b, #ec9b20)!important;

  background: linear-gradient(45deg, #ccf8a4, #ec9b20)!important;

}
.bg-gradient-darkgreens {

  background: #33347b;

  background: -webkit-linear-gradient(45deg, #5647ac, #38337b)!important;

  background: linear-gradient(45deg, #9b9dfc, #47337b)!important;

}

.border-orange {

  border-left: 5px solid  rgb(16, 114, 194)  !important;

}
.border-blue {

  border-left: 5px solid  #1E2961 !important;

}
.border-red {

  border-left: 5px solid  #ec2020 !important;

}

.border-darkgreen {

  border-left: 5px solid  #3F7B33 !important;

}
.border-darkblue {

  border-left: 5px solid  #399C91 !important;

}
.border-violet {

  border-left: 5px solid  #764C9B !important;

}
.border-brown {

  border-left: 5px solid  #C11C1C !important;

}
.border-darkorange {

  border-left: 5px solid  #be267a !important;

}
.radius-10 {
  border-radius: 10px !important;
}
.table_head th{

  font-size: 12px;

}
.new_table {

  text-align: center;

}
.lab {

  font-size: 12px;

  font-weight: bold;
}

.in {

  margin-left: 13px;

  width: 100px;

}



.spn {

  margin-left: 5px;

  color: #000000;

  font-weight: bold;

}





.tbl_lab {

  font-size: 11px;

  font-weight: bold;

  width: 170px;

}



.tbl_in {

  margin-left: 13px;

  width: 100px;

  text-align: right;

}



.tbl_spn {

  margin-left: 5px;

  color: #000000;
  font-weight: bold;

}



.new_table1 {

  text-align: right;

}



.icon {

  background-color: #009ef7;

  color: white;

  font-weight: bold;

}

.sample {
  width: 10px;
}
.orderhover:hover {
  background-color: #d8daf8;
}
.custom-tbody {
  overflow-y: auto;
  height: 300px;
}

.custom-tbody1 {
  overflow-y: auto;
  height: 290px;
}
.table thead th {
  position: sticky;
  top: 0;
  background: #def0ff; /* Background color of the header */
  z-index: 0;
  border-bottom: 2px solid #ddd;
}