.head{
    width: calc(100% - 5rem);
    margin-left: 5rem;
    z-index: 1;
    transition: all .5s ease;
    background: #f3f6f9 ;
    // padding: 1rem 1.5rem 0 1.5rem;
    position: fixed;
    top:0;

    .head-content{
        display: flex;
        justify-content: space-between;
        background-color: rgb(108 117 125 / 7%);
        // border-radius: 0.625rem;
        // box-shadow: 0 0 10px 0 rgb(34 12 47 / 10%);
        padding: 0.813rem 1.563rem;
        
        .head-content-left{
            display: flex;
            align-items: center;

            .header-menu-name{
                background-color: rgb(161, 160, 160);
                padding: 7px;
            }
        }

        .head-content-right{
            display: flex;
            justify-content:flex-end;
        }
    }
}

.head-trimmed{
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.head-md-screen{
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.header-menu-text{
    padding: 5px;
    background-color: rgb(88, 85, 85);
    border-radius: 3px;
    color: white;
}

.head-menu-item-btn{
    font-size: 18px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: 5px;
    outline: 0;
    color: #495057;
    background-color:transparent;
}

.head-menu-item-btn:hover{
    color: white;
    font-weight: 600;
    background-color:#009ef7;
}

.head-menu-item-name-btn{
    font-size: 11px;
    font-weight: 400;
    width: auto;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10%;
    margin-left: 5px;
    outline: 0;
    padding: 8px 15px;
    color: black;
    background-color:transparent;
}

.head-menu-item-name-btn:hover{
    // color: white;
    font-weight: 600;
    background-color:rgb(226, 226, 226);
}

.activeHeader{
    color: white;
    font-weight: 600;
    // background-color:rgb(226, 226, 226);
    background-color:#009ef7;
}
.activeHeader:hover{
    color: white;
    font-weight: 600;
    // background-color:rgb(226, 226, 226);
    background-color:#009ef7;
}

.sampel{
    position: absolute;
    background-color: #f3f6f9;
    border-radius: 6px;
    width: 350px;
    right: 0;
    margin-top: 60px;
    margin-right: 39px;
    border: 2px solid #000000;
}

.notification_list{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden
} 
.responsive {
    width: 600px;
    max-height: auto;
    max-width: 100%;
    height: auto;
  }
#scroll-bar-table::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.nassar:hover{
    background-color: #cecece;
}

#scroll-bar-table::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

#scroll-bar-table::-webkit-scrollbar-thumb
{
	background-color: #003f75;
}

.headBreadCrum{
    padding: 0.5rem 2rem;
}
 
 
.headBreadCrum span{
    color: #009ef7;
}
.notification-badge {
    display: inline-block;
    width: 24px; /* Smaller width */
    height: 24px; /* Smaller height */
    background-color: #4fbe4f; /* Light green color */
    color: white; /* Text color */
    border-radius: 50%; /* Makes it round */
    text-align: center; /* Center text horizontally */
    line-height: 24px; /* Center text vertically */
    font-size: 12px; /* Smaller font size */
    font-weight: bold; /* Optional: makes the text bold */
}
.no-notifications-container {
    /* Ensure the container uses the full width of its parent */
    width: 100%;
    height: 100%;
    /* Flexbox to center content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Avoid scrollbars */
    overflow: hidden;
}

.no-notifications-image {
    /* Make the image responsive */
    max-width: 100%;
    max-height: 100%;
    /* Maintain aspect ratio */
    height: auto;
    width: auto;
}