/* Add this CSS in your global CSS file or component-specific CSS */

// .table-container {
//     width: 100%;
//     overflow-x: auto; /* Add horizontal scrollbar when content overflows */
//     overflow-y: auto;
//     white-space: nowrap; /* Prevent line breaks for table cells */
//   }
  
//   .table-content {
//     width: auto; /* Allow content to exceed container width */
//   }

  .table-container {
    position: relative;
    overflow-x: auto;
}

.table-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 10px 0;
}

.table-body {
    max-height: 400px; /* Adjust this height as needed */
    overflow-y: auto;
}

/* Optional: Style the search input */
.table-header input[type="search"] {
    margin-bottom: 10px;
    
}
.Icon_hover:hover{
    background-color: #f6f8fc;
    font-weight: 600;
    border-radius: 6px 6px 6px 6px;
    color: black;
  }
  
  .icon_menu {
    position: absolute;
    width: auto;
    right: 40px;
    box-shadow: 4px 4px 7px rgba(174, 174, 192, .8);
    color: #636363;
    max-height: 123px;
    overflow-y: auto;
    scrollbar-color: rgb(223, 247, 255) #ffffff;
    z-index: 2;
  }

 