<div class="card shadow-sm">

    <div class="card-title p-5 pb-6 pt-6 rounded-top bg-primary">
        <h3 class="fw-bolder" style="color: #ffffff;">
            <i class="fas fa-pen-to-square fs-2 me-2"></i> Edit Component
        </h3>
    </div>

    <div class="mt-1">
        <!-- EDIT Function -->
        <form [formGroup]="reactiveFormEdit" #form="ngForm">

            <div class="d-flex flex-row fv-row flex-wrap m-6">
                <!-- Component Group -->
                <div class="col-12 col-lg-3 col-md-3 col-sm-12">
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-1">
                        <!-- <span class="font-bold">Component Group</span>
                        <span style="color:red"> *</span> -->
                        <span class="fw-bold" [ngClass]="{'error_input_field': componentgroup_name.invalid && componentgroup_name.touched}">Component Group<span class="ms-1 text-red">*</span></span>
             

                        <ng-select class="custom col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2"
                            formControlName="componentgroup_name" bindLabel="componentgroup_name"
                            bindValue="componentgroup_name" [items]="componentgrouplist"
                            [class.is-invalid]="reactiveFormEdit.get('componentgroup_name')?.invalid
                    && (reactiveFormEdit.get('componentgroup_name')?.dirty || reactiveFormEdit.get('componentgroup_name')?.touched)" [ngClass]="{'invalid-border': reactiveFormEdit.get('componentgroup_name')?.invalid &&
                        reactiveFormEdit.get('componentgroup_name')?.touched}" placeholder="Select an option"
                            required></ng-select>

                        <div
                            *ngIf="componentgroup_name.invalid && (componentgroup_name.dirty || componentgroup_name.touched)">
                            <div *ngIf="componentgroup_name.errors?.['required']">
                                <span style="color:red;">Component Group is Required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Component Code -->
                <div class="col-12 col-lg-3 col-md-3 col-sm-12">
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-1">
                        <span class="fw-bold">Component Code</span>


                        <input type="text" formControlName="component_code" [ngStyle]="{ 'border-color': reactiveFormEdit.get('component_code')?.hasError('required')
                 && reactiveFormEdit.get('component_code')?.touched ? 'red' : 'rgb(209, 209, 209)' }" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 
            bg-white mt-2" placeholder="Enter Component Code" required readonly />
                        <div *ngIf="reactiveFormEdit.get('component_code')?.hasError('required') &&
                 reactiveFormEdit.get('component_code')?.touched " class="text-red">Component Code is Required.</div>

                    </div>
                </div>

                <!-- Component Name -->
                <div class="col-12 col-lg-3 col-md-3 col-sm-12">
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-1">
                        <!-- <span class="fw-bold required">Component Name</span> -->
                        <span class="fw-bold" [ngClass]="{'error_input_field': component_name.invalid && component_name.touched}">Component Name<span class="ms-1 text-red">*</span></span>
                       

                        <input type="text" formControlName="component_name" [ngStyle]="{ 'border-color': reactiveFormEdit.get('component_name')?.hasError('required')
                         && reactiveFormEdit.get('component_name')?.touched ? 'red' : 'rgb(209, 209, 209)' }" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 
                         bg-white mt-2" placeholder="Enter Component Name" required />

                        <div *ngIf="component_name.invalid && (component_name.dirty || component_name.touched)">
                            <div *ngIf="component_name.errors?.['required']">
                                <span class="text-red">Component Name is Required</span>
                            </div>
                            <div *ngIf="reactiveFormEdit.get('component_name')?.hasError('pattern')" class="text-red ms-2">Space at the beginning is not allowed.</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-1">
                        <span class="fw-bold">Contribution Type</span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-1 d-flex flex-row">
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="contribution_type"
                                value="EMPLOYEE ONLY" [(ngModel)]="contribution_type" (change)="showTextBox0($event)"
                                (change)="showTextBox1($event)" (change)="showTextBox($event)">
                            <label><span class="font-bold">Employee</span></label>

                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="contribution_type"
                                value="EMPLOYER ONLY" [(ngModel)]="contribution_type" (change)="showTextBox0($event)"
                                (change)="showTextBox1($event)" (change)="showTextBox($event)">
                            <label><span class="font-bold">Employer</span></label>

                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="contribution_type"
                                value="BOTH" [(ngModel)]="contribution_type" (change)="showTextBox0($event)"
                                (change)="showTextBox1($event)" (change)="showTextBox($event)">
                            <label><span class="font-bold">Both</span></label>
                        </div>

                    </div>
                </div>

            </div>

            <div class="d-flex flex-row fv-row flex-wrap">

                <div class="col-12 col-lg-3 col-md-6 col-sm-12 mt-1 ms-5"><span class="fw-bold">Component Type</span>
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-1 d-flex flex-row">
                        <input type="radio" class="form-control-input ms-5 me-2" formControlName="component_type"
                            value="Addition" (change)="showTextBox2($event)">
                        <label><span class="font-bold">Addition</span></label>
                        <input type="radio" class="form-control-input ms-5 me-2" formControlName="component_type"
                            value="Deduction" (change)="showTextBox2($event)">
                        <label><span class="font-bold">Deduction</span></label>
                        <input type="radio" class="form-control-input ms-5 me-2" formControlName="component_type"
                            value="Other" (change)="showTextBox2($event)">
                        <label><span class="font-bold">Other</span></label>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-6 col-sm-12 mt-1"><span class="fw-bold">Affecting In</span>

                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-2">
                        <input type="radio" class="form-control-input ms-2 me-2" formControlName="affect_in"
                            [(ngModel)]="affect_in" value="Basic">
                        <label><span class="font-bold">Base</span></label>
                        <input type="radio" class="form-control-input ms-2 me-2" formControlName="affect_in"
                            [(ngModel)]="affect_in" value="Gross">
                        <label><span class="font-bold">Gross</span></label>
                        <input type="radio" class="form-control-input ms-2 me-2" formControlName="affect_in"
                            [(ngModel)]="affect_in" value="Customize">
                        <label><span class="font-bold">Customize</span></label>
                        <input type="radio" class="form-control-input ms-2 me-2" formControlName="affect_in"
                            [(ngModel)]="affect_in" value="Formula">
                        <label><span class="font-bold">Formula</span></label>
                    </div>
                </div>

                <!-- <div class="col-12 col-lg-3 col-md-6 col-sm-12 "><span class="font-bold">Lop
                        Deduction</span>
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-2">
                        <input type="radio" class="form-control-input me-2" formControlName="lop_deduction"
                            value="Y">
                        <label><span class="font-bold">Yes</span></label>
                        <input type="radio" class="form-control-input me-2" formControlName="lop_deduction"
                            value="N">
                        <label><span class="font-bold">No</span></label>
                    </div>
                </div> -->
                <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="fw-bold">Lop Deduction</span>
                    <div class="d-flex justify-content-start ms-4 mt-4">
                        <div class="form-check form-check-custom form-check-primary form-check-solid form-check-sm"
                            style="margin-left: -10px;">
                            <input type="radio" formControlName="lop_deduction" value="Y">
                            <label class="form-check-label text-gray-700 text-nowrap"
                                for="kt_builder_header_content_menu">Yes</label>
                        </div>
                        <div
                            class="form-check form-check-custom form-check-primary form-check-solid form-check-sm ms-8">
                            <input type="radio" formControlName="lop_deduction" value="N">
                            <label class="form-check-label text-gray-700 text-nowrap"
                                for="kt_builder_header_content_menu">No</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row flex-wrap mt-10">

                <div class="col-12 col-lg-4 col-md-4 col-sm-12 mt-1" *ngIf="contribution_type ==='EMPLOYER ONLY'"><span
                        class="ms-6"><span class="fw-bold">Statutory Payment</span></span>
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-1">
                        <input type="radio" class="form-control-input ms-4 me-2" formControlName="statutory_pay"
                            value="Y">
                        <label><span class="fw-bold">Yes</span></label>
                        <input type="radio" class="form-control-input ms-4 me-2" formControlName="statutory_pay"
                            value="N">
                        <label><span class="fw-bold">No</span></label>

                    </div>
                </div>
            </div>

            <div *ngIf="affect_in === 'Customize' ">


                <!-- <div class="col-12 col-lg-4 col-md-4 col-sm-12"><span class="font-bold ms-6">Addition Component</span>
    <ng-select [items]="componentnamelist" class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-5" [multiple]="true" [selectableGroup]="true"
        formControlName="customizecomponent" [closeOnSelect]="false" bindLabel="salarycomponent_name"
        bindValue="component_gid" placeholder="Select an option" [(ngModel)]="cboselectedComponent">
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;
            {{item.salarycomponent_name}}
        </ng-template>
    </ng-select>
</div> -->
                <!-- <div class="col-12 col-lg-4 col-md-4 col-sm-12" *ngIf="componentnamelist">
    <span class="font-bold ms-6">Addition Component</span>
    <ng-select [items]="componentnamelist" class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-5" [multiple]="true" [selectableGroup]="true"
        formControlName="customizecomponent" [closeOnSelect]="false" bindLabel="salarycomponent_name"
        bindValue="component_gid" placeholder="Select an option" [(ngModel)]="cboselectedComponent">
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;
            {{item.salarycomponent_name}}
        </ng-template>
    </ng-select>
</div> -->
                <div class="col-12 col-lg-4 col-md-4 col-sm-12" *ngIf="componentnamelist">
                    <span class="fw-bold ms-6">Addition Component</span>
                    <ng-select [items]="componentnamelist" class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-5"
                        [multiple]="true" [selectableGroup]="true" formControlName="customizecomponent"
                        [closeOnSelect]="false" bindLabel="salarycomponent_name" bindValue="component_gid"
                        placeholder="Select an option" [(ngModel)]="cboselectedComponent" [compareWith]="compareFn">
                        <ng-template ng-option-tmp let-item="item" let-item$="item$"     let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;
                            {{item$.label}}
                        </ng-template>
                    </ng-select>
                </div>
            </div>

            <div *ngIf="affect_in === 'Formula' ">

                <div class="d-flex flex-row flex-wrap mt-5">


                    <div class="col-12 col-lg-3 col-md-3 col-sm-12">

                        <span class="fw-bold ms-7">Source Variable</span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-2">

                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="formulaaffect_in"
                                value="Basic">
                            <label><span class="fw-bold">Basic</span></label>
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="formulaaffect_in"
                                value="Gross">
                            <label><span class="fw-bold">Gross</span></label>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3 col-sm-12">

                        <span class="fw-bold ms-3">Operator</span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-2">


                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="operatoraffect_in"
                                value="add">
                            <label><span class="fw-bold">Addn(+)</span></label>
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="operatoraffect_in"
                                value="sub">
                            <label><span class="fw-bold">Sub(-)</span></label>
                        </div>
                    </div>



                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="fw-bold ms-3">Addition
                            Variable</span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-2">

                            <ng-select [items]="additionvariablelist"
                                class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-3" [multiple]="true"
                                [selectableGroup]="true" formControlName="additionvariblecomponent"
                                [closeOnSelect]="false" bindLabel="salarycomponent_name" bindValue="component_gid"
                                placeholder="Select an option" [(ngModel)]="cboselectedComponent1"
                                bindLabel="salarycomponent_name" bindValue="component_gid"
                                placeholder="Select an option" [(ngModel)]="cboselectedComponent1"
                                [compareWith]="compareFn">
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;

                                    {{item$.label}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-12 col-lg-3 col-md-3 col-sm-12" *ngIf="showformuladropdown"><span
            class="font-bold ms-3">Deduction Variable</span>
        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-2">

            <ng-select [items]="deductionvariablelist"
                class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-3" [multiple]="true"
                [selectableGroup]="true" formControlName="deductionvariblecomponent" [closeOnSelect]="false"
                bindLabel="deductioncomponent_name" bindValue="deductioncomponent_gid" placeholder="Select an option"
                [(ngModel)]="cboselectedComponent2">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;
                    {{item.deductioncomponent_name}}
                </ng-template>
            </ng-select>
        </div>
    </div> -->




            <div *ngIf="showInput2">
                <div class="col-12 col-lg-3 col-md-3 col-sm-12 mt-4"><span class="ms-6"><span class="fw-bold">Other
                            Allowance</span></span>
                    <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-1">
                        <input type="radio" class="form-control-input ms-4 me-2" formControlName="other_allowance"
                            value="Addition">
                        <label><span class="fw-bold">Addition</span></label>
                        <input type="radio" class="form-control-input ms-4 me-2" formControlName="other_allowance"
                            value="Deduction">
                        <label><span class="fw-bold">Deduction</span></label>

                    </div>
                </div>
            </div>

            <br>
            <div *ngIf="contribution_type === 'EMPLOYEE ONLY' ">
                <div class="card-header bg-lightblue">
                    <h3 class="card-title"><span class="fw-bold">Employee Contribution</span></h3>
                </div>

                <div class="d-flex flex-row fv-row flex-wrap mt-4">


                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-6"><span class="fw-bold">Is
                                Percentage</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-1">
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="is_percent"
                                value='Y'>
                            <label><span class="font-bold">Yes</span></label>
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="is_percent"
                                value='N'>
                            <label><span class="font-bold">No</span></label>

                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-4"><span
                                class="fw-bold">Percentage</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="employee_percent" type="text" style="width:70%;"
                                class="form-control form-control-lg form-control-solid  borderc-secondary custom-input mb-3 mb-lg-0 bg-white custom-input"
                                placeholder=" Enter Percentage" name="employee_percent" />

                        </div>
                    </div>


                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-4"><span
                                class="fw-bold">Amount</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="employee_amount" type="text" style="width:70%;"
                                class="form-control form-control-lg form-control-solid  borderc-secondary custom-input mb-3 mb-lg-0 bg-white custom-input"
                                placeholder=" Enter Amount" name="employee_amount" />

                        </div>
                    </div>




                </div>
            </div>
            <br>
            <div *ngIf="contribution_type === 'BOTH' ">

                <div class="card-header bg-lightblue">
                    <h3 class="card-title"><span class="fw-bold">Employee Contribution</span></h3>
                </div>

                <div class="d-flex flex-row fv-row flex-wrap mt-6">
                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-7"><span class="fw-bold">Is
                                Percentage</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-2">
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="is_percent"
                                value='Y'>
                            <label><span class="fw-bold">Yes</span></label>
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="is_percent"
                                value="N">
                            <label><span class="fw-bold">No</span></label>

                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-4"><span
                                class="fw-bold">Percentage</span></span>

                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="employee_percent" type="text" style="width:70%;"
                                class="form-control form-control-lg form-control-solid  borderc-secondary custom-input mb-3 mb-lg-0 bg-white custom-input"
                                placeholder=" Enter Percentage" name="employee_percent" />

                        </div>

                    </div>

                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-4"><span
                                class="fw-bold">Amount</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="employee_amount" type="text" style="width:70%;"
                                class="form-control form-control-lg form-control-solid  borderc-secondary custom-input mb-3 mb-lg-0 bg-white custom-input"
                                placeholder=" Enter Amount" name="employee_amount" />

                        </div>
                    </div>


                </div>
                <br><br>

                <div class="card-header bg-lightblue">
                    <h3 class="card-title"><span class="fw-bold">Employer Contribution</span></h3>
                </div>

                <div class="d-flex flex-row fv-row flex-wrap mt-6">


                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-7"><span class="fw-bold">Is
                                Percentage</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-2">
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="is_percentage"
                                value="Y">
                            <label><span class="fw-bold">Yes</span></label>
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="is_percentage"
                                value="N">
                            <label><span class="fw-bold">No</span></label>

                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-4"><span
                                class="fw-bold">Percentage</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="employer_percentage" type="text" style="width:70%;"
                                class="form-control form-control-lg form-control-solid  borderc-secondary custom-input mb-3 mb-lg-0 bg-white custom-input"
                                placeholder=" Enter Percentage" name="employer_percentage" />

                        </div>
                    </div>


                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-4"><span
                                class="fw-bold">Amount</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="employer_amount" type="text" style="width:70%;"
                                class="form-control form-control-lg form-control-solid  borderc-secondary custom-input mb-3 mb-lg-0 bg-white custom-input"
                                placeholder=" Enter Amount" name="employer_amount" />

                        </div>
                    </div>


                </div>





            </div>


            <div *ngIf="contribution_type === 'EMPLOYER ONLY' ">
                <div class="card-header bg-lightblue">
                    <h3 class="card-title"><span class="fw-bold">Employer Contribution</span></h3>
                </div>

                <div class="d-flex flex-row fv-row flex-wrap mt-6">


                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-7"><span class="fw-bold">Is
                                Percentage</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 ms-2">
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="is_percentage"
                                value="Y">
                            <label><span class="fw-bold">Yes</span></label>
                            <input type="radio" class="form-control-input ms-4 me-2" formControlName="is_percentage"
                                value="N">
                            <label><span class="fw-bold">No</span></label>

                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-4"><span
                                class="fw-bold">Percentage</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="employer_percentage" type="text" style="width:70%;"
                                class="form-control form-control-lg form-control-solid  borderc-secondary custom-input mb-3 mb-lg-0 bg-white custom-input"
                                placeholder=" Enter Percentage" name="employer_percentage" />

                        </div>
                    </div>


                    <div class="col-12 col-lg-3 col-md-3 col-sm-12"><span class="ms-4"><span
                                class="fw-bold">Amount</span></span>
                        <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                            <input formControlName="employer_amount" type="text" style="width:70%;"
                                class="form-control form-control-lg form-control-solid  borderc-secondary custom-input mb-3 mb-lg-0 bg-white custom-input"
                                placeholder=" Enter Amount" name="employer_amount" />

                        </div>
                    </div>


                </div>
            </div>


            <!-- Modal footer -->
            <div class="text-center my-4">
                <button id="mymodelAddBank" class="btn-success" (click)="onupdate()"
                    [disabled]="reactiveFormEdit.invalid" [ngClass]="{
        'primary-button': !reactiveFormEdit.invalid,
        'secondary-button': reactiveFormEdit.invalid
      }" data-bs-dismiss="modal">
                    <i class="fas fa-check text-white fs-5 me-2"></i>Update
                </button>
                <button class="btn-primary btn-sm text-white ms-4" (click)="onback()">
                    <i class="fa fa-arrow-left"></i>
                    <span class="ms-3">Back</span>
                </button>
            </div>



        </form>
    </div>


</div>