<div class="card m-5">
  <form [formGroup]="RaiseRequestForm">
    <div class="card-title p-5 pb-3 pt-3 rounded-top bg-primary d-flex justify-content-between align-items-center">
      <h3 class="fw-bolder text-white"><i class="fas fa-plus fw-bolder fs-3">&nbsp;&nbsp;</i>Raise Purchase
        Indent</h3>
      <button style="color: black !important;" class="btn btn-icon btn-sm bg-secondary cursor-pointer " title="back"
        routerLink="/pmr/PmrTrnPurchaseRequisition"><i class="fa-solid fa-arrow-left-long fs-1 fw-bold"></i></button>
    </div>

    <div class="card mt-1 m-3 mb-0">
      <div class="card-header d-flex align-items-center mb-3 cursor-pointer" style="background-color: #def0ff;">
        <div>
          <p class="card-title fw-bold fs-3" style="color: #2599ff;">
            <i class="fa-solid fa-clipboard fs-1"></i> &nbsp;&nbsp;Indent Details
          </p>
        </div>
      </div>

      
        
        <div class="d-flex flex-row ms-10 m-2 flex-wrap">
          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <span class="font-bold">Branch Name<span class="ms-1 text-red">*</span></span>
            <ng-select formControlName="branch_name" [class.is-invalid]="
                branch_name.invalid && (branch_name.dirty || branch_name.touched)
                  " [ngClass]="{'invalid-border': branch_name.invalid && branch_name.touched}" [items]="branch_list"
              class="custom col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 rounded" [(ngModel)]="mdlBranchName"
              bindLabel="branch_name"  placeholder="Select Branch" required></ng-select>
          </div>
          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <span class="font-bold">Ref.No</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" formControlName="purchaserequisition_gid" class="
                             form-control form-control-lg form-control-solid
                             custom-input
                             mb-3 mb-lg-0
                             bg-white
                             custom-input borderc-secondary
                            " placeholder="New Ref. No" style="height: 40px;" name="purchaserequisition_gid"
                readonly />

            </div>
          </div>
          <!-- <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <span class="font-bold">Date<span class="ms-1 text-red">*</span></span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">

              <input type="date" pattern="^(?!\s*$).+"
                [ngStyle]="{ 'border-color': RaiseRequestForm.get('po_date')?.hasError('required')
                                    && RaiseRequestForm.get('purchaserequisition_date')?.touched ? 'red' : 'rgb(209, 209, 209)'}"
                formControlName="purchaserequisition_date" class="form-control form-control-lg form-control-solid date-picker custom-input mb-3 mb-lg-0 bg-white
                              custom-input date-picker " placeholder="DD-MM-YYYY" style="height: 40px;" />
            </div>
          </div> -->
          <div class="col-12 col-lg-4 col-md-6 col-sm-12 ">
            <span class="font-bold required">Date</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="date" formControlName="purchaserequisition_date"
                [ngStyle]="{ 'border-color': RaiseRequestForm.get('purchaserequisition_date')?.hasError('required') && RaiseRequestForm.get('purchaserequisition_date')?.touched ? 'red' : 'rgb(209, 209, 209)' , 'height': '42px'}"
                class="form-control form-control-lg form-control-solid date-picker custom-input mb-3 mb-lg-0 bg-white custom-input date-picker mt-2"
                placeholder="DD-MM-YYYY" />
              <!-- <div
                *ngIf="RaiseRequestForm.get('purchaserequisition_date')?.hasError('required') && RaiseRequestForm.get('purchaserequisition_date')?.touched"
                class="text-red">
                MI Date is required.
              </div> -->
            </div>
          </div>


          
        </div>

        <div class="d-flex flex-row ms-10 m-2 flex-wrap">
          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <span class="font-bold">Department</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" formControlName="department_name" class="
                      form-control form-control-lg form-control-solid
                      custom-input borderc-secondary
                      mb-3 mb-lg-0
                      custom-input bg-white" style="height:40px;" readonly />
            </div>
          </div>

          <!-- <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <span class="font-bold">Requested By</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" formControlName="user_firstname" class="
                      form-control form-control-lg form-control-solid
                      custom-input borderc-secondary
                      mb-3 mb-lg-0
                      custom-input bg-white" style="height: 40px;" readonly />
            </div>
          </div> -->

          <!-- <div class="col-12 col-lg-4 col-md-3 col-sm-12">
            <span class="font-bold required">Requested By</span>
            <div class="col-lg-12 col-12 col-md-11 col-sm-11 fv-row mt-2 no-arrow">
              <ng-select style="margin-top: -10px;" [items]="user_list"
                      class="custom col-lg-11 col-12 fv-row mt-2"  (change)="OnChangerequestor()" (clear)="onclearrequestor()"
                       bindLabel="employee_name"
                      formControlName="employee_name" bindValue="user_gid" placeholder="Requested by"
                      [(ngModel)]="mdlUserName" required>
                   </ng-select>
            </div>
          </div> -->
          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <span class="font-bold">Requested By<span class="ms-1 text-red">*</span></span>
            <ng-select formControlName="employee_name" [class.is-invalid]="
            employee_name.invalid && (employee_name.dirty || employee_name.touched)
                  " [ngClass]="{'invalid-border': employee_name.invalid && employee_name.touched}" [items]="user_list"
              class="custom col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2 rounded" [(ngModel)]="mdlUserName"
              (change)="OnChangerequestor()" (clear)="onclearrequestor()" bindLabel="employee_name"  placeholder="Select Branch" required></ng-select>
          </div>

          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <span class="font-bold">Priority</span>
            <div class="d-flex justify-content-start mt-4 ms-2">
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm">
                <input class="form-check-input" type="radio" name="priority_remarks" id="N"
                  formControlName="priority_remarks" value="N">
                <label class="form-check-label text-gray-700 text-nowrap" for="Low">Low</label>
              </div>
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">
                <input class="form-check-input" type="radio" name="priority_remarks" formControlName="priority_remarks"
                  value="Y" id="Y">
                <label class="form-check-label text-gray-700 text-nowrap" for="High">High</label>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row ms-10 m-2 flex-wrap">
          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <span class="font-bold">Remarks</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <textarea formControlName="purchaserequisition_remarks" type="text" class="
                    form-control form-control-lg form-control-solid
                    borderc-secondary
                    bg-white
                    custom-input
                    mb-3 mb-lg-0"></textarea>
            </div>
          </div>

          <!-- <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <span class="font-bold">Reference</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <textarea type="text" formControlName="purchaserequisition_referencenumber" class="
                      form-control form-control-lg form-control-solid
                      custom-input
                      mb-3 mb-lg-0
                      bg-white
                      custom-input borderc-secondary"></textarea>
            </div>
          </div> -->
        </div>
      </div>
    


    <form [formGroup]="productform">
      <table id="productdetails_list"
        class="table table-striped table-bordered text-blue border-bottom gs-7 align-middle">
        <thead>
          <tr class="fw-bold fs-5 text-nowrap bg-lightblue text-blue">
            
            <th class="text-center text-blue" style="width: 15%;">Product Group</th>
            <th class="text-center text-blue" style="width: 15%;">Product Code</th>
            <th class="text-center text-blue"style="width: 20%;">Product Name</th>
            <th class="text-center text-blue"style="width: 20%;">Description</th>
            <th class="text-center text-blue"style="width: 15%;">Unit</th>
            <th class="text-center text-blue"style="width: 15%;">Qty Requested</th>
            <th class="align-center text-blue"style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <!--Product Group Dropdown-->
            
            <td class="pt-1 pb-1 padding_custom">
              <ng-select formControlName="productgroup_name" (change)="GetOnChangeProductsGroup()"
                [class.is-invalid]="productgroup_name.invalid && (productgroup_name.dirty || productgroup_name.touched)"
                [items]="productgroup_list" required bindLabel="productgroup_name" class="fixed-width custom-ng-select"
                bindValue="productgroup_name" [(ngModel)]="productsearch" appendTo="body"
                class="no-arrow custom-placeholder ">
              </ng-select>
            </td>
            <!--Product code-->
            <td class="padding_custom">

              <ng-select formControlName="product_code"
                [class.is-invalid]="product_code.invalid && (product_code.dirty || product_code.touched)"
                [items]="productcode_list" required bindLabel="product_code" bindValue="product_code"
                (clear)="onclearproductcode()" (change)="OnProductCode($event)" [(ngModel)]="productcodesearch1"
                appendTo="body" class="no-arrow ">
              </ng-select>

            </td>
            <td>
              <div class="col-lg-36 col-12 col-md-30 col-sm-30 fv-row">
                <ng-select formControlName="product_name" [items]="productdetails_list" required
                  class="no-arrow custom-placeholder " bindLabel="product_name" placeholder="Select an option"
                  (change)="GetOnChangeProductName()" (clear)="onclearproduct()" [(ngModel)]="mdlproduct"></ng-select>
              </div>
            </td>
            <td class=" padding_custom">
              <textarea
                class="form-control form-control-lg form-control-solid custom-input custom_height borderc-secondary mt-2 bg-white custom-input"
                formControlName="display_field"></textarea>
            </td>
            <!--Unit-->
            <td>

              <input type="text" class="form-control bg-white form-control-lg" formControlName="productuom_name"
                [(ngModel)]="mdlproductuomname" readonly>

            </td>
            <!--Requested Quantity-->
            <td>

              <input type="number" style="text-align: left;" class="
        form-control form-control-lg form-control-solid custom-input
        mb-3 mb-lg-0  borderc-secondary bg-white custom-input" formControlName="qty_requested" class="form-control form-control-lg" />

            </td>

            <td class="text-center text-nowrap">
              <button title="Add" type="button" class="btn btn-icon btn-sm bg-success me-2" (click)="productSubmit()">
                <span Class="fa-solid fa-plus text-white  fs-6"></span></button>
            </td>
          </tr>
          <tr *ngFor="let data of productsummary_list1; ">

            
            <td style="width: 15%;">{{data.productgroup_name}}</td>
            <td style="width: 15%;">{{data.product_code}}</td>
            <td style="width: 20%;">{{data.product_name}}</td>
            <td style="width: 15%;">{{data.display_field}}</td>
            <td style="width: 15%;">{{data.productuom_name}}</td>
            <td style="text-align: right;">{{data.qty_requested}}</td>
            <td>
              <button title="Delete" type="button" (click)="openModaldelete(data.tmppurchaserequisition_gid)"
                data-bs-toggle="modal" data-bs-target="#myModaldeletes" class="btn btn-icon btn-sm bg-danger ms-4"><span
                  class="fa-solid fa-trash text-white  fs-6"></span></button>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <div class="text-center my-4">
      <!-- Submit Button -->
      <button (click)="onSubmit()" [disabled]="RaiseRequestForm.invalid"
        [ngStyle]="{ 'cursor': RaiseRequestForm.invalid ? 'not-allowed' : 'pointer'}"
        [ngClass]="{ 'btn-success': !RaiseRequestForm.invalid, 'btn-secondary text-white': RaiseRequestForm.invalid }"
        data-bs-dismiss="modal" class="me-2">
        <i class="fas fa-check text-white fs-5"></i> &nbsp;Submit
      </button>
    
      <!-- Back Button -->
      <button class="btn-primary btn-sm text-white me-4" routerLink="/pmr/PmrTrnPurchaseRequisition">
        <i class="fas fa-arrow-left me-3"></i>Back
      </button>
    </div>
    
  </form>
</div>

<div class="modal" id="myModaldeletes" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="text-center my-4">
        <h2><b>Are you sure?</b></h2>
        <br>
        <p style="display: block;">Do You Want To Delete the Record ?</p>
        <div class="text-center my-4">
          <button class="btn-danger btn-sm text-white me-4" (click)="ondelete()" data-bs-dismiss="modal">
            <i class="fas fa-trash text-white fs-5 "></i> &nbsp;Delete
          </button>&nbsp;
          <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
            <i class="fas fa-close text-white"></i> &nbsp;Close
          </button>

        </div>
      </div>
    </div>
  </div>
</div>