// .bg-stssuccess{
//   background-color: #4caf50 !important;
// }
// button[enabled] {
//   background-color: #42ac72 !important;
//   font-size: 1.1rem !important;
//   font-weight: 630 !important;
//   padding: 9px 16px 9px 13px !important;
//   border-radius: 3px;
//   border: 0;
// }
// button[disabled] {
//   background-color: #cecece !important;
//   font-size: 1.1rem !important;
//   font-weight: 630 !important;
//   padding: 9px 16px 9px 13px !important;
//   border-radius: 3px;
//   cursor: not-allowed;
//   border: 0;
// }

// button[enabled]:hover {
//   background-color: #42ac72 !important;

// }

.del_modal-dialog {
  margin-left: 500px;

  .del_modal-content {
    height: 200px;
    width: 350px;

    h2 {
      margin-top: 20px;
    }

    p {
      margin-top: 20px;
    }

    button {
      margin-top: 15px;
    }
  }
}

.Icon_hover:hover{
  background-color: #f6f8fc;
  font-weight: 600;
  border-radius: 6px 6px 6px 6px;
  color: black;
}

.icon_menu {
  position: absolute;
  width: auto;
  right: 40px;
  box-shadow: 4px 4px 7px rgba(174, 174, 192, .8);
  color: #636363;
  max-height: 123px;
  overflow-y: auto;
  scrollbar-color: rgb(223, 247, 255) #ffffff;
  z-index: 2;
}

.amount{
  text-align: right;
}

.primary-button {
  background-color: #42ac72;
  color: #fff !important;
  font-size: 1.1rem !important;
  font-weight: 630 !important;
  padding: 9px 16px 9px 13px !important;
  border-radius: 3px;
  border: 0;
}

.secondary-button {
  background-color: #50cd89;
  color: #fff !important;
  font-size: 1.1rem !important;
  font-weight: 630 !important;
  padding: 9px 16px 9px 13px !important;
  border-radius: 3px;
  border: 0;
}

.btn-danger {
  
  color: #fff !important;
  font-size: 1.1rem !important;
  font-weight: 630 !important;
  padding: 9px 16px 9px 13px !important;
  border-radius: 3px;
  border: 0;
}

// .table-responsive th, .table-responsive td {
//     font-si  ze: 12px; 
// }

.del_modal-dialog {
  margin-top: 200px;
  
  .del_modal-content{
      height: 200px;
      width: 350px;

      h2 {
          margin-top: 20px;
      }
      
      p {
          margin-top: 20px;
      }

      button {
          margin-top: 15px;
      }
  }
}