<div class="card m-5">
    <div class="card-title p-2 rounded-top bg-primary d-flex justify-content-between align-items-center">
      <h1 class="fw-bolder ms-3 text-white"><i class="fa fa-shopping-cart fs-2" aria-hidden="true"></i>&nbsp;&nbsp;
        Add Sales Return</h1>
        <button style="color: black !important;" class="btn btn-icon btn-sm bg-secondary cursor-pointer " title="back"
          routerLink="/ims/ImsTrnSalesReturnSummary"><i class="fa-solid fa-arrow-left-long fs-1 fw-bold"></i></button>
    </div>
    <div class="card mt-1 m-3 mb-0">
        <div class="card-header d-flex align-items-center mb-3 cursor-pointer" style="background-color: #def0ff;">
          <p class="card-title fw-bold fs-3 " style="color: #2599ff;">
            <i class="fa-solid fa-clipboard fs-1"></i> &nbsp;Sales Return Details
          </p>
        </div>
        <form [formGroup]="SalesreturnForm">
        <div class="card p-4 border ms-5 me-5 mb-4">
            <div class="d-flex flex-row m-2 flex-wrap mt-1">
              <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                <span class="font-bold">SO Ref No</span>
                <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                  <input type="text" class="form-control form-control-lg form-control-solid
                            mb-3 mb-lg-0  borderc-secondary bg-white custom-input" readonly formControlName="salesorder_gid"
                    placeholder="SO Ref No" style="height:40px;" />
                </div>
              </div>
                <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                  <span class="font-bold">DO Ref No</span>
                  <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" class="form-control form-control-lg form-control-solid 
                    mb-3 mb-lg-0  borderc-secondary bg-white custom-input" readonly formControlName="directorder_gid"
                     placeholder="DO Ref No" style="height:40px;" />
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                  <span class="font-bold">Date</span>
                  <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" class="form-control form-control-lg form-control-solid
                              mb-3 mb-lg-0  borderc-secondary bg-white custom-input" readonly formControlName="directorder_date"
                      placeholder="Date" style="height:40px;" />
                  </div>
                </div>
                
            </div>
            <div class="d-flex flex-row m-2 flex-wrap">
                <div class="col-12 col-lg-4 col-md-3 col-sm-12">
                  <span class="font-bold">Customer Name</span>
                  <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
                    <input type="text" class="form-control form-control-lg form-control-solid 
                              mb-3 mb-lg-0  borderc-secondary bg-white custom-input" readonly formControlName="customer_name"
                      placeholder="Customer Name" style="height:40px;" />
                  </div>
                  <div class="col-11 fv-row mt-2 ">
                    <textarea type="text"
                      class="form-control mt-4 form-control-lg form-control-solid  custom-input mb-1 mb-lg-2 border-secondary bg-white custom-input"
                      readonly placeholder="Customer Details" class="form-control"
                      formControlName="customer_details" rows="4"></textarea>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-3 col-sm-12">
                  <span class="font-bold">Address</span>
                  <div class="col-11 fv-row mt-2">
                    <textarea type="text" readonly
                      class="form-control mt-4 form-control-lg form-control-solid bg-secondary custom-input mb-1 mb-lg-2 border-secondary bg-white custom-input"
                      placeholder="Customer Address" formControlName="customer_address" class="form-control"
                      rows="6"></textarea>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-3 col-sm-12">
                  <span class="font-bold required" >Return Type</span>
                  <div class="col-11 fv-row mt-2">
                    <ng-select [items]="return_type_list" class="custom col-12 fv-row mt-2"   bindLabel="return_type" formControlName="return_type" bindValue="return_type"
                     placeholder="Select an option" [(ngModel)]="mdlreturntype" required></ng-select>
                  </div>
                </div>
            </div>
            <div class="d-flex flex-row m-2 flex-wrap">
                <div class="col-12 col-lg-12 col-md-3 col-sm-12">
                    <span class="font-bold">Remarks</span>
                    <div class="col-lg-12 col-12 col-md-11 col-sm-11 fv-row mt-2 me-12">
                        <textarea type="text"  
                        class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white"
                        class="form-control" formControlName="Remarks" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="card card-body m-0 p-3 mb-5 bg-white rounded table-responsive">
              <table id="addgrn_lists" class="table table-striped table-bordered text-blue border-bottom gs-7 align-middle">
                <thead class="table_head">
                  <tr class="fw-bold fs-6 text-nowrap bg-lightblue text-blue align-middle">
                    <th style="width: 5%;" class="text-blue text-center"><input type="checkbox" id="checkAll" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" />
                    All</th>
                    <th class="text-blue text-center" style="width: 10%;">Product Group</th>
                    <th class="text-blue text-center" style="width: 20%;">Product</th>
                    <th class="text-blue text-center" style="width: 20%;">Description</th>
                    <th class="text-blue text-center" style="width: 10%;">Order Qty</th>
                    <th class="text-blue text-center" style="width: 10%;">Delivered Qty</th>
                    <th class="text-blue text-center" style="width: 10%;">Returned Qty</th>
                    <th class="text-blue text-center" style="width: 10%;" >Return Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of GetSalesReturnDetails_list; let i=index;" class="align-middle">
                    <td> <input type="checkbox" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(data) : null"
                        [checked]="selection.isSelected(data)" /></td>   
                    <td>{{data.productgroup_name}}</td>   
                    <!-- <td>{{data.product_code}}</td>                         -->
                    <td>{{data.product_code}}/{{data.product_name}}</td>
                    <td>{{data.product_desc}}</td>
                    <!-- <td>{{data.productuom_name}}</td> -->
                    <td>{{data.qty_quoted}} {{data.productuom_name}}</td>
                    <td>{{data.product_qtydelivered}} {{data.productuom_name}}</td>
                    <td>{{data.qty_returned}} {{data.productuom_name}}</td>
                    <td>
                        <input type="text" 
                        class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white custom-input"
                        formControlName="qty_returnsales" [(ngModel)]="data.qty_returnsales" style="text-align: right;" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-center my-4">
            <button (click)="onSubmit()" type="submit" class="btn-success btn-sm text-white me-2">
                <i class="fas fa-check fs-5"></i>
                <span class="ms-3">Submit</span> </button>
            <button class="btn-primary btn-sm text-white me-4 mt-3" routerLink="/ims/ImsTrnSalesReturnSummary">
                <i class="fas fa-arrow-left"></i> &nbsp;Back
            </button>
        </div>
        </form>
    </div>
</div>