<div class="card">
    <div class="card-header bg-mail" style="color: white;">
        <h3 class="card-title"><i class="bi bi-envelope" style="font-size: 20px;"></i>&nbsp;&nbsp;Send Campaign
        </h3>
        <div style="margin: 13px">
            <button title="Preview" class="btn-secondary btn-sm text-black me-4 " data-bs-toggle="modal"
                data-bs-target="#myModalview" (click)="templateview()"> <i class="fa-solid fa-eye "></i>
                Preview</button>
            <button title="Create Template" routerLink="/crm/CrmSmmSmscampaign"
                class="btn-secondary btn-sm text-black me-4 "> <i class="bi bi-arrow-left-circle"></i>
                Back</button>
        </div>

    </div>

    <div class="table-responsive">
        <div class="card card-body m-3 shadow-xl p-3 mb-5 bg-white rounded">
            <p-table #dt [value]="customerdetailslist" [(selection)]="selectedCustomer" dataKey="leadbank_gid"
                [selectionMode]="" [rowHover]="true" [rows]="200" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[200, 500,1000, 1500]" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                paginatorDropdownAppendTo="body" compareSelectionBy="equals" [resizableColumns]="true"
                [globalFilterFields]="['names', 'email', 'customer_type', 'address1','default_phone']"
                class="table table-striped table-row-bordered border-bottom gs-7">
                <ng-template pTemplate="caption">
                    <div class="row">
                        <div class="col-6 table-header">
                            <h3>Contact Summary</h3>
                        </div>
                        <div class="col-6">
                            <span class="p-input-icon-left float-end">
                                <i class="pi pi-search"></i>
                                <input pInputText class="form-control" type="text"
                                    (input)="onGlobalFilterChange($event,dt)" placeholder="Search..." />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-rowIndex="rowIndex">
                    <tr class="fs-5">
                        <th style="width: 2px">
                            <div class="field-checkbox">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </div>
                        </th>
                        <th pSortableColumn="names">
                            <div class="flex justify-content-between align-items-center text-white">
                                Name
                                <p-sortIcon field="names"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="email">
                            <div class="flex justify-content-between align-items-center text-white">Email
                                <p-sortIcon field="email"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="customer_type">
                            <div class="flex justify-content-between align-items-center text-white">Customer Type
                                <p-sortIcon field="customer_type"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="address1">
                            <div class="flex justify-content-between align-items-center text-white">Address
                                <p-sortIcon field="address1"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="default_phone">
                            <div class="flex justify-content-between align-items-center text-white">Phone Number
                                <p-sortIcon field="default_phone"></p-sortIcon>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <ng-container>
                            <td>
                                <p-tableCheckbox [value]="customer" [disabled]="customer.default_phone === ''"
                                    [ngClass]="{'highlight-checkbox': customer.default_phone === ''}"></p-tableCheckbox>
                            </td>
                            <td>
                                <span class="p-column-title">Name</span>
                                {{ customer.names || '-' }}
                            </td>
                            <td>
                                <span class="p-column-title">Email</span>{{customer.email || '-'}}
                            </td>
                            <td>
                                <span class="p-column-title">Customer Type </span>
                                {{customer.customer_type|| '-'}}
                            </td>
                            <td>
                                <span class="p-column-title">Address </span>
                                {{customer.address1|| '-'}}
                            </td>
                            <td>
                                <span class="p-column-title">Phone Number</span>
                                {{customer.default_phone|| '-'}}
                            </td>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="text-center my-4">
        <button title="Click to Send Campaign" type="button" class="btn btn-icon btn-sm" data-bs-toggle="modal"
            data-bs-target="#myModaladd" style="width: 110px;text-align: center;height: 33px;background-color:#2d8349;"
            (click)="onsend()">
            <i class="fa fa-paper-plane text-white fs-5"></i>&nbsp; Run Campaign
        </button>
    </div>
    <div class="modal" id="myModalview" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="card-header p-1 pb-2 pt-1 rounded-top bg-sms">
                    <h2 style="margin-top:10px;color:white;font-weight: bold;">
                        &nbsp; <i class="fa-solid fa-film" style="font-size: 17px;"></i>&nbsp;&nbsp;Campaign Preview
                    </h2>
                </div>
                <BR>
                <div class="card shadow-sm p-4 m-4" style="height: 300px;">
                    <div style="height: 280px; overflow-y: auto;">
                        <h2 class="fixed-label" style="color: rgb(26, 111, 145); margin-bottom: 0;">Campaign Title: <span style="color: black;">{{campagin_title}}</span></h2><br>
                        <span style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;{{campagin_message}}</span>
                    </div>
                </div>
                
                
                
                <div class="text-center my-4">
                    <button title="Close" class="btn-danger btn-sm text-white me-2" data-bs-dismiss="modal">
                        <i class="fas fa-close text-white"></i> &nbsp;Close</button>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>