
<div class="flex-container card">
  <div class="flex-container1">
    <img src="assets/media/logos/401.png" height="300px">
  </div>
  <div class="flex-container2" style="text-align:center">
    
      <h1 >Session Expired</h1><br>
      <h3>Your session has expired. Kindly login to resume with your work!</h3>
      <br>
     
   

          <a routerLink="/auth/login">
            <button class="btn-primary btn-sm text-white me-2" >          
              Back To Login</button></a>
  </div>
 
</div>
<div class="lefttop">    
</div>
<div class="rightbottom">
</div>
