<div class="card rounded-top">
  <!-- <div class="card card-body"> -->
    <div class="card-title p-5 pb-6 pt-6 rounded-top bg-primary">
      <h3 class="fw-bolder text-white"><i class="fa-solid fa-plus text-white fs-5"></i> Amend Quotation
      </h3>
    </div>
    <input type="hidden" formControlName="tmpquotationdtl_gid">
    <form [formGroup]="QuotationForm">
      <div class="m-4 mt-4 border card">
      <div class="d-flex flex-row m-6 flex-wrap">
        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Quotation Ref. No</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white custom-input"
              placeholder=" Enter Ref.No" readonly style="height: 40px;" formControlName="quotationrefno" class="form-control" />
            <input type="text" hidden
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white custom-input"
              placeholder=" Enter Ref.No" formControlName="quotation_gid" style="height: 40px;" class="form-control " />
          </div>
        </div>

        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Quotation Date</span><span class="ms-1 text-red">*</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <!-- <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white custom-input"
              formControlName="quotation_date" style="height: 40px;" class="form-control" /> -->
              <input type="date" pattern="^(?!\s*$).+"
              [ngStyle]="{ 'border-color': QuotationForm.get('quotation_date')?.hasError('required') && QuotationForm.get('quotation_date')?.touched ? 'red' : 'rgb(209, 209, 209)' , 'height': '42px'}"
              formControlName="quotation_date"
              class="form-control form-control-lg form-control-solid date-picker custom-input mb-3 mb-lg-0 bg-white custom-input date-picker mt-2"
              placeholder="DD-MM-YYYY" />
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Branch</span><span class="ms-1 text-red">*</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white custom-input"
              formControlName="branch_name" style="height: 40px;" class="form-control" />
          </div>
        </div>
       
      </div>
      <div class="d-flex flex-row m-6 flex-wrap">
        <input type="hidden" formControlName="customer_gid">
          <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Customer</span><span class="ms-1 text-red">*</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-secondary custom-input"
              placeholder=" " style="height: 40px;" formControlName="customer_name" class="form-control" />
          </div>
        </div>

        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Contact Person</span><span class="ms-1 text-red">*</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-secondary custom-input"
              placeholder="Enter Contact person " style="height: 40px;" formControlName="customercontact_names" class="form-control" />
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Contact Number</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white custom-input"
              placeholder="Enter Contact Number" style="height: 40px;" formControlName="customer_mobile" class="form-control" />
          </div>
        </div>
      </div>

      <div class="d-flex flex-row m-6 flex-wrap">
       
        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Email Address</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white custom-input"
              style="height: 40px;" formControlName="customer_email" class="form-control" />
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Customer Address</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <textarea type="text" rows="3"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0  borderc-secondary bg-white custom-input"
              readonly formControlName="customer_address"
              class="form-control"></textarea>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Remarks</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <textarea type="text" rows="3"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white custom-input"
              placeholder="Enter Remarks" formControlName="so_remarks" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row m-6 flex-wrap">
       

        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Shipping Address</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <textarea type="text" rows="3"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0  borderc-secondary bg-white custom-input"
              placeholder="Shipping Address" formControlName="shipping_to" class="form-control"></textarea>
          </div>
        </div>

        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Sales Person</span><span class="ms-1 text-red">*</span>
          <div class="col-lg-12 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <ng-select [items]="contact_list" class="
              custom
              col-lg-11 col-12
              fv-row
              mt-2           
            " bindLabel="user_name" formControlName="user_name" bindValue="user_name" placeholder="Select an option"
              [(ngModel)]="mdlUserName"> </ng-select>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Freight Terms</span>
          <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
            <input type="text"
              class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0  borderc-secondary bg-white custom-input"
              placeholder="Freight terms" style="height: 40px;" formControlName="freight_terms" class="form-control" />
          </div>
        </div>
        </div>
        <div class="d-flex flex-row m-6 flex-wrap">
         
          <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Payment Terms</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0  borderc-secondary bg-white custom-input"
                placeholder="Payment Terms" style="height: 40px;" formControlName="payment_terms" class="form-control" />
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Currency<span class="ms-1 text-red">*</span></span>
            <div class="col-lg-12 col-12 col-md-11 col-sm-11 fv-row mt-2">
  
              <ng-select formControlName="currency_code" [items]="currency_list1"
                class="custom col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2" bindLabel="currency_code"
                bindValue="currencyexchange_gid" placeholder="Select an option" [(ngModel)]="mdlCurrencyName"
                (change)="OnChangeCurrency()" (clear)="OnClearCurrency()">               
                </ng-select>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-3 col-sm-12"><span class="font-bold">Exchange Rate</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text"
                class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0  borderc-secondary bg-white custom-input"
                placeholder="Exchange Rate" style="height: 40px;" formControlName="exchange_rate" [(ngModel)]="txtExchangeRate" class="form-control" />
            </div>
          </div>
        </div>
        
      <!-- end:: PO Add Form -->

      <!-- begin::Product Summary -->

      <!-- begin::Heading -->
      <div class="card-header bg-lightblue card-height55" style="border-radius: 0px;">
        <div class="card-title m-0">
          <h5 class="fw-bolder text-blue">Product Summary</h5>
        </div>
      </div>

      <form [formGroup]="productform">
        <div class="d-flex flex-row flex-wrap m-6">
          <input type="hidden" formControlName="tmpquotationdtl_gid" />
          <div class="col-12 col-lg-2 col-md-2 col-sm-12"><span class="font-bold">Product</span><span class="ms-1 text-red">*</span>
            <ng-select [items]="product_list" class="custom col-lg-11 col-12 fv-row mt-2" bindLabel="product_name"
              (change)="GetOnChangeProductsName()" formControlName="product_name" (clear)="OnClearProduct()" placeholder="Select Product"
              [(ngModel)]="mdlproductName"></ng-select>
            <!-- </div> -->
          </div>

          <div class="col-12 col-lg-1 col-md-1 col-sm-12"><span class="font-bold">Product Code</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" class="form-control"  formControlName="product_code" [(ngModel)]="txtProductcode" readonly
                style="background-color: #e9e7e7;" style="height:40px;" >
            </div>
          </div>


          <div class="col-12 col-lg-1 col-md-1 col-sm-12"><span class="font-bold">Unit</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text"  class="form-control" style="text-align: right; height:40px;" formControlName="productuom_name" [(ngModel)]="txtProductUnit">
            </div>
          </div>

          <div class="col-12 col-lg-1 col-md-1 col-sm-12"><span class="font-bold">Unit Price</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" class="form-control" placeholder="0.00" style="text-align: right;" [(ngModel)]="txtUnitPrice"
                formControlName="unitprice" style="height:40px;" [(ngModel)]="unitprice" (input)="prodtotalcal()">
            </div>
          </div>

          <div class="col-12 col-lg-1 col-md-1 col-sm-12"><span class="font-bold">Quantity</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" class="form-control" style="text-align: right;" formControlName="quantity"
                [(ngModel)]="quantity"style="height:40px;" (input)="prodtotalcal()">
            </div>
          </div>

          <div class="col-12 col-lg-1 col-md-1 col-sm-12"><span class="font-bold">Discount(%)</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" class="form-control mt-2" placeholder="0.00"
                style="background-color: #e9e7e7; text-align: right;" formControlName="discountpercentage"
                [(ngModel)]="discountpercentage" style="height:40px;" (input)="prodtotalcal()">
            </div>
          </div>

          <div class="col-12 col-lg-1 col-md-1 col-sm-12"><span class="font-bold">Amount</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" class="form-control" placeholder="0.00" style="text-align: right; height: 40px;"
                formControlName="discountamount" [(ngModel)]="discountamount" (input)="prodtotalcal()" >
            </div>
          </div>

          <div class="col-12 col-lg-1 col-md-1 col-sm-12"><span class="font-bold">Tax</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              
              <ng-select [items]="tax_list" class="
                          custom
                  col-lg-10 col-12
                  fv-row
                  mt-2
                " bindLabel="tax_name" formControlName="tax_name" bindValue="tax_name" (change)="taxAmount()"
                placeholder="Select Tax" [(ngModel)]="mdlTaxName1"  (clear)="OnClearTax()"></ng-select>
            </div>
          </div>

          <div class="col-12 col-lg-1 col-md-1 col-sm-12"><span class="font-bold">Tax Amount</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" class="form-control mt-2" placeholder="0.00"
                style="text-align: right; background-color: #e9e7e7; height: 40px;" formControlName="tax_amount"
                [(ngModel)]="tax_amount" >
            </div>
          </div>

          <div class="col-12 col-lg-1 col-md-1 col-sm-12"><span class="font-bold">Total Amount</span>
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-2">
              <input type="text" class="form-control" placeholder="0.00"
                style="background-color: #e9e7e7; text-align: right; height: 40px;" formControlName="totalamount"
                [(ngModel)]="totalamount" (input)="prodtotalcal()">
            </div>
          </div>

          <div class="col-12 col-lg-1 col-md-1 col-sm-12">
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-8">
              <button type="submit" class="btn btn-icon btn-sm bg-success me-1"  *ngIf="showAddButton" (click)="onadd()"><span Class="fa-solid fa-plus text-white  fs-6"></span></button>

              <button title="Update" type="button" 
              (click)="productUpdate()" *ngIf="showUpdateButton"
              class="btn btn-icon btn-sm bg-primary me-2" ><span
                class="fa-solid fa-arrow-up text-white  fs-6"></span></button>
            </div>
          </div>
        </div>

        <!-- end::Product Form -->
        <!-- begin::table -->
        <div class="table-responsive">
          <div class="card card-body table-responsive m-0 shadow-lg p-3 mb-5 bg-white rounded">
            <table id="quotationproductlist" class="table table-striped table-row-bordered gy-4 gs-2">
              <thead class="table_head">
                <tr class="text-white fw-bold fs-5 text-nowrap bg-lightblue text-blue">
                  <th>S.No</th>
                  <th>Product </th>
                  <!-- <th>Product Group</th> -->
                  <th>Product Code</th>
                  <th>Unit</th>
                  <th style="text-align: right;">Unit Price</th>
                  <!-- <th style="text-align: right;">MRP</th> -->
                  <th style="text-align: right;">Quantity</th>
                  <th style="text-align: right;">Discount (%)</th>
                  <th style="text-align: right;">Tax</th>
                  <th style="text-align: right;">Total Amount</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of quotationproductlist; let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{data.product_name}}</td>
                  <!-- <td>{{data.productgroup_name}}</td> -->
                  <td>{{data.product_code}}</td>
                  <td>{{data.uom_name}}</td>
                  <td style="text-align: right;">{{data.product_price | number:'1.2-2'}}</td>
                  <!-- <td style="text-align: right;">{{data.mrp}}</td> -->
                  <td style="text-align: right;">{{data.qty_quoted}}</td>
                  <td style="text-align: right;">{{data.discount_percentage}}<br>{{data.discount | number:'1.2-2' }}</td>
                  <td style="text-align: right;">{{data.tax_name}}<br> {{data.tax_amount | number:'1.2-2'}}</td>
                  <td style="text-align: right;">{{data.product_total | number:'1.2-2'}}</td>


                  <td class="text-center text-nowrap">
                    <button title="Edit" type="button" class="btn btn-icon btn-sm bg-etdark me-2"
                      (click)="edit(data.tmpquotationdtl_gid)"><span class="fa-solid fa-pencil text-white  fs-6"></span></button>
                      <button title="Delete" type="button" data-bs-toggle="modal" data-bs-target="#myModaldeleteSO"
                      class="btn btn-icon btn-sm bg-danger me-2"
                      (click)="openModaldelete(data.tmpquotationdtl_gid)"><span
                        class="fa-solid fa-trash text-white  fs-6"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>

      <!-- end::table -->
      <!-- begin::calculation part -->
      <div class="card">
        <div class="row">
          <div class="col-9">
            <div class="card-header bg-lightblue card-height55 mt-5">
              <div class="card-title m-0">
                <h5 class="fw-bolder text-blue">Terms and Conditions</h5>
              </div>
            </div>
            <ng-select [items]="terms_list" class="custom col-lg-4 m-12 col-12 fv-row mt-5" bindLabel="template_name"
              [(ngModel)]="mdlTerms" formControlName="template_name" bindValue="template_gid"
              placeholder="Select an option" (change)="GetOnChangeTerms()"></ng-select>
            <div class="d-flex flex-row m-12 flex-wrap table-responsive">
              <div class="col-12 col-lg-11 col-md-10  col-sm-10 fv-row mt-2 ms-1">
                <angular-editor [config]="config" formControlName="termsandconditions"></angular-editor>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Payment Days:</label>
                <input type="number"
                  class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 borderc-secondary bg-white custom-input"
                  formControlName="payment_days" placeholder="Payment Days" required style="width: 105px;height:40px;" />
                </div>
                <div class="col-md-12 d-flex flex-end me-12">
                <div *ngIf="payment_days.invalid && (payment_days.dirty || payment_days.touched)">
                  <div *ngIf="payment_days.errors?.required">
                    <span style="color:red;">Enter Payment Days.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Delivery Days:</label>
                <input type="number" placeholder="Delivery Days"
                  class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0  borderc-secondary bg-white custom-input"
                  formControlName="delivery_days" class="form-control" required style="width: 105px; height:40px;" />
                </div>
                <div class="col-md-12 d-flex flex-end me-12">
                <div *ngIf="delivery_days.invalid && (delivery_days.dirty || delivery_days.touched)">
                  <div *ngIf="delivery_days.errors?.['required']">
                    <span style="color:red;">Enter Delivery Days.</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Net Amount:</label>
                <input type="text" class="form-control bg-secondary" formControlName="producttotalamount"
                  (ngModelChange)="finaltotal()" [(ngModel)]="producttotalamount"
                  style="width:100px; text-align: right;">              
              </div>
            </div>

            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Tax:</label>            
                <ng-select class=" custom col-lg-10 col-12 fv-row mt-2" 
                 [items]="tax4_list" formControlName="tax_name4" bindLabel="tax_name4"
                  bindValue="tax_name4" placeholder="Select Tax" [(ngModel)]="mdlTaxName4" (clear)="OnClearOverallTax()"
                  (change)="OnChangeTaxAmount4()" style=" width:100px;">
                </ng-select>              
              </div>    
            </div>
            
            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Overall Tax:</label>             
                <input type="text" class="form-control bg-secondary" (input)="OnChangeTaxAmount4()" readonly
                   style=" width:100px;text-align: right;" formControlName="tax_amount4"
                  [(ngModel)]="tax_amount4">   
              </div>
            </div>

            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Total With Tax:</label>          
                <input type="text" class="form-control" formControlName="total_amount" style=" width:100px;text-align:right;"
                  placeholder="0.00" [(ngModel)]="total_amount" (ngModelChange)="finaltotal()" 
                  (clear)="OnClearOverallTax()">              
            </div>
          </div>
    

            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Addon Charges:</label>
                <input type="text" formControlName="addon_charge" class="form-control" style="width:100px; text-align: right;"
                  placeholder="0.00" [(ngModel)]="addon_charge"  (ngModelChange)="finaltotal()">
              </div>
            </div>

            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Additional Discount:</label>
                <input type="text" formControlName="additional_discount" class="form-control" style="width:100px; text-align: right;"
                  placeholder="0.00" [(ngModel)]="additional_discount" (ngModelChange)="finaltotal()">
              </div>
            </div>

            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Freight Charges:</label>
                <input type="text" formControlName="freight_charges" class="form-control" style="width:100px; text-align: right;"
                  placeholder="0.00" [(ngModel)]="freight_charges" (ngModelChange)="finaltotal()">    
              </div>
            </div>
            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Buy Back/Scrap:</label>
                <input type="text" formControlName="buyback_charges" class="form-control" style="width:100px; text-align: right;"
                  placeholder="0.00" [(ngModel)]="ForBBCharges" (ngModelChange)="finaltotal()">
              </div>
            </div>
            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Packing/Forwarding Charges:</label>
                <input type="text" class="form-control" style="width:100px; text-align: right;" formControlName="packing_charges"  [(ngModel)]="packing_charges" 
                  (ngModelChange)="finaltotal()" placeholder="0.00">&nbsp;
              </div>
            </div>

            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Insurance Charges:</label>
                <input type="text" formControlName="insurance_charges" class="form-control" style="width:100px; text-align: right;"
                  placeholder="0.00" [(ngModel)]="insurance_charges" (ngModelChange)="finaltotal()">
              </div>
            </div>

            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Round Off:</label>
                <input type="text" formControlName="roundoff" class="form-control" style="width:100px; text-align: right;"
                  placeholder="0.00" [(ngModel)]="roundoff" (ngModelChange)="finaltotal()">
              </div>
            </div>

            <div class="d-flex row justify-content-end mt-2">
              <div class="col-md-12 d-flex align-items-center">
                <label class="col-sm-6 col-form-label fw-bolder">Grand Total:</label>
                <input type="text" formControlName="Grandtotal" readonly class="form-control bg-secondary" 
                  style="width:100px;text-align: right;" placeholder="0.00"
                  [(ngModel)]="grandtotal" [ngModel]="grandtotal | number: '1.2-2'"  (ngModelChange)="finaltotal()">                
              </div>
            </div>
            <!--Summary count ends-->
          </div>
          <div class="text-center my-4">
            <button type="submit" class="btn-success btn-sm text-white me-4" (click)="onsubmit()">
              <i class="fas fa-check text-white fs-5  "></i> &nbsp;Amend
            </button> &nbsp;&nbsp;
            <button class="btn-primary btn-sm text-white me-4" (click)="onback()">
              <i class="fas fa-arrow-left text-white"></i> &nbsp;Back
            </button>
          </div>
        </div>
      </div>
    </form>
  <!-- </div> -->

            <div class="modal" id="myModaldeleteSO" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog del_modal-dialog">
              <div class="modal-content del_modal-content">
                <div class="text-center my-4">
                  <h2><b>Are you sure?</b></h2>
                  <p style="display: block;">Do You Want To Delete the Record ?</p>
                  <div class="text-center my-4">
                    <button class="btn-danger btn-sm text-white me-4" data-bs-dismiss="modal" (click)="ondelete()">
                      <i class="bi bi-trash-fill text-white fs-5 me-2" data-bs-dismiss="modal"></i>Delete
                    </button>
                    <button class="btn-primary btn-sm text-white me-2" data-bs-dismiss="modal">
                      <i class="fas fa-close text-white me-2"></i>Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>