.btn-success:hover {
    background-color: #42ac72 !important;
}

.btn-success:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed !important;
}
.Icon_hover:hover{
    background-color: #f6f8fc;
    font-weight: 600;
    border-radius: 6px 6px 6px 6px;
    color: black;
  }
 
  .icon_menu {
    position: absolute;
    width: auto;
    right: 40px;
    box-shadow: 4px 4px 7px rgba(174, 174, 192, .8);
    color: #636363;
    max-height: 123px;
    overflow-y: auto;
    scrollbar-color: rgb(223, 247, 255) #ffffff;
    z-index: 2;
  }