.primary-button {
    background-color: #42ac72;
    color: #fff !important;
    font-size: 1.1rem !important;
    font-weight: 630 !important;
    padding: 9px 16px 9px 13px !important;
    border-radius: 3px;
    border: 0;
}

.secondary-button {
    background-color: #50cd89;
    color: #fff !important;
    font-size: 1.1rem !important;
    font-weight: 630 !important;
    padding: 9px 16px 9px 13px !important;
    border-radius: 3px;
    border: 0;
}


// .table-responsive {

//     th {
//         font-size: 11px;
//         text-align: left;
//         vertical-align: top;

//     }

//     td {
//         font-size: 11px;
//         text-align: left;
//     }
// }

.scroll { 
    padding: 5px;
    overflow: scroll;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #009ef7;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #009ef7;
  }

  /* Add this CSS in your global CSS file or component-specific CSS */
.table-container {
  width: 100%; /* Adjust the width as needed */
  overflow-x: auto; /* Add horizontal scrollbar when content overflows */
  white-space: nowrap; /* Prevent line breaks for table cells */
}

.table-content {
  width: auto; /* Allow content to exceed container width */
}

.table-header {
  font-size: 12px;
  /* Adjust any other styling as needed */
}

/* Adjust the cell width for your specific table as needed */
.table-header th {
  width: 100px;
}

.table-responsive {
  overflow-x: auto;
  white-space: nowrap;
}

.table {
  width: auto !important;
}
  
  