.form-control{
    
        display: block;
        width: 42%;
        padding: 0.775rem 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.5;
        color: var(--bs-gray-700);
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: 1px solid var(--bs-gray-300);
        border-radius: 0.475rem;
        box-shadow: false;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}