.i-card{
    background-image: linear-gradient(to right,white,white);
    width: 900px;
    text-align: center;
    font-family: 'Georgia';
    margin-left: 170px;
    min-height: 500px;
}

.card1{
      min-height: 100px;

label{
        font-size: 20px;
        margin-top: 60px;
        font-family: 'Georgia';
    }

input{
    font-size: 20px;
        margin-left: 10px;
    }
}

.date_time{

    margin-top: 55px;
    font-size: 70px;
    font-family:  Charcoal, sans-serif;
    color: brown;
    font-weight: bold;
}

.para{
    font-size: 15px;
    margin-top: 10px;
}


.submit-button .btn-success{
    background-color: rgb(219, 96, 168);
}

.icon{
    font-weight: bold; 
    font-size: 15px;
}


.btn-primary:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed !important;
}
