
#kt_chat_contacts_body1 {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
     scrollbar-color: lightblue #e4e4e4;
  }
  
  .table-scroll {
    max-height: 300px; /* Set the desired height for the scrollable area */
    overflow-y: auto;
  }
  #kt_chat_contacts_body1::-webkit-scrollbar {
    width: 8px;
    /* You can adjust the width to your preference */
  }
  
  #kt_chat_contacts_body1::-webkit-scrollbar-thumb {
    background: #888;
    /* You can set the color of the scrollbar thumb */
    border-radius: 10px;
    /* You can adjust the border radius to your preference */
    height: 5px;
  }