<div class="card shadow-sm">

    <div class="card-title p-5 pb-6 pt-6 rounded-top bg-primary ">
        <h3 class="fw-bolder text-white">
            <i class="fa-solid fas fa-users fs-3 me-4"></i>Assign Customer
        </h3>
    </div>
    <div class="col" *ngFor="let data of pricesegmentheader_list">
        <h3 class="card-title ms-3 mt-3">{{data.pricesegment_name}} - Discount Percentage:<span
            class="ms-3 p-1 fs-4 badge bg-success text-white">{{data.pricesegment_count}}%</span></h3>
      </div>
    <div class="table-responsive">
        <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
            <table id="assign_list" class="table table-striped table-row-bordered gy-5 gs-7 ">
                <thead>
                    <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                        <th>
                            <input type="checkbox" id="checkAll" (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()" />
                             All</th>
                        <th>Customer Code</th>
                        <th>Customer</th>
                        <th>Contact</th>
                        <th>Country</th>
                        <th>Region </th>
                        <!-- <th>Price Segment</th> -->
                        <th>Sales Person</th>
                        <th>Customer Since</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of assign_list; let i=index;" class="align-middle">
                        <td> <input type="checkbox" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(data) : null"
                                [checked]="selection.isSelected(data)" /></td>
                        <td>{{data.customer_id}}</td>
                        <td>{{data.customer_name}}</td>
                        <td>{{data.contact_details}}</td>
                        <td>{{data.customer_country}}</td>
                        <td>{{data.region_name}}</td>
                        <!-- <td>{{data.pricesegment_name}}</td> -->
                        <td>{{data.salesperson_gid}}</td>
                        <td class="align-middle" style="width: 100px;">
                            <a class="ms-6 count font-bold">{{data.customer_since}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 

    <div class="text-center my-4">
        <button type="submit" class="btn-success btn-sm text-white me-2" (click)="assign()">
            <i class="fa fa-tasks fs-5 me-3"></i>Assign
        </button>

        <button class="btn-primary btn-sm text-white me-4" routerLink="/smr/SmrMstPricesegmentSummary">
            <i class="fas fa-arrow-left me-3"></i>Back
        </button>
    </div>
</div>