.del_modal-dialog {
    margin-top: 200px;
    
    .del_modal-content{
        height: 200px;
        width: 350px;

        h2 {
            margin-top: 20px;
        }
        
        p {
            margin-top: 20px;
        }

        button {
            margin-top: 15px;
        }
    }
}

.btn-success:hover {
    background-color: #42ac72 !important;
}

.btn-success:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed !important;
}