.background-color1{
    background: rgb(2, 159, 203);
    background: radial-gradient(circle, rgb(105, 214, 253) 0%, rgb(86, 183, 218) 100%); 
}
.background-color3{
    background: rgb(156, 2, 203);
    background: radial-gradient(circle, rgb(185, 39, 198) 0%, rgb(156, 51, 185) 100%); 
}